.margin-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    flex-wrap: wrap;
    width: 520px;

    .margin-option {
        border: 1px solid var(--color-dark-grey);
        border-radius: 6px;
        margin-bottom: 8px;
        display: flex;
        margin-right: 16px;

        label {
            box-sizing: border-box;
            padding: 8px;
            display: inline-block;
            background-color: var(--color-light-grey);
            font-weight: bold;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 70px;
            text-align: right;
        }

        span {
            padding: 8px;
            display: inline-block;
            flex: 1;
            cursor: pointer;

            &:hover {
                background-color: var(--main-color);
                color: var(--color-white);
            }
        }
    }
}