<otpv-header selectedOption="gestion"></otpv-header>

<mat-card class="empleados">
    <aside>
        <mat-form-field class="search mat-form-field-no-bottom">
            <input matInput
                   placeholder="Nombre"
                   [(ngModel)]="search"
                   #searchBox>
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
        <mat-action-list>
            <button mat-list-item
                    *ngFor="let empleado of es.empleados | employeeListFilter:search"
                    (click)="selectEmpleado(empleado)"
                    [ngClass]="{'selected-client': selectedEmpleado.id===empleado.id}"
                    [ngStyle]="{'background-color': empleado.color}">
                {{empleado.nombre}}
            </button>
        </mat-action-list>
        <div class="new-employee"
             *ngIf="canNewEmployees">
            <button mat-button
                    (click)="newEmpleado()">
                <mat-icon>add_circle_outline</mat-icon>
                Añadir nuevo empleado
            </button>
        </div>
    </aside>
    <main>
        <div [ngClass]="{'show': start}"
             class="start-message">Elige un empleado de la lista.</div>
        <div [ngClass]="{'show': !start}"
             class="main-body">
            <form [formGroup]="form"
                  (ngSubmit)="onSubmit()">
                <mat-tab-group [selectedIndex]="selectedTab"
                               (selectedIndexChange)="selectedTab = $event"
                               #empleadoTabs>
                    <mat-tab label="DATOS">
                        <div>
                            <div class="form-field max-width">
                                <label>Nombre</label>
                                <mat-form-field class="max-width">
                                    <input matInput
                                           placeholder="Nombre"
                                           formControlName="nombre">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="has-password">
                            <mat-checkbox formControlName="hasPassword">
                                Empleado con contraseña
                            </mat-checkbox>
                        </div>
                        <div class="password-row"
                             [ngClass]="{'show': form.value.hasPassword}">
                            <div class="form-field half-width">
                                <label>Contraseña</label>
                                <mat-form-field class="max-width">
                                    <input matInput
                                           placeholder="Contraseña"
                                           formControlName="password"
                                           type="password">
                                </mat-form-field>
                            </div>
                            <div class="form-field half-width">
                                <label>Confirmar contraseeña</label>
                                <mat-form-field class="max-width">
                                    <input matInput
                                           placeholder="Confirmar contraseeña"
                                           formControlName="confirmPassword"
                                           type="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div class="form-field max-width">
                                <label>Color</label>
                                <mat-form-field class="max-width">
                                    <input matInput
                                           placeholder="Color"
                                           type="color"
                                           formControlName="color">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="PERMISOS"
                             *ngIf="canChangeEmployeeRoles">
                        <div class="rol-list">
                            <div class="rol-group"
                                 *ngFor="let group of list | keyvalue: originalRolGroupOrder">
                                <label>{{group.value.name}}</label>
                                <div class="rol-list-items">
                                    <mat-checkbox *ngFor="let rol of group.value.roles | keyvalue: originalRolOrder"
                                                  [title]="rol.value.description"
                                                  [(ngModel)]="selectedRolList[rol.value.id]"
                                                  [ngModelOptions]="{standalone: true}">
                                        {{rol.value.name}}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="ESTADÍSTICAS"
                             *ngIf="canSeeStatistics">
                    </mat-tab>
                </mat-tab-group>
                <div class="actions"
                     [ngClass]="{'show': selectedTab !== 2}">
                    <div class="delete">
                        <button mat-raised-button
                                *ngIf="canDeleteEmployees"
                                color="warn"
                                [disabled]="!form.value.id"
                                type="button"
                                (click)="deleteEmpleado()">Borrar</button>
                    </div>
                    <div class="others">
                        <button mat-raised-button
                                color="primary"
                                [disabled]="!form.dirty"
                                type="button"
                                (click)="resetForm()">Cancelar</button>
                        <button mat-raised-button
                                type="submit"
                                color="primary"
                                [disabled]="!form.valid || !canSaveChanges">Guardar</button>
                        {{selectedTab}}
                    </div>
                </div>
            </form>
        </div>
    </main>
</mat-card>