<mat-tab-group>
    <mat-tab label="TIENDA">
        <div class="tab-content">
            <mat-card class="data-card">
                <mat-card-content>
                    <div class="row">
                        <div class="form-field">
                            <label>Saldo inicial</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       placeholder="Saldo inicial"
                                       [ngModel]="cierreCaja.saldoInicial | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field">
                            <label>Ventas efectivo</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       placeholder="Ventas efectivo"
                                       [ngModel]="cierreCaja.importeEfectivo | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field">
                            <label>Importe total</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       placeholder="Importe total"
                                       [ngModel]="cierreCaja.importeTotal | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field">
                            <label>Importe real</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       type="number"
                                       placeholder="Importe real"
                                       (keyup)="calculaDiferencia()"
                                       [(ngModel)]="importeReal"
                                       #importeRealBox>
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field">
                            <label>Diferencia</label>
                            <mat-form-field class="form-title campo-numero"
                                            [ngClass]="{'form-ok': diferencia>0, 'form-not-ok': diferencia<0}">
                                <input matInput
                                       placeholder="Diferencia"
                                       [ngModel]="diferencia | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="tipos-row">
                <mat-card *ngFor="let tipo of cierreCaja.tipos"
                          class="data-card">
                    <mat-card-header>
                        <mat-card-title class="card-title">
                            <button mat-icon-button
                                    (click)="tipo.show = !tipo.show">
                                <mat-icon *ngIf="tipo.show">expand_less</mat-icon>
                                <mat-icon *ngIf="!tipo.show">expand_more</mat-icon>
                            </button>
                            <span>{{tipo.nombre}}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content"
                                      [ngClass]="{'show': tipo.show}">
                        <div class="form-field max-width">
                            <label>Operaciones</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       placeholder="Operaciones"
                                       [ngModel]="tipo.operaciones"
                                       readonly>
                            </mat-form-field>
                        </div>
                        <div class="form-field max-width">
                            <label>Ventas</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       placeholder="Ventas"
                                       [ngModel]="tipo.ventas | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field max-width">
                            <label>Importe real</label>
                            <mat-form-field class="form-title campo-numero">
                                <input matInput
                                       type="number"
                                       placeholder="Importe real"
                                       [(ngModel)]="tipo.real">
                            </mat-form-field>
                            €
                        </div>
                        <div class="form-field max-width">
                            <label>Diferencia</label>
                            <mat-form-field class="form-title campo-numero"
                                            [ngClass]="{'form-ok': tipo.diferencia>0, 'form-not-ok': tipo.diferencia<0}">
                                <input matInput
                                       placeholder="Diferencia"
                                       [ngModel]="tipo.diferencia | fixedNumber"
                                       readonly>
                            </mat-form-field>
                            €
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="config.ventaOnline"
             label="WEB"></mat-tab>
    <mat-tab *ngIf="config.ventaOnline"
             label="TOTALES"></mat-tab>
</mat-tab-group>
<div class="actions">
    <button mat-raised-button
            color="primary"
            (click)="cerrarCaja()">
        <mat-icon>lock</mat-icon>
        Cerrar caja
    </button>
</div>