<div class="cierre-caja">
    <mat-tab-group>
        <mat-tab label="TIENDA">
            <div class="tab-content">
                <h1>{{cierreCaja.date}}</h1>
                <mat-card class="data-card">
                    <mat-card-content>
                        <div class="row">
                            <div class="form-field">
                                <label>Saldo inicial</label>
                                <span class="value-placeholder">{{ (cierreCaja.saldoInicial ?? 0) | fixedNumber }} €</span>
                            </div>
                            <div class="form-field">
                                <label>Ventas efectivo</label>
                                <span class="value-placeholder">{{ (cierreCaja.importeEfectivo ?? 0) | fixedNumber }} €</span>
                            </div>
                            <div class="form-field">
                                <label>Salidas caja</label>
                                <span class="value-placeholder">{{ (cierreCaja.salidasCaja ?? 0) | fixedNumber }} €</span>
                            </div>
                            <div class="form-field">
                                <label>Saldo final</label>
                                <span class="value-placeholder">{{ (cierreCaja.saldoFinal ?? 0) | fixedNumber }} €</span>
                            </div>
                            <div class="form-field deploy">
                                <label>Importe real (*)</label>
                                @if (cierreCaja.real === null) {
                                <span (click)="openCoins()">
                                    Importe real
                                </span>
                                }
                                @else {
                                <span (click)="openCoins()">
                                    {{ cierreCaja.real | fixedNumber }} €
                                </span>
                                }
                            </div>
                            <div class="form-field">
                                <label>Retirado</label>
                                <mat-form-field class="form-title campo-numero">
                                    <input matInput
                                           type="number"
                                           placeholder="Retirado"
                                           [(ngModel)]="cierreCaja.retirado"
                                           (focus)="$event.target.select()"
                                           #importeRealBox>
                                    <span matTextSuffix>€</span>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <label>Diferencia</label>
                                <span class="value-placeholder"
                                      [class]="{'form-ok': cierreCaja.diferencia > 0, 'form-not-ok': cierreCaja.diferencia < 0}">{{cierreCaja.diferencia | fixedNumber}} €
                                </span>
                            </div>
                            <div class="form-field">
                                <label>Entrada</label>
                                <mat-form-field class="form-title campo-numero">
                                    <input matInput
                                           type="number"
                                           placeholder="Entrada"
                                           [(ngModel)]="cierreCaja.entrada"
                                           (focus)="$event.target.select()"
                                           #importeRealBox>
                                    <span matTextSuffix>€</span>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <label>Saldo siguiente caja</label>
                                <span class="value-placeholder">{{ cierreCaja.saldoSiguiente | fixedNumber }} €</span>
                            </div>
                        </div>
                        <div class="coin-row"
                             [class]="{'show': showCoins}">
                            <div class="coin-col">
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>1c</mat-label>
                                    <input matInput
                                           placeholder="1c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe1c">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>2c</mat-label>
                                    <input matInput
                                           placeholder="2c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe2c">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>5c</mat-label>
                                    <input matInput
                                           placeholder="5c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe5c">
                                </mat-form-field>
                            </div>
                            <div class="coin-col">
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>10c</mat-label>
                                    <input matInput
                                           placeholder="10c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe10c">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>20c</mat-label>
                                    <input matInput
                                           placeholder="20c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe20c">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>50c</mat-label>
                                    <input matInput
                                           placeholder="50c"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe50c">
                                </mat-form-field>
                            </div>
                            <div class="coin-col">
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>1 €</mat-label>
                                    <input matInput
                                           placeholder="1 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe1">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>2 €</mat-label>
                                    <input matInput
                                           placeholder="2 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe2">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>5 €</mat-label>
                                    <input matInput
                                           placeholder="5 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe5">
                                </mat-form-field>
                            </div>
                            <div class="coin-col">
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>10 €</mat-label>
                                    <input matInput
                                           placeholder="10 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe10">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>20 €</mat-label>
                                    <input matInput
                                           placeholder="20 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe20">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>50 €</mat-label>
                                    <input matInput
                                           placeholder="50 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe50">
                                </mat-form-field>
                            </div>
                            <div class="coin-col">
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>100 €</mat-label>
                                    <input matInput
                                           placeholder="100 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe100">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>200 €</mat-label>
                                    <input matInput
                                           placeholder="200 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe200">
                                </mat-form-field>
                                <mat-form-field class="campo-numero-small x-small"
                                                subscriptSizing="dynamic">
                                    <mat-label>500 €</mat-label>
                                    <input matInput
                                           placeholder="500 €"
                                           type="number"
                                           (focus)="$event.target.select()"
                                           (keyup)="updateImporteReal()"
                                           autocomplete="off"
                                           [(ngModel)]="cierreCaja.importe500">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="tipos-row">
                    @for (tipo of cierreCaja.tipos; track tipo.id) {
                    <mat-card class="data-card">
                        <mat-card-header>
                            <mat-card-title class="card-title">
                                <button mat-icon-button
                                        (click)="tipo.show = !tipo.show">
                                    @if (tipo.show) {
                                    <mat-icon>expand_less</mat-icon>
                                    }
                                    @else {
                                    <mat-icon>expand_more</mat-icon>
                                    }
                                </button>
                                <span>{{tipo.nombre}}</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="form-field max-width">
                                <label>Ventas</label>
                                <span class="value-placeholder">{{ (tipo.ventas ?? 0) | fixedNumber }} €</span>
                            </div>
                            <div class="card-content"
                                 [class]="{'show': tipo.show}">
                                <div class="form-field max-width">
                                    <label>Operaciones</label>
                                    <span class="value-placeholder">{{ tipo.operaciones }}</span>
                                </div>
                                <div class="form-field max-width">
                                    <label>Importe real</label>
                                    <mat-form-field class="form-title campo-numero">
                                        <input matInput
                                               type="number"
                                               placeholder="Importe real"
                                               [(ngModel)]="tipo.real">
                                        <span matTextSuffix>€</span>
                                    </mat-form-field>
                                </div>
                                <div class="form-field max-width">
                                    <label>Diferencia</label>
                                    <span class="value-placeholder"
                                          [class]="{'form-ok': tipo.diferencia > 0, 'form-not-ok': tipo.diferencia < 0}">
                                        {{ tipo.diferencia | fixedNumber }} €
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>
            </div>
        </mat-tab>
        @if (ventaOnline()) {
        <mat-tab label="WEB"></mat-tab>
        <mat-tab label="TOTALES"></mat-tab>
        }
    </mat-tab-group>
    <div class="actions">
        <button mat-flat-button
                color="primary"
                (click)="cerrarCaja()">
            <mat-icon>lock</mat-icon>
            Cerrar caja
        </button>
    </div>
</div>