<otpv-header selectedOption="articulos" />

<otpv-articulos-tabs [articulos]="articulos()"
                     [selected]="selected()"
                     (changeSelectedTabEvent)="changeSelectedTab($event)"
                     (createNewTabEvent)="createNewTab()"
                     (closeTabEvent)="closeTab($event)" />

<otpv-un-articulo (duplicarArticuloEvent)="duplicate($event)"
                  (cerrarArticuloEvent)="closeTab($event)"
                  (updateArticuloEvent)="updateArticulo()"
                  #articulo />