<div class="factura">
    <div class="header header-logo">
        <div class="col">
            <img [src]="logoUrl"
                 alt="Logo">
        </div>
        <div class="col align-bottom">
            <div class="row-info">
                <label>FECHA:</label>
                <span>{{factura.soloFecha}}</span>
            </div>
            <div class="row-info">
                <label>FACTURA:</label>
                <span>{{factura.numFactura}}_{{factura.year}}</span>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="col col-datos">
            {{config.nombre}}
            <br>
            {{config.cif}}
        </div>
        <div class="col col-datos right">
            <strong>{{factura.nombreApellidos}}</strong>
            <br>
            <strong>{{factura.dniCif}}</strong>
        </div>
    </div>
    <div class="header">
        <div class="col col-datos">
            {{config.direccion}}
            <br>
            {{config.telefono}} - {{config.email}}
        </div>
        <div class="col col-datos right">
            {{factura.direccion}}
            <br>
            {{factura.codigoPostal}} {{factura.poblacion}}
        </div>
    </div>

    <table class="datos">
        <thead>
            <tr>
                <th class="col-concepto">CONCEPTO</th>
                <th class="col-precio-iva-unidad">PVP</th>
                <th class="col-precio-sin-iva">BASE UD</th>
                <th class="col-unidades">UD</th>
                <th class="col-subtotal">SUBTOTAL</th>
                <th class="col-iva"
                    colspan="2">IVA</th>
                <th class="col-total">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of list">
                <tr>
                    <td class="col-concepto">
                        <mat-icon [ngClass]="{'deployed': item.deployed}"
                                  (click)="deploy(item)">chevron_right</mat-icon>
                        {{item.concepto}}
                    </td>
                    <td class="col-precio-iva-unidad right">{{item.precioIVA | fixedNumber}} €</td>
                    <td class="col-precio-sin-iva right">{{item.precioSinIVA | fixedNumber}} €</td>
                    <td class="col-unidades center">{{item.unidades}}</td>
                    <td class="col-subtotal right">{{item.subtotal | fixedNumber}} €</td>
                    <td class="col-iva-porcentaje center">{{item.iva}} %</td>
                    <td class="col-iva-importe right">{{item.ivaImporte | fixedNumber}} €</td>
                    <td class="col-total right">{{item.total | fixedNumber}} €</td>
                </tr>
                <ng-container *ngFor="let subitem of item.lineas">
                    <tr *ngIf="item.deployed">
                        <td class="sub-item col-concepto">{{subitem.concepto}}</td>
                        <td class="sub-item col-precio-iva-unidad right">{{subitem.precioIVA | fixedNumber}} €</td>
                        <td class="sub-item col-precio-sin-iva right">{{subitem.precioSinIVA | fixedNumber}} €</td>
                        <td class="sub-item col-unidades center">{{subitem.unidades}}</td>
                        <td class="sub-item col-subtotal right">{{subitem.subtotal | fixedNumber}} €</td>
                        <td class="sub-item col-iva-porcentaje center">{{subitem.iva}} %</td>
                        <td class="sub-item col-iva-importe right">{{subitem.ivaImporte | fixedNumber}} €</td>
                        <td class="sub-item col-total right">{{subitem.total | fixedNumber}} €</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>

    <div class="totales">
        <table>
            <tr>
                <td class="label">SUBTOTAL</td>
                <td class="importe">{{subtotal | fixedNumber}} €</td>
            </tr>
            <tr *ngFor="let iva of ivas">
                <td class="label">IVA {{iva.iva}}%</td>
                <td class="importe">{{iva.importe | fixedNumber}} €</td>
            </tr>
            <tr>
                <td class="label importe-total">TOTAL</td>
                <td class="importe importe-total">{{total | fixedNumber}} €</td>
            </tr>
        </table>
    </div>

    <div *ngIf="!preview"
         class="pagado">PAGADO</div>

    <div *ngIf="preview"
         class="print">
        <span>PREVISUALIZACIÓN</span>
        <button mat-raised-button
                color="primary"
                (click)="imprimir()">Facturar</button>
    </div>
</div>