<div class="tab-container">
	<div class="tab-list">
		@for (tab of vs.list; track tab.id; let i = $index) {
		<div class="tab-item"
			 [class]="{'tab-selected': vs.selected === i}"
			 (click)="selectTab(i)"
			 [style]="{'background-color': tab.color, 'color': tab.textColor}">
			{{tab.tabName}}
			@if (showClose()) {
			<mat-icon class="tab-icon"
					  (click)="closeTab(i)">close</mat-icon>
			}
		</div>
		}
		<div class="new-tab"
			 (click)="newTab()"
			 matTooltip="Nueva venta">
			<mat-icon>add</mat-icon>
		</div>
		<div class="show-reservas"
			 (click)="showReservas()"
			 matTooltip="Abrir reservas">
			<mat-icon>grading</mat-icon>
		</div>
		@if (vs.list.length > 0 && !vs.cliente) {
		<div class="select-client">
			<span (click)="selectClient()"
				  matTooltip="Elegir cliente">
				<mat-icon>person_add</mat-icon>
			</span>
		</div>
		}
		@if (vs.cliente) {
		<div class="select-client">
			<a [routerLink]="'/clientes/' + vs.cliente.id">{{vs.cliente.nombreApellidos}}</a>
			<span matTooltip="Quitar cliente">
				<mat-icon (click)="removeClient()">close</mat-icon>
			</span>
		</div>
		}
	</div>
</div>