.loading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-opened{
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-opened-button{
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-opened-button > button{
  width: 300px;
  height: 100px;
  font-size: 1.8em;
}

.toolbar{
  justify-content: space-between;
}

.toolbar-options{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.toolbar-btn{
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
}

.toolbar-btn:hover{
  background-color: #ddd;
}

.toolbar-btn > span{
  display: none;
  font-size: 12pt;
  margin-left: 8px;
}

.toolbar-btn-selected{
  background-color: #fff;
  border: 2px solid #000;
}

.options{
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  left: 0;
}

.options > *{
  height: 100%;
  width: 100%;
  display: none;
}

.option-show{
  display: block !important;
}

@media screen and (min-width: 1024px) {
  .toolbar-btn > span{
    display: inline-block;
  }
}