.linea-venta {
	border-top: 1px solid #888;

	& > div {
		display: inline-block;
		line-height: 32px;
		text-align: center;
		background-color: #fff;
		height: 32px;

		.linea-localizador {
			width: 100%;
			height: 30px;
			background-color: transparent;
			border: 0;
			outline: 0;
			padding: 0 5px;
			font-size: inherit;

			&:disabled {
				background-color: #ccc;
				cursor: default;
			}
		}

		.delete-linea {
			position: absolute;
			left: 6px;
			top: 4px;
			cursor: pointer;
		}

		.linea-cantidad {
			width: 100%;
			height: 30px;
			border: 0;
			outline: 0;
			text-align: center;
			font-size: inherit;
		}

		.editar-linea-importe {
			display: block;

			&:hover {
				cursor: pointer;
				background-color: var(--main-color);
				color: var(--main-color-contrast);
			}
		}

		.linea-importe {
			display: inline-block;
			width: 90%;
			height: 30px;
			background-color: transparent;
			border: 0;
			outline: 0;
			padding: 0 5px;
			font-size: inherit;
			text-align: right;
		}
	}
}

.cliente-estadisticas {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 6px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	display: flex;
	width: 60%;

	.col-ultimas-ventas {
		flex: 3;
	}

	.col-top-ventas {
		flex: 2;
	}

	.estadisticas-titulo {
		font-weight: bold;
		font-size: 1.3em;
		padding: 8px;
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: space-between;

		mat-icon {
			cursor: pointer;
			transition: all .3s ease-in-out;

			&.closed {
				transform: rotate(180deg);
			}
		}
	}

	.estadisticas-datos {
		max-height: 200px;
		overflow-y: auto;

		.estadisticas-item {
			display: flex;
			padding: 8px;
			margin: 8px;
			border-bottom: 2px solid #888;

			.estadisticas-item-fecha {
				flex: 1;
			}

			.estadisticas-item-localizador {
				flex: 1;
			}

			.estadisticas-item-nombre {
				flex: 2;
			}

			.estadisticas-item-cantidad {
				flex: 1;
				text-align: center;
			}

			.estadisticas-item-pvp {
				flex: 1;
				text-align: center;
			}

			.estadisticas-item-importe {
				flex: 1;
				text-align: center;
			}
		}
	}

	.estadisticas-sin-datos {
		padding: 8px;
	}
}

.importe {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 20%;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 6px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

	.total-importe {
		text-align: right;
		padding: 8px;
		font-size: 2.5em;
		margin: 8px;
		background-color: #eee;
	}

	.controles-venta {
		text-align: right;
		padding: 0 8px 8px 8px;

		.end-btn {
			margin-left: 16px;
		}
	}
}

.descuento-box {
	.descuento-options {
		button {
			display: inline-block;
			margin-right: 16px;

			&:last-child {
				margin: 0;
			}
		}
	}

	.descuento-otros {
		display: flex;
		justify-content: center;
		height: 50px;
		margin: 32px 0;

		button {
			margin-left: 16px;
			display: inline-block;
			margin-top: 5px;
		}
	}
}
