<div class="lineas-ventas">
	<div class="linea-venta" *ngFor="let linea of venta.lineas; let i = index">
		<div class="col-localizador">
			<input *ngIf="!linea.idArticulo" type="number" id="loc-new" class="linea-localizador" (keyup)="checkLocalizador($event, i)" [(ngModel)]="linea.localizador" [disabled]="searching" aria-label="Localizador">
			<ng-container *ngIf="linea.idArticulo">{{linea.localizador}}</ng-container>
			<mat-icon *ngIf="linea.idArticulo" class="delete-linea" title="¿Borrar línea?" (click)="borraLinea(i)">delete</mat-icon>
		</div>
		<div class="col-descripcion">
			<ng-container *ngIf="!linea.descripcion">&nbsp;</ng-container>
			<span *ngIf="linea.descripcion" [routerLink]="['/articulos', linea.localizador]">
				{{linea.descripcion}}
				<mat-icon *ngIf="linea.observaciones" (click)="showObservaciones($event, linea.observaciones)" title="Mostrar observaciones del artículo">info_outline</mat-icon>
			</span>
		</div>
		<div class="col-stock">
			<ng-container *ngIf="!linea.stock">&nbsp;</ng-container>
			<span *ngIf="linea.stock">{{linea.stock}}</span>
		</div>
		<div class="col-cantidad">
			<ng-container *ngIf="linea.idArticulo === null">&nbsp;</ng-container>
			<input type="number" *ngIf="linea.idArticulo !== null" [(ngModel)]="linea.cantidad" class="linea-cantidad" (keyup)="updateCantidad(i)" (click)="selectCantidad($event)">
		</div>
		<div class="col-pvp">
			<ng-container *ngIf="!linea.pvp">&nbsp;</ng-container>
			<span *ngIf="linea.pvp">{{linea.pvp | fixedNumber}} €</span>
		</div>
		<div class="col-importe">
			<ng-container *ngIf="linea.importe === null">&nbsp;</ng-container>
			<ng-container *ngIf="linea.importe">
				<span *ngIf="!editarImporte" class="editar-linea-importe" (click)="editarLineaImporte(i)">
					{{linea.total | fixedNumber}} €
					<mat-icon *ngIf="linea.importeManual" (click)="quitaImporteManual($event, i)" title="Quita el importe introducido manualmente">close</mat-icon>
				</span>
				<span *ngIf="editarImporte">
					<input type="number" class="linea-importe" min="0" step="0.1" [(ngModel)]="linea.importe" [id]="'linea-importe-' + i" (keyup)="checkImporte($event, i, false)" (blur)="checkImporte($event, i, true)">
					€
				</span>
			</ng-container>
		</div>
		<div class="col-descuentos">
			<ng-container *ngIf="linea.descuento === null">&nbsp;</ng-container>
			<ng-container *ngIf="linea.descuento !== null">
				<span *ngIf="!editarDescuento" class="editar-linea-descuento" (click)="editarLineaDescuento(i)">
					{{linea.descuento}} <ng-container *ngIf="!linea.descuentoManual">%</ng-container><ng-container *ngIf="linea.descuentoManual">€</ng-container>
					<mat-icon *ngIf="!linea.descuentoManual" (click)="abreDescuento($event, linea)" title="introducir un importe como descuento">attach_money</mat-icon>
					<mat-icon *ngIf="linea.descuentoManual" (click)="quitaDescuentoManual($event, i)" title="Quita el importe introducido como descuento">close</mat-icon>
				</span>
				<span *ngIf="editarDescuento">
					<input type="number" class="linea-descuento" min="0" step="1" [(ngModel)]="linea.descuento" [id]="'linea-descuento-' + i" (keyup)="checkDescuento($event, i, false)" (blur)="checkDescuento($event, i, true)">
					%
				</span>
			</ng-container>
		</div>
	</div>
</div>

<div class="cliente-estadisticas" *ngIf="venta.cliente">
	<div class="col-ultimas-ventas">
		<div class="estadisticas-titulo">Últimas ventas</div>
		<div class="estadisticas-datos" *ngIf="showClienteEstadisticas && venta.cliente.ultimasVentas.length">
			<div class="estadisticas-item">
				<div class="estadisticas-item-fecha">Fecha</div>
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-cantidad">Cant.</div>
				<div class="estadisticas-item-pvp">PVP</div>
				<div class="estadisticas-item-importe">Imp.</div>
			</div>
			<div class="estadisticas-item" *ngFor="let item of venta.cliente.ultimasVentas">
				<div class="estadisticas-item-fecha">{{item.fecha}}</div>
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-cantidad">{{item.cantidad}}</div>
				<div class="estadisticas-item-pvp">{{item.pvp}} €</div>
				<div class="estadisticas-item-importe">{{item.importe}} €</div>
			</div>
		</div>
		<div class="estadisticas-sin-datos" *ngIf="showClienteEstadisticas && !venta.cliente.ultimasVentas.length">
			El cliente no ha realizado ninguna compra todavía.
		</div>
	</div>
	<div class="col-top-ventas">
		<div class="estadisticas-titulo">
			Top ventas
			<mat-icon (click)="closeClienteEstadisticas()" [ngClass]="{'closed': !showClienteEstadisticas}">expand_more</mat-icon>
		</div>
		<div class="estadisticas-datos" *ngIf="showClienteEstadisticas && venta.cliente.topVentas.length">
			<div class="estadisticas-item">
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-pvp">PVP</div>
			</div>
			<div class="estadisticas-item" *ngFor="let item of venta.cliente.topVentas">
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-pvp">{{item.pvp}} €</div>
			</div>
		</div>
		<div class="estadisticas-sin-datos" *ngIf="showClienteEstadisticas && !venta.cliente.topVentas.length">
			El cliente no ha realizado ninguna compra todavía.
		</div>
	</div>
</div>

<div class="importe">
	<div class="total-importe">
		{{venta.importe | fixedNumber}} €
	</div>
	<div class="controles-venta">
		<button mat-stroked-button [disabled]="venta.lineas.length===1" (click)="cancelarVenta()">Cancelar</button>
		<button class="end-btn" mat-raised-button color="primary" [disabled]="venta.lineas.length===1" (click)="terminarVenta()">Terminar</button>
	</div>
</div>

<div class="modal-bg"  [ngClass]="{'show': muestraDescuento}">
	<div class="modal-box">
		<div class="modal-header">
			Descuento
			<a href="#" (click)="cerrarDescuento($event)">
				<mat-icon>close</mat-icon>
			</a>
		</div>
		<div class="modal-body descuento-box">
			<div class="descuento-options">
				<button mat-raised-button color="primary" *ngFor="let descuento of descuentoOptions" (click)="selectDescuento(descuento)">{{descuento}} %</button>
			</div>
			<div class="descuento-otros">
				<mat-form-field>
					<input matInput type="number" min="0" max="100" step="1" placeholder="Otro" [(ngModel)]="descuentoOtro">
				</mat-form-field>
				<button mat-raised-button color="primary">Continuar</button>
			</div>
		</div>
	</div>
</div>
