<otpv-employee-login *ngIf="vs.ventaActual.mostrarEmpleados"
					 (successEvent)="loginSuccess($event)"></otpv-employee-login>

<div class="ventas-header"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	<div class="col-localizador">Localizador</div>
	<div class="col-descripcion">Descripción</div>
	<div class="col-stock">Stock</div>
	<div class="col-cantidad">Cantidad</div>
	<div class="col-pvp">PVP</div>
	<div class="col-importe">Importe</div>
	<div class="col-descuentos">Desc.</div>
</div>

<div class="lineas-ventas"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	<div class="linea-venta"
		 *ngFor="let linea of vs.ventaActual.lineas; let i = index"
		 [ngClass]="{'linea-devolucion': linea.cantidad < 0}">
		<div class="col-localizador">
			<input *ngIf="linea.idArticulo === null"
				   [id]="'loc-new-' + ind"
				   class="linea-localizador"
				   (keydown)="checkLocalizador($event, i)"
				   autocomplete="off"
				   [(ngModel)]="linea.localizador"
				   [disabled]="searching">
			<ng-container *ngIf="linea.idArticulo !== null">{{linea.localizador}}</ng-container>
			<mat-icon *ngIf="linea.idArticulo !== null && linea.fromVenta === null"
					  class="delete-linea"
					  title="¿Borrar línea?"
					  (click)="borraLinea(i)">delete</mat-icon>
			<mat-icon *ngIf="linea.idArticulo === null && linea.fromVenta === null"
					  class="accesos-directos"
					  title="Abrir accesos directos"
					  (click)="abreAccesosDirectos()">launch</mat-icon>
			<mat-icon *ngIf="linea.fromVenta !== null"
					  class="accesos-directos"
					  (click)="mostrarDevolucion()">shopping_cart_checkout</mat-icon>
		</div>
		<div class="col-descripcion">
			<ng-container *ngIf="!linea.descripcion">&nbsp;</ng-container>
			<span *ngIf="linea.descripcion"
				  (click)="goToArticulo(linea, i)">
				{{linea.descripcion}}
				<mat-icon *ngIf="linea.observaciones"
						  (click)="showObservaciones($event, linea.observaciones)"
						  title="Mostrar observaciones del artículo">info_outline</mat-icon>
			</span>
		</div>
		<div class="col-stock">
			<ng-container *ngIf="linea.stock === null">&nbsp;</ng-container>
			<span *ngIf="linea.stock !== null">{{linea.idArticulo !== 0 ? linea.stock : '-'}}</span>
		</div>
		<div class="col-cantidad">
			<ng-container *ngIf="linea.idArticulo === null">&nbsp;</ng-container>
			<ng-container *ngIf="linea.idArticulo !== null">
				<span *ngIf="!editarCantidad && linea.fromVenta === null"
					  class="editar-linea-cantidad"
					  (click)="editarLineaCantidad(i)">
					{{linea.cantidad}}
				</span>
				<span *ngIf="editarCantidad && linea.fromVenta === null">
					<input type="number"
						   class="linea-cantidad"
						   min="0"
						   step="1"
						   [(ngModel)]="linea.cantidad"
						   [id]="'linea-cantidad-' + ind + '_' + i"
						   (keyup)="checkCantidad($event, i, false)"
						   (blur)="checkCantidad($event, i, true)">
				</span>
				<span *ngIf="linea.fromVenta !== null">{{linea.cantidad}}</span>
			</ng-container>
		</div>
		<div class="col-pvp">
			<ng-container *ngIf="linea.pvp === null">&nbsp;</ng-container>
			<span *ngIf="linea.pvp !== null">{{linea.pvp | fixedNumber}} €</span>
		</div>
		<div class="col-importe">
			<ng-container *ngIf="linea.importe === null && linea.fromVenta === null">&nbsp;</ng-container>
			<ng-container *ngIf="linea.importe !== null && linea.fromVenta === null">
				<span *ngIf="!editarImporte"
					  [ngClass]="{'editar-linea-importe': vs.ventaActual.modificarImportes, 'editar-linea-importe-off': !vs.ventaActual.modificarImportes}"
					  (click)="editarLineaImporte(i)">
					{{linea.total | fixedNumber}} €
					<mat-icon *ngIf="linea.importeManual"
							  (click)="quitaImporteManual($event, i)"
							  title="Quita el importe introducido manualmente">close</mat-icon>
				</span>
				<span *ngIf="editarImporte">
					<input type="number"
						   class="linea-importe"
						   min="0"
						   step="0.1"
						   [(ngModel)]="linea.importe"
						   [id]="'linea-importe-' + ind + '_' + i"
						   (keyup)="checkImporte($event, i, false)"
						   (blur)="checkImporte($event, i, true)">
					€
				</span>
			</ng-container>
			<span *ngIf="linea.fromVenta !== null">{{linea.total | fixedNumber}} €</span>
		</div>
		<div class="col-descuentos">
			<ng-container *ngIf="linea.descuento === null && linea.fromVenta === null">&nbsp;</ng-container>
			<ng-container *ngIf="linea.descuento !== null && linea.fromVenta === null">
				<span *ngIf="!editarDescuento"
					  class="editar-linea-descuento"
					  (click)="editarLineaDescuento(i)">
					{{linea.descuento}}
					<ng-container *ngIf="!linea.descuentoManual">%</ng-container>
					<ng-container *ngIf="linea.descuentoManual">€</ng-container>
					<mat-icon *ngIf="!linea.descuentoManual && vs.ventaActual.modificarImportes"
							  (click)="abreDescuento($event, linea)"
							  title="introducir un importe como descuento">euro</mat-icon>
					<mat-icon *ngIf="linea.descuentoManual"
							  (click)="quitaDescuentoManual($event, i)"
							  title="Quita el importe introducido como descuento">close</mat-icon>
				</span>
				<span *ngIf="editarDescuento">
					<input type="number"
						   class="linea-descuento"
						   min="0"
						   step="1"
						   [(ngModel)]="linea.descuento"
						   [id]="'linea-descuento-' + ind + '_' + i"
						   (keyup)="checkDescuento($event, false)"
						   (blur)="checkDescuento($event, true)">
					%
				</span>
			</ng-container>
			<span *ngIf="linea.fromVenta !== null">{{linea.descuento}} %</span>
		</div>
	</div>
</div>

<div class="cliente-estadisticas"
	 *ngIf="vs.ventaActual.cliente">
	<div class="col-ultimas-ventas">
		<div class="estadisticas-titulo">Últimas ventas</div>
		<div class="estadisticas-datos"
			 *ngIf="showClienteEstadisticas && vs.ventaActual.cliente.ultimasVentas.length">
			<div class="estadisticas-item">
				<div class="estadisticas-item-fecha">Fecha</div>
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-unidades">Unid.</div>
				<div class="estadisticas-item-importe">PVP</div>
				<div class="estadisticas-item-importe">Imp.</div>
			</div>
			<div class="estadisticas-item"
				 *ngFor="let item of vs.ventaActual.cliente.ultimasVentas">
				<div class="estadisticas-item-fecha">{{item.fecha}}</div>
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-unidades">{{item.unidades}}</div>
				<div class="estadisticas-item-importe">{{item.pvp| fixedNumber}} €</div>
				<div class="estadisticas-item-importe">{{item.importe| fixedNumber}} €</div>
			</div>
		</div>
		<div class="estadisticas-sin-datos"
			 *ngIf="showClienteEstadisticas && !vs.ventaActual.cliente.ultimasVentas.length">
			El cliente no ha realizado ninguna compra todavía.
		</div>
	</div>
	<div class="col-top-ventas">
		<div class="estadisticas-titulo">
			Top ventas
			<mat-icon (click)="closeClienteEstadisticas()"
					  [ngClass]="{'closed': !showClienteEstadisticas}">expand_more</mat-icon>
		</div>
		<div class="estadisticas-datos"
			 *ngIf="showClienteEstadisticas && vs.ventaActual.cliente.topVentas.length">
			<div class="estadisticas-item">
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-importe">Imp.</div>
			</div>
			<div class="estadisticas-item"
				 *ngFor="let item of vs.ventaActual.cliente.topVentas">
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-importe">{{item.importe | fixedNumber}} €</div>
			</div>
		</div>
		<div class="estadisticas-sin-datos"
			 *ngIf="showClienteEstadisticas && !vs.ventaActual.cliente.topVentas.length">
			El cliente no ha realizado ninguna compra todavía.
		</div>
	</div>
</div>

<div class="importe"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	<div class="total-importe"
		 (click)="openCaja()">
		{{vs.ventaActual.importe | fixedNumber}} €
	</div>
	<div class="venta-anterior"
		 [ngClass]="{'show': showUltimaVenta}">
		<span>Última venta: {{ultimaVentaImporte | fixedNumber}} €</span>
		<span>Cambio: {{ultimaVentaCambio | fixedNumber}} €</span>
	</div>
	<div class="controles-venta">
		<button mat-stroked-button
				[disabled]="vs.ventaActual.lineas.length===1"
				(click)="cancelarVenta()">Cancelar</button>
		<button class="end-btn"
				mat-raised-button
				color="primary"
				[disabled]="vs.ventaActual.lineas.length===1"
				(click)="terminarVenta()">Terminar</button>
	</div>
</div>