<div class="modal-bg"
     [ngClass]="{'show': mostrarCaja}">
    <div class="modal-box">
        <div class="modal-header">
            <span>Caja</span>
            <a href="#"
               (click)="cerrarCaja($event)">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <div class="modal-body">
            <mat-tab-group [selectedIndex]="cajaSelectedTab"
                           (selectedIndexChange)="cajaSelectedTab = $event"
                           #cajaTabs>
                <mat-tab label="HISTÓRICO DE VENTAS">
                    <div class="historico-header">
                        <mat-form-field class="mat-form-field-no-bottom historico-header-options">
                            <mat-select [(ngModel)]="historicoModo">
                                <mat-option value="fecha">
                                    Fecha
                                </mat-option>
                                <mat-option value="rango">
                                    Rango
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="historico-header-fecha"
                             [ngClass]="{'show': historicoModo === 'fecha'}">
                            <button mat-icon-button
                                    (click)="previousFecha()">
                                <mat-icon>chevron_left</mat-icon>
                            </button>
                            <mat-form-field class="mat-form-field-no-bottom">
                                <mat-label>Elige fecha</mat-label>
                                <input matInput
                                       [matDatepicker]="fechaPicker"
                                       [(ngModel)]="fecha"
                                       (ngModelChange)="changeFecha()">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="fechaPicker"></mat-datepicker-toggle>
                                <mat-datepicker #fechaPicker></mat-datepicker>
                            </mat-form-field>
                            <button mat-icon-button
                                    (click)="nextFecha()">
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                        </div>
                        <div class="historico-header-rango"
                             [ngClass]="{'show': historicoModo === 'rango'}">
                            <mat-form-field class="mat-form-field-no-bottom">
                                <mat-label>Fecha desde</mat-label>
                                <input matInput
                                       [matDatepicker]="rangoDesdePicker"
                                       [(ngModel)]="rangoDesde">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="rangoDesdePicker"></mat-datepicker-toggle>
                                <mat-datepicker #rangoDesdePicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="mat-form-field-no-bottom">
                                <mat-label>Fecha hasta</mat-label>
                                <input matInput
                                       [matDatepicker]="rangoHastaPicker"
                                       [(ngModel)]="rangoHasta">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="rangoHastaPicker"></mat-datepicker-toggle>
                                <mat-datepicker #rangoHastaPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="historico-body">
                        <table mat-table
                               [dataSource]="historicoVentasDataSource"
                               matSort
                               class="mat-elevation-z2 ">

                            <!-- Fecha -->
                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    sortActionDescription="Ordenar por fecha">
                                    Fecha
                                </th>
                                <td mat-cell
                                    *matCellDef="let element"> {{element.fecha}} </td>
                            </ng-container>

                            <!-- Importe -->
                            <ng-container matColumnDef="total">
                                <th mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    sortActionDescription="Ordenar por importe">
                                    Importe
                                </th>
                                <td class="right"
                                    mat-cell
                                    *matCellDef="let element"> {{element.total}} €</td>
                            </ng-container>

                            <!-- Tipo de pago -->
                            <ng-container matColumnDef="nombreTipoPago">
                                <th mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    sortActionDescription="Ordenar por tipo de pago">
                                    Tipo de pago
                                </th>
                                <td mat-cell
                                    *matCellDef="let element">
                                    <div class="pay-type">
                                        <mat-icon *ngIf="element.idCliente !== null"
                                                  [title]="element.cliente">account_circle</mat-icon>
                                        {{element.nombreTipoPago}}
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row
                                *matHeaderRowDef="historicoVentasDisplayedColumns"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: historicoVentasDisplayedColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="SALIDAS CAJA">salidas caja</mat-tab>
                <mat-tab label="CERRAR CAJA">cerrar caja</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>