<div class="modal-bg"
     [ngClass]="{'show': mostrarCaja}">
    <div class="modal-box">
        <div class="modal-header">
            <span>Caja</span>
            <a href="#"
               (click)="cerrarCaja($event)">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <div class="modal-body">
            <mat-tab-group [selectedIndex]="cajaSelectedTab"
                           (selectedIndexChange)="cajaSelectedTab = $event"
                           #cajaTabs>
                <mat-tab label="HISTÓRICO DE VENTAS">
                    <otpv-historico-ventas #historicoVentas></otpv-historico-ventas>
                </mat-tab>
                <mat-tab label="SALIDAS CAJA">salidas caja</mat-tab>
                <mat-tab label="CERRAR CAJA">cerrar caja</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>