.card-margin {
	margin: 16px;

	.articulo-header {
		display: flex;

		.articulos-space {
			flex: 1;
		}

		.articulos-find {
			display: inline-flex;
			align-items: center;
		}
	}

	.articulo-numbers {
		display: block;

		.articulo-col {
			display: flex;
			flex-direction: column;
		}
	}

	.tab-icon {
		margin-left: 8px;
	}

	.fec-cad-hidden {
		display: none;
	}

	.stats-box {
		margin-top: 16px;

		label {
			font-weight: bold;
			line-height: 24px;
		}

		.stats-data {
			border: 1px solid rgba(0, 0, 0, 0.12);
			height: 150px;
			border-radius: 6px;
			margin-bottom: 16px;
		}

		.stats-controls {
			display: flex;
			justify-content: flex-end;
		}
	}

	.new-cod-barras {
		width: 100%;
		margin: 0 auto;
		border: 1px solid #ccc;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 8px 0;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

		.new-cod-barras-item {
			height: 36px;
			line-height: 55px;
			outline: 0;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 0 .75em 0 .75em;
			width: 60%;
			box-sizing: border-box;
			transition: .4s border;
			font-size: 0.9em;

			&:hover {
				border: 2px solid #000;
			}

			&:focus {
				border: 2px solid #3f56af;
			}
		}
	}

	.cod-barras-empty {
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
		color: #888;
	}

	.cod-barras-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
		justify-content: space-around;

		.cod-barras-item {
			width: 100%;
			border: 1px solid #ccc;
			border-radius: 6px;
			align-items: center;
			padding: 8px;
			text-align: center;
			margin-bottom: 16px;
			box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

			ngx-barcode {
				display: inline-block;
			}

			.cod-barras-item-cod {
				line-height: 24px;
				text-align: left;
				font-weight: bold;
				font-size: 1.5em;

				.cod-barras-item-remove {
					float: right;
				}
			}
		}

		.cod-barras-por-defecto {
			background-color: #eee;
		}
	}

	.show-check {
		display: block;
		margin-top: 16px;
	}

	#foto-file {
		display: none;
	}

	.fotos-list {
		width: 100%;
		outline: 1px solid #e0e0e0;
		height: 150px;
		padding: 8px;
		overflow-x: auto;
		transition: all .2s;
		border-radius: 6px;
		margin-bottom: 16px;

		&:hover {
			outline: 2px solid #000;
		}

		.foto-item {
			width: 150px;
			height: 130px;
			display: inline-block;
			margin-right: 16px;
			text-align: center;
			position: relative;

			img {
				height: 100%;
				max-width: 100%;
			}

			.foto-icon {
				display: none;
				position: absolute;
				cursor: pointer;
				width: 28px;
				height: 28px;
				justify-content: center;
				align-items: center;
				background-color: rgba(255, 255, 255, 0.4);
				border-radius: 6px;

				&.foto-icon-delete {
					top: 8px;
					right: 8px;
					color: #f00;
				}

				&.foto-icon-previous {
					bottom: 8px;
					left: 8px;
				}

				&.foto-icon-next {
					bottom: 8px;
					right: 8px;
				}
			}

			&:hover .foto-icon {
				display: flex;
			}
		}
	}

	.fotos-add {
		text-align: right;
	}

	.dar-de-baja {
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			width: 200px;
			height: 100px;
			font-size: 1.8em;
		}
	}

	.articulo-save {
		height: 80px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		button {
			width: 150px;
			height: 60px;
			margin-left: 24px;

			img {
				width: 24px;
			}
		}
	}
}

.form-field {
	display: inline-block;
	padding-right: 16px;
	box-sizing: border-box;

	.nombre-label {
		width: 280px;
	}

	label {
		display: block;
		line-height: 24px;
		font-weight: bold;
	}
}

.form-field-left {
	display: inline-block;
	margin-right: 48px;

	label {
		display: inline-block;
		line-height: 24px;
		font-weight: bold;
		margin-right: 16px;
		min-width: auto;
		width: 80px;
		text-align: right;
	}

	span {
		display: inline-block;
		width: 20px;
		text-align: center;
	}

	&.margen {
		line-height: 75px;

		span {
			width: 120px;
			text-align: right;
			outline: 1px solid #e0e0e0;
			height: 55px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 5px;
			padding-right: 8px;
			cursor: pointer;
			transition: all .2s;

			&:hover {
				outline: 2px solid #000;
			}
		}
	}
}

.form-field-left-short {
	display: inline-block;
	margin-right: 48px;
	margin-bottom: 16px;

	label {
		display: inline-block;
		line-height: 24px;
		font-weight: bold;
		margin-right: 16px;
	}
}

.margin-left {
	margin-left: 16px;
}

.margin-bottom {
	margin-bottom: 24px;
}

.align-right {
	text-align: right;
}

.campo-numero {
	width: 120px;
}

.half-width {
	width: 50%;
}

.max-width {
	width: 100%;
}

.confirmar-dar-de-baja-btn {
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;

	button {
		width: 150px;
		height: 60px;
		font-size: 1.2em;
	}
}

.prov-marcas-list {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-top: 4px;
	max-height: 470px;
	overflow: auto;

	.prov-marcas-item {
		padding: 16px;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: 0;
		}
	}
}

.articulo-proveedor-cols {
	display: flex;
	flex-direction: column;

	& > div {
		width: 100%;
	}
}

.search-box {
	.search-box-header {
		display: flex;
		justify-content: space-around;
	}

	.search-box-result {
		div {
			height: 45px;
			display: flex;
			align-items: center;
		}

		.search-box-result-header {
			background-color: #eee;
			border-bottom: 1px solid #ccc;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;

			.search-box-col-nombre {
				border-left: 0;
			}

			.search-box-col-marca {
				justify-content: center;
			}

			.search-box-col-stock {
				border-right: 0;
			}
		}

		.search-box-col-nombre {
			padding-left: 10px;
			width: 45%;
			border-left: 1px solid #ccc;
		}

		.search-box-col-marca {
			width: 45%;
		}

		.search-box-col-stock {
			width: 10%;
			justify-content: center;
			border-right: 1px solid #ccc;
		}

		.search-box-list {
			max-height: 300px;
			min-height: 100px;
			overflow: hidden;
			overflow-y: auto;
			flex-direction: column;
		}

		.search-box-list-item {
			border-bottom: 1px solid #ccc;
			width: 100%;

			&::last-child {
				border-bottom: 0;
			}

			&:hover {
				background-color: #3f51b5;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

.margin-option {
	border: 1px solid #888;
    border-radius: 6px;
    margin-bottom: 8px;
	display: flex;

	label {
		padding: 8px;
		display: inline-block;
		background-color: #ccc;
		font-weight: bold;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		width: 70px;
		text-align: right;
	}

	span {
		padding: 8px;
		display: inline-block;
		flex: 1;
		cursor: pointer;

		&:hover {
			background-color: var(--main-color);
			color: #fff;
		}
	}
}

@media screen and (min-width: 1024px) {
	.form-field-left {
		& > label {
			min-width: 100px;
			width: auto;
		}

		.nombre-label {
			width: 800px;
		}
	}
	.margin-right {
		margin-right: 60px;
	}
	.card-margin {
		.articulo-numbers {
			display: inline-block;
		}
		.new-cod-barras {
			width: 30%;

			.new-cod-barras-item {
				font-size: 1.2em;
				width: 75%;
			}
		}
		.cod-barras-list {
			.cod-barras-item {
				width: 30%;
			}
		}
	}
	.articulo-proveedor-cols {
		display: flex;
		flex-direction: row;

		& > div {
			width: 50%;
		}
	}
}
