<div class="loading" *ngIf="loading">
	<img src="assets/loading.svg" alt="Cargando...">
</div>

<mat-card class="card-margin">
	<mat-card-content>
		<div>
			<div class="form-field">
				<label>Localizador</label>
				<mat-form-field class="campo-numero">
					<input type="number" step="1" matInput placeholder="Localizador" [(ngModel)]="articulo.localizador" (keyup)="checkLocalizador($event)" #localizadorBox>
				</mat-form-field>
			</div>
			<div class="form-field">
				<label>Nombre</label>
				<mat-form-field class="nombre-label">
					<input matInput placeholder="Nombre" [(ngModel)]="articulo.nombre">
				</mat-form-field>
			</div>
		</div>
		<mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event" dynamicHeight>
			<mat-tab label="GENERAL">
				<div class="margin-bottom">
					<div class="form-field margin-right">
						<label>Marca</label>
						<mat-form-field>
							<mat-select [(ngModel)]="articulo.idMarca">
								<mat-option *ngFor="let marca of marcas" [value]="marca.id">
									{{marca.nombre | urldecode}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<button mat-icon-button aria-label="Añadir nueva marca" title="Añadir nueva marca" (click)="newMarca()">
							<mat-icon>add_circle_outline</mat-icon>
						</button>
					</div>
					<div class="form-field margin-right">
						<label>{{ivaLabel}}</label>
						<mat-form-field>
							<mat-select [(ngModel)]="articulo.iva">
								<mat-option *ngFor="let iva of ivaList" [value]="iva">
									{{iva}} %
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="form-field" *ngIf="mostrarWeb">
						<label>Venta online</label>
						<mat-slide-toggle color="primary" [(ngModel)]="articulo.ventaOnline">{{ articulo.ventaOnline ? 'Activado' : 'Desactivado' }}</mat-slide-toggle>
					</div>
				</div>

				<div class="articulo-numbers">
					<div class="articulo-col">
						<div class="form-field-left">
							<label>PVP</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="0.01" placeholder="Precio de Venta al Público" class="align-right"
									(change)="setTwoNumberDecimal($event)"
									(ngModelChange)="articulo.pvp=$event"
									[ngModelOptions]="{updateOn: 'blur'}"
									[ngModel]="articulo.pvp | number:'1.2-2'">
							</mat-form-field>
							<span>€</span>
						</div>
						<div class="form-field-left">
							<label>PUC</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="0.01" placeholder="Precio Unitario de Compra" class="align-right"
									(change)="setTwoNumberDecimal($event)"
									(ngModelChange)="articulo.puc=$event"
									[ngModelOptions]="{updateOn: 'blur'}"
									[ngModel]="articulo.puc | number:'1.2-2'">
							</mat-form-field>
							<span>€</span>
						</div>
						<div class="form-field-left">
							<label>Margen</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="0.01" placeholder="Margen" class="align-right"
									(change)="setTwoNumberDecimal($event)"
									(ngModelChange)="articulo.margen=$event"
									[ngModelOptions]="{updateOn: 'blur'}"
									[ngModel]="articulo.margen | number:'1.2-2'">
							</mat-form-field>
							<span>%</span>
						</div>
						<div class="form-field-left">
							<label>Precio albarán</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="0.01" placeholder="Precio albarán" class="align-right"
									(change)="setTwoNumberDecimal($event)"
									(ngModelChange)="articulo.palb=$event"
									[ngModelOptions]="{updateOn: 'blur'}"
									[ngModel]="articulo.palb | number:'1.2-2'">
							</mat-form-field>
							<span>€</span>
						</div>
					</div>
				</div>
				<div class="articulo-numbers">
					<div class="articulo-col">
						<div class="form-field-left">
							<label>Stock</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="1" placeholder="Stock" [(ngModel)]="articulo.stock" class="align-right">
							</mat-form-field>
						</div>
						<div class="form-field-left">
							<label>Stock mínimo</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="1" placeholder="Stock mínimo" [(ngModel)]="articulo.stockMin" class="align-right">
							</mat-form-field>
						</div>
						<div class="form-field-left">
							<label>Stock máximo</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="1" placeholder="Stock máximo" [(ngModel)]="articulo.stockMax" class="align-right">
							</mat-form-field>
						</div>
						<div class="form-field-left">
							<label>Lote óptimo</label>
							<mat-form-field class="campo-numero">
								<input matInput type="number" step="1" placeholder="Lote óptimo" [(ngModel)]="articulo.loteOptimo" class="align-right">
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="AUXILIAR">
				<div>
					<div class="form-field">
						<label>Proveedor</label>
						<mat-form-field>
							<mat-select [(ngModel)]="articulo.idProveedor">
								<mat-option *ngFor="let prov of proveedores" [value]="prov.id">
									{{prov.nombre | urldecode}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<button mat-icon-button aria-label="Añadir nuevo proveedor" title="Añadir nuevo proveedor" (click)="newProveedor()">
							<mat-icon>add_circle_outline</mat-icon>
						</button>
					</div>
					<div class="form-field">
						<label>Categoría</label>
						<mat-form-field>
							<mat-select [(ngModel)]="articulo.idCategoria">
								<mat-option *ngFor="let cat of categoriesPlain" [value]="cat.id">
									<span style="display: block;" [ngStyle]="{'margin-left': (15*cat.profundidad)+'px'}">{{cat.nombre | urldecode}}</span>
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="form-field">
						<label>Referencia</label>
						<mat-form-field>
							<input matInput placeholder="Referencia" [(ngModel)]="articulo.referencia">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field">
						<label>¿Artículo con caducidad?</label>
						<mat-slide-toggle color="primary" [(ngModel)]="articulo.mostrarFecCad" (change)="updateFecCaducidad()">{{ articulo.mostrarFecCad ? 'Si' : 'No' }}</mat-slide-toggle>
					</div>
					<div class="form-field">
						<label>Fecha de caducidad (mes)</label>
						<mat-form-field>
							<mat-select [(ngModel)]="fecCadMonth" [disabled]="!articulo.mostrarFecCad">
								<mat-option *ngFor="let month of monthList" [value]="month.id">
									{{month.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="form-field">
						<label>Fecha de caducidad (año)</label>
						<mat-form-field>
							<mat-select [(ngModel)]="fecCadYear" [disabled]="!articulo.mostrarFecCad">
								<mat-option *ngFor="let year of yearList" [value]="year">
									{{year}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<p>
					estadisticas venta + estadisticas web
				</p>
			</mat-tab>
			<mat-tab label="CÓDIGOS DE BARRAS">
				<div class="new-cod-barras">
					<input type="number" class="new-cod-barras-item" placeholder="Nuevo código de barras" [(ngModel)]="newCodBarras" (keyup)="fixCodBarras($event)">
					<button mat-raised-button color="primary" (click)="fixCodBarras()">Añadir</button>
				</div>

				<div class="cod-barras-empty" *ngIf="articulo.codigosBarras.length==0">
					Al guardar un nuevo producto se le asignará un código de barras por defecto basado en el localizador que se le asigne.
				</div>

				<div class="cod-barras-list">
					<div class="cod-barras-item" *ngFor="let codBarras of articulo.codigosBarras" [ngClass]="{'cod-barras-por-defecto':codBarras.porDefecto}">
						<ngx-barcode6 [bc-value]="codBarras.codigoBarras" [bc-display-value]="false"></ngx-barcode6>
						<div class="cod-barras-item-cod">
							{{ codBarras.codigoBarras }}
							<button class="cod-barras-item-remove" mat-icon-button *ngIf="!codBarras.porDefecto" aria-label="Borrar código de barras" title="Borrar código de barras" (click)="deleteCodBarras(codBarras)">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab *ngIf="mostrarWeb && articulo.ventaOnline">
				<ng-template mat-tab-label>
					WEB
					<mat-icon *ngIf="articulo.mostrarEnWeb" class="tab-icon">check_circle</mat-icon>
				</ng-template>
				<div>
					<div class="form-field-left-short">
						<label>Mostrar en web</label>
						<mat-slide-toggle color="primary" [(ngModel)]="articulo.mostrarEnWeb">{{ articulo.mostrarEnWeb ? 'Activado' : 'Desactivado' }}</mat-slide-toggle>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Descripción corta</label>
						<mat-form-field class="max-width">
							<textarea matInput placeholder="Descripción corta" [(ngModel)]="articulo.descCorta" rows="5"></textarea>
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Descripción larga</label>
						<mat-form-field class="max-width">
							<textarea matInput placeholder="Descripción larga" [(ngModel)]="articulo.desc" rows="25"></textarea>
						</mat-form-field>
					</div>
				</div>
				<p>
					- mostrar en web
					<br>
					fotos
					<br>
					- desc corta
					<br>
					- desc
				</p>
			</mat-tab>
			<mat-tab label="HISTÓRICO" *ngIf="articulo.id!=null">
				<p>HISTÓRICO</p>
				<p>

				</p>
			</mat-tab>
			<mat-tab label="OBSERVACIONES">
				<div>
					<div class="form-field max-width">
						<label>Observaciones</label>
						<mat-form-field class="max-width">
							<textarea matInput placeholder="Observaciones" [(ngModel)]="articulo.observaciones" rows="30"></textarea>
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field-left-short">
						<label>Mostrar en:</label>
						<mat-slide-toggle class="show-check" color="primary" [(ngModel)]="articulo.mostrarObsPedidos">Pedidos</mat-slide-toggle>
						<mat-slide-toggle class="show-check" color="primary" [(ngModel)]="articulo.mostrarObsVentas">Ventas</mat-slide-toggle>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="BAJA" *ngIf="articulo.id!=null">
				<p>¿Estás seguro de querer dar de baja este artículo? El artículo dejará de estar disponible para ser usado en todo el TPV pero no afectará a los listados historicos.</p>
				<div class="dar-de-baja">
					<button mat-raised-button color="warn" (click)="darDeBaja()">Dar de baja</button>
				</div>
			</mat-tab>
		</mat-tab-group>
		<div class="articulo-save">
			<button mat-button (click)="cancelar()">Cancelar</button>
			<button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
		</div>
	</mat-card-content>
</mat-card>

<div class="modal-bg" *ngIf="nuevaMarca">
	<div class="modal-box">
		<div class="modal-header">
			Nueva marca
			<a href="#" (click)="newMarcaCerrar($event)">
				<mat-icon>close</mat-icon>
			</a>
		</div>
		<div class="modal-body">
			<div>
				<div class="form-field max-width">
					<label>Nombre</label>
					<mat-form-field class="max-width">
						<input matInput placeholder="Nombre" [(ngModel)]="marca.nombre">
					</mat-form-field>
				</div>
			</div>
			<div>
				<div class="form-field max-width">
					<label>Email</label>
					<mat-form-field class="max-width">
						<input matInput placeholder="Email" [(ngModel)]="marca.email">
					</mat-form-field>
				</div>
			</div>
			<div>
				<div class="form-field max-width">
					<label>Web</label>
					<mat-form-field class="max-width">
						<input matInput placeholder="Web" [(ngModel)]="marca.web">
					</mat-form-field>
				</div>
			</div>
			<div>
				<div class="form-field half-width">
					<label>Teléfono</label>
					<mat-form-field class="max-width">
						<input matInput placeholder="Teléfono" [(ngModel)]="marca.telefono">
					</mat-form-field>
				</div>
			</div>
			<div>
				<div class="form-field max-width">
					<label>Observaciones</label>
					<mat-form-field class="max-width">
						<textarea matInput placeholder="Observaciones" [(ngModel)]="marca.observaciones" rows="5"></textarea>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="modal-actions">
			<button mat-raised-button color="primary" (click)="guardarMarca()">Guardar</button>
		</div>
	</div>
</div>

<div class="modal-bg" *ngIf="nuevoProveedor">
	<div class="modal-box modal-wide">
		<div class="modal-header">
			Nuevo proveedor
			<a href="#" (click)="newProveedorCerrar($event)">
				<mat-icon>close</mat-icon>
			</a>
		</div>
		<div class="modal-body articulo-proveedor-cols">
			<div>
				<div>
					<div class="form-field max-width">
						<label>Nombre</label>
						<mat-form-field class="max-width">
							<input matInput placeholder="Nombre" [(ngModel)]="proveedor.nombre">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Email</label>
						<mat-form-field class="max-width">
							<input matInput placeholder="Email" [(ngModel)]="proveedor.email">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Web</label>
						<mat-form-field class="max-width">
							<input matInput placeholder="Web" [(ngModel)]="proveedor.web">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field half-width">
						<label>Teléfono</label>
						<mat-form-field class="max-width">
							<input matInput placeholder="Teléfono" [(ngModel)]="proveedor.telefono">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Observaciones</label>
						<mat-form-field class="max-width">
							<textarea matInput placeholder="Observaciones" [(ngModel)]="proveedor.observaciones" rows="5"></textarea>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="form-field max-width">
						<label>Dirección</label>
						<mat-form-field class="max-width">
							<input matInput placeholder="Dirección" [(ngModel)]="proveedor.direccion">
						</mat-form-field>
					</div>
				</div>
				<div>
					<div class="form-field max-width">
						<label>Marcas del proveedor</label>
						<div class="prov-marcas-list">
							<div class="prov-marcas-item" *ngFor="let marca of marcas">
								<mat-checkbox (change)="addMarcaToProveedor(marca, $event)">{{ marca.nombre | urldecode }}</mat-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-actions">
			<button mat-raised-button color="primary" (click)="guardarProveedor()">Guardar</button>
		</div>
	</div>
</div>

<div class="modal-bg" *ngIf="confirmarDarDeBaja">
	<div class="modal-box">
		<div class="modal-header">
			Confirmar
			<a href="#" (click)="darDeBajaCerrar($event)">
				<mat-icon>close</mat-icon>
			</a>
		</div>
		<div class="modal-body">
			Por favor, confirma que quieres dar de baja el artículo "{{articulo.nombre}}":
			<div class="confirmar-dar-de-baja-btn">
				<button mat-raised-button color="warn" (click)="darDeBajaOk()" [disabled]="darDeBajaLoading">Dar de baja</button>
			</div>
		</div>
	</div>
</div>
