<otpv-header selectedOption="compras" />

<mat-card class="pedido-header">
    <div class="pedido-header-bar">
        <button mat-icon-button
                matTooltip="Volver"
                type="button"
                (click)="back()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span>{{titulo}}</span>
        <div class="actions">
            @if (pedido.id !== null && !pedido.recepcionado) {
            <button mat-flat-button
                    color="warn"
                    (click)="deletePedido()">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
            }
            @if (!pedido.recepcionado && pedido.lineas.length > 0) {
            <!--mat-checkbox [(ngModel)]="autoSave"
                          (ngModelChange)="changeAutoSave()">Autoguardado</mat-checkbox-->
            }
            <button mat-flat-button
                    color="primary"
                    (click)="guardar()">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
        </div>
    </div>
</mat-card>

<mat-card class="pedido-main">
    <mat-card-content>
        <div class="pedido-options">
            <div class="row">
                <div class="form-field with-btn">
                    <label>Proveedor (*)</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="pedido.idProveedor"
                                    #proveedoresValue>
                            <mat-option [value]="-1">Elige proveedor</mat-option>
                            @for (proveedor of ps.proveedores(); track proveedor.id) {
                            <mat-option [value]="proveedor.id">
                                {{proveedor.nombre}}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button
                            matTooltip="Añadir nuevo proveedor"
                            type="button"
                            (click)="openProveedor()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="form-field form-field-165">
                    <label>Forma de pago</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="pedido.idMetodoPago">
                            @for (metodo of metodosPago; track metodo; let i = $index) {
                            <mat-option [value]="i">
                                {{metodo}}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-field form-field-165">
                    <label>Tipo</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="pedido.tipo">
                            <mat-option value="albaran">Albarán</mat-option>
                            <mat-option value="factura">Factura</mat-option>
                            <mat-option value="abono">Abono</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <label>&nbsp;</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <input matInput
                               placeholder="Número {{pedido.tipo === 'albaran' ? 'albarán' : pedido.tipo}}"
                               [(ngModel)]="pedido.num"
                               #numAlbaranFacturaBox>
                    </mat-form-field>
                </div>
                <div class="form-field re-ue">
                    @if (config.tipoIva === 're' && !pedido.recepcionado) {
                    <mat-checkbox [(ngModel)]="pedido.re"
                                  (ngModelChange)="updateTipoIva()">R.E.</mat-checkbox>
                    }
                    @if (config.tipoIva === 're' && pedido.recepcionado) {
                    <span>
                        @if (pedido.re) {
                        <mat-icon>check_box</mat-icon>
                        }
                        @else {
                        <mat-icon>check_box_outline_blank</mat-icon>
                        }
                        <label>R.E.</label>
                    </span>
                    }
                    <mat-checkbox [(ngModel)]="pedido.ue">UE</mat-checkbox>
                </div>
                <div class="form-field form-field-165">
                    <label>Fecha pedido</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <input matInput
                               [matDatepicker]="fechaPedidoPicker"
                               [(ngModel)]="fechaPedido">
                        <mat-datepicker-toggle matSuffix
                                               [for]="fechaPedidoPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fechaPedidoPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-field form-field-165">
                    <label>Fecha pago</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <input matInput
                               [matDatepicker]="fechaPagoPicker"
                               [(ngModel)]="fechaPago">
                        <mat-datepicker-toggle matSuffix
                                               [for]="fechaPagoPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fechaPagoPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-field form-field-165">
                    <label>Columnas</label>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="colOptionsSelected"
                                    (selectionChange)="changeOptions()"
                                    multiple>
                            <mat-option #allSelected
                                        (click)="toggleAllSelection()"
                                        [value]="0">Todas</mat-option>
                            @for (option of colOptions; track option.id) {
                            @if (!option.default) {
                            <mat-option [value]="option.id"
                                        (click)="tosslePerOne()">
                                {{option.value}}
                            </mat-option>
                            }
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="pedido-table">
            <table mat-table
                   [dataSource]="pedidoDataSource"
                   matSort
                   class="mat-elevation-z2 ">

                <!-- Ordenar -->
                <ng-container matColumnDef="ordenar">
                    <th mat-header-cell
                        class="center"
                        *matHeaderCellDef></th>
                    <td mat-cell
                        class="center"
                        *matCellDef="let element; let i = index">
                        <mat-icon class="icon-button"
                                  [class]="{'icon-button-disabled': i === 0}"
                                  matTooltip="Mover línea arriba"
                                  (click)="ordenarLinea(element.localizador, 'up')">expand_less</mat-icon>
                        <mat-icon class="icon-button"
                                  matTooltip="Mover línea abajo"
                                  [class]="{'icon-button-disabled': i === pedido.lineas.length-1}"
                                  (click)="ordenarLinea(element.localizador, 'down')">expand_more</mat-icon>
                    </td>
                </ng-container>

                <!-- Localizador -->
                <ng-container matColumnDef="localizador">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Loc.
                    </th>
                    <td mat-cell
                        *matCellDef="let element"> {{element.localizador}} </td>
                </ng-container>

                <!-- Nombre artículo -->
                <ng-container matColumnDef="nombreArticulo">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Descripción
                    </th>
                    <td mat-cell
                        *matCellDef="let element">
                        <a href="#"
                           tabindex="-1"
                           (click)="goToArticulo(element.localizador, $event)">
                            {{element.nombreArticulo}}
                        </a>
                        @if (element.mostrarObsPedidos) {
                        <mat-icon [matTooltip]="element.observaciones"
                                  class="icon">info_outline</mat-icon>
                        }
                    </td>
                </ng-container>

                <!-- Referencia -->
                <ng-container matColumnDef="referencia">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Referencia
                    </th>
                    <td mat-cell
                        *matCellDef="let element"> {{element.referencia}} </td>
                </ng-container>

                <!-- Marca -->
                <ng-container matColumnDef="marca">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Marca
                    </th>
                    <td mat-cell
                        *matCellDef="let element"> {{element.marca}} </td>
                </ng-container>

                <!-- Código barras -->
                <ng-container matColumnDef="codBarras">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="center">
                        Cod. Barras
                    </th>
                    <td mat-cell
                        class="center"
                        *matCellDef="let element">
                        @if (element.hasCodBarras) {
                        <mat-icon>check</mat-icon>
                        }
                        @if (!pedido.recepcionado && !element.hasCodBarras) {
                        <mat-form-field class="campo-numero-small x-small"
                                        subscriptSizing="dynamic">
                            <input matInput
                                   placeholder="Cod. Barras"
                                   id="tabla-codBarras-{{element.localizador}}"
                                   (keydown)="checkArrows($event)"
                                   (focus)="$event.target.select()"
                                   [(ngModel)]="element.codBarras">
                        </mat-form-field>
                        }
                        @if (pedido.recepcionado) {
                        <span>{{element.codBarras}}</span>
                        }
                    </td>
                </ng-container>

                <!-- Unidades -->
                <ng-container matColumnDef="unidades">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        Unidades
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element">
                        @if (!pedido.recepcionado) {
                        <mat-form-field class="campo-numero-small x-small"
                                        subscriptSizing="dynamic">
                            <input matInput
                                   placeholder="Unidades"
                                   type="number"
                                   id="tabla-unidades-{{element.localizador}}"
                                   (keydown)="checkArrows($event)"
                                   (focus)="$event.target.select()"
                                   (blur)="checkNull(element)"
                                   [(ngModel)]="element.unidades">
                        </mat-form-field>
                        }
                        @else {
                        <span>{{element.unidades}}</span>
                        }
                    </td>
                </ng-container>

                <!-- Stock -->
                <ng-container matColumnDef="stock">
                    <th class="right"
                        mat-header-cell
                        *matHeaderCellDef>
                        Stock
                    </th>
                    <td class="right"
                        mat-cell
                        *matCellDef="let element"> {{element.stock}} </td>
                </ng-container>

                <!-- Stock final -->
                <ng-container matColumnDef="stockFinal">
                    <th class="right"
                        mat-header-cell
                        *matHeaderCellDef>
                        Stock final
                    </th>
                    <td class="right"
                        mat-cell
                        *matCellDef="let element"> {{element.stock + element.unidades}} </td>
                </ng-container>

                <!-- Precio Albarán -->
                <ng-container matColumnDef="palb">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        P. Alb.
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element">
                        @if (!pedido.recepcionado) {
                        <mat-form-field class="campo-numero-small x-small"
                                        subscriptSizing="dynamic">
                            <input matInput
                                   placeholder="P. Alb."
                                   type="number"
                                   id="tabla-palb-{{element.localizador}}"
                                   (keydown)="checkArrows($event)"
                                   (focus)="$event.target.select()"
                                   (blur)="checkNull(element)"
                                   [(ngModel)]="element.palb"
                                   (ngModelChange)="updatePalb(element)">
                        </mat-form-field>
                        }
                        @else {
                        <span>{{element.palb | fixedNumber}}</span>
                        }
                        €
                    </td>
                </ng-container>

                <!-- Descuento -->
                <ng-container matColumnDef="descuento">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        Descuento
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element">
                        @if (!pedido.recepcionado) {
                        <mat-form-field class="campo-numero-small x-small"
                                        subscriptSizing="dynamic">
                            <input matInput
                                   placeholder="Descuento"
                                   type="number"
                                   id="tabla-descuento-{{element.localizador}}"
                                   (keydown)="checkArrows($event)"
                                   (focus)="$event.target.select()"
                                   (blur)="checkNull(element)"
                                   [(ngModel)]="element.descuento"
                                   (ngModelChange)="updatePalb(element)">
                        </mat-form-field>
                        }
                        @else {
                        <span>{{element.descuento}}</span>%
                        }
                    </td>
                </ng-container>

                <!-- Subtotal -->
                <ng-container matColumnDef="subtotal">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        Subtotal
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element"> {{element.subtotal | fixedNumber}} € </td>
                </ng-container>

                <!-- IVA -->
                <ng-container matColumnDef="iva">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        IVA {{pedido.re ? ' + RE' : ''}}
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element">
                        @if (!pedido.recepcionado) {
                        <mat-form-field class="x-small"
                                        subscriptSizing="dynamic">
                            <mat-select [(ngModel)]="element.iva"
                                        (ngModelChange)="updateIva($event, element)">
                                @for (iva of ivaList; track iva) {
                                <mat-option [value]="iva">
                                    {{iva}} %
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        }
                        @if (!pedido.recepcionado && pedido.re) {
                        <mat-form-field class="x-small"
                                        subscriptSizing="dynamic">
                            <mat-select [(ngModel)]="element.re"
                                        (ngModelChange)="updateRe($event, element)">
                                @for (re of reList; track re) {
                                <mat-option [value]="re">
                                    {{re}} %
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        }
                        @if (pedido.recepcionado) {
                        <span>
                            {{element.iva}} %{{pedido.re ? ' + ' + element.re + ' %' : ''}}
                        </span>
                        }
                    </td>
                </ng-container>

                <!-- PUC -->
                <ng-container matColumnDef="puc">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        PUC
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element"> {{element.puc | fixedNumber}} € </td>
                </ng-container>

                <!-- Total -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        Total
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element"> {{element.total | fixedNumber}} € </td>
                </ng-container>

                <!-- PVP -->
                <ng-container matColumnDef="pvp">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        PVP
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element">
                        @if (!pedido.recepcionado) {
                        <mat-form-field class="campo-numero-small x-small"
                                        subscriptSizing="dynamic">
                            <input matInput
                                   placeholder="PVP"
                                   type="number"
                                   id="tabla-pvp-{{element.localizador}}"
                                   (keydown)="checkArrows($event)"
                                   (focus)="$event.target.select()"
                                   (blur)="checkNull(element)"
                                   [(ngModel)]="element.pvp"
                                   (ngModelChange)="updateMargen(element)">
                        </mat-form-field>
                        }
                        @else {
                        <span>{{element.pvp | fixedNumber}}</span>
                        }
                        €
                    </td>
                </ng-container>

                <!-- Margen -->
                <ng-container matColumnDef="margen">
                    <th mat-header-cell
                        *matHeaderCellDef
                        class="right">
                        Margen
                    </th>
                    <td mat-cell
                        class="right"
                        *matCellDef="let element"> {{element.margen | fixedNumber}} % </td>
                </ng-container>

                <!-- Borrar -->
                <ng-container matColumnDef="borrar">
                    <th class="center"
                        mat-header-cell
                        *matHeaderCellDef></th>
                    <td class="center"
                        mat-cell
                        *matCellDef="let element">
                        <mat-icon class="icon-button"
                                  matTooltip="Borrar línea"
                                  (click)="borrarLinea(element.localizador)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="pedidoDisplayedColumns"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: pedidoDisplayedColumns;"></tr>
            </table>
            <div class="nuevo-localizador-row"
                 [class]="{'hide': pedido.recepcionado}">
                <mat-form-field class="remark small"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Localizador"
                           [(ngModel)]="nuevoLocalizador"
                           (keydown)="checkLocalizador($event)"
                           autocomplete="off"
                           (focus)="$event.target.select()"
                           id="nuevo-localizador"
                           #localizadorBox>
                </mat-form-field>
                @if (!pedido.recepcionado) {
                <button mat-icon-button
                        matTooltip="Añadir nuevo artículo"
                        type="button"
                        (click)="goToArticulo(null)">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                }
            </div>
        </div>
        <div class="pedido-footer">
            <div class="pedido-adjuntar">
                <label>
                    @if (!pedido.recepcionado) {
                    Adjuntar PDFs
                    }
                    @else {
                    PDFs
                    }
                </label>
                <div class="pdf-list">
                    @if (pedido.pdfs.length > 0) {
                    <mat-list>
                        @for (item of pedido.pdfs; track item.id; let i = $index;) {
                        @if (!item.deleted) {
                        <mat-list-item>
                            <div class="row">
                                @if (item.id !== null && pedido.id !== null) {
                                <a target="_blank"
                                   [href]="pdfsUrl + pedido.id + '/' + item.id + '.pdf'"
                                   [matTooltip]="item.nombre">{{item.nombre}}</a>
                                }
                                @if (item.id === null || pedido.id === null) {
                                <span [matTooltip]="item.nombre"
                                      (click)="previewPdf(item)">{{item.nombre}}</span>
                                }
                                <button mat-icon-button
                                        (click)="deletePDF(i, item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                        }
                        }
                    </mat-list>
                    }
                    @if (pedido.recepcionado && pedido.pdfs.length === 0) {
                    <div class="no-files">No hay ningún PDF adjunto.</div>
                    }
                    <div class="pdf-action">
                        <button mat-flat-button
                                color="primary"
                                (click)="addPDF()">
                            <mat-icon>attach_file</mat-icon>
                            Adjuntar PDF
                        </button>
                        <input type="file"
                               name="pdf-file"
                               id="pdf-file"
                               accept="application/pdf"
                               (change)="onPDFChange($event)">
                    </div>
                </div>
            </div>
            <div class="pedido-observaciones">
                <div class="form-field max-width">
                    <label>Observaciones</label>
                    <mat-form-field class="max-width">
                        <textarea matInput
                                  placeholder="Observaciones"
                                  [(ngModel)]="pedido.observaciones"
                                  rows="8"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="pedido-totales">
                <label>Totales</label>
                <div class="totales-box">
                    <div class="totales-col">
                        <div class="totales-row">
                            <span>Total líneas:</span>{{pedido.lineas.length}}
                        </div>
                        <div class="totales-row">
                            <span>Total artículos:</span>{{pedido.totalArticulos}}
                        </div>
                        <div class="totales-row">
                            <span>Total beneficios:</span>{{pedido.totalBeneficios | fixedNumber}} €
                        </div>
                        <div class="totales-row">
                            <span>Total PVP:</span>{{pedido.totalPVP | fixedNumber}} €
                        </div>
                        <div class="totales-row">
                            <span>Portes:</span>
                            @if (!pedido.recepcionado) {
                            <mat-form-field class="campo-numero-small x-small"
                                            subscriptSizing="dynamic">
                                <input matInput
                                       placeholder="Portes"
                                       type="number"
                                       (focus)="$event.target.select()"
                                       autocomplete="off"
                                       (blur)="checkNull()"
                                       [(ngModel)]="pedido.portes">
                            </mat-form-field>
                            }
                            {{ pedido.recepcionado ? pedido.portes : ''}}
                            €
                        </div>
                        <div class="totales-row">
                            <span>Media margen:</span>{{pedido.mediaMargen | fixedNumber}} %
                        </div>
                    </div>
                    <div class="totales-col">
                        <div class="totales-row">
                            <span>Subtotal:</span>{{pedido.subtotal | fixedNumber}} €
                        </div>
                        <div class="totales-row totales-iva-row"
                             [class]="{'no-iva': pedido.ue}">
                            @for (ivaOption of pedido.ivaList; track ivaOption) {
                            @if (ivaOption.iva !== undefined || ivaOption.re !== undefined) {
                            <div class="iva-row">
                                @if (ivaOption.iva !== undefined) {
                                <div class="iva-col">IVA {{ivaOption.ivaOption}}%</div>
                                <div class="iva-col"
                                     [class]="{'iva-center': ivaOption.re !== undefined, 'iva-num': ivaOption.re === undefined}">
                                    {{ivaOption.iva | fixedNumber}} €
                                </div>
                                }
                                @if (ivaOption.re !== undefined) {
                                <div class="iva-col">R.E. {{ivaOption.reOption}}%</div>
                                <div class="iva-col iva-num">{{ivaOption.re | fixedNumber}} €</div>
                                }
                            </div>
                            }
                            }
                        </div>
                        <div class="totales-row">
                            <span>Descuento:</span>
                            @if (!pedido.recepcionado) {
                            <mat-form-field class="campo-numero-small x-small"
                                            subscriptSizing="dynamic">
                                <input matInput
                                       placeholder="Descuento"
                                       type="number"
                                       (focus)="$event.target.select()"
                                       autocomplete="off"
                                       (blur)="checkNull()"
                                       [(ngModel)]="pedido.descuento">
                            </mat-form-field>
                            }
                            {{ pedido.recepcionado ? pedido.descuento : ''}}
                            %
                        </div>
                        <div class="totales-row mark"
                             [class]="{'mark-iva': !pedido.ue}">
                            <span>Total {{pedido.nombreTipo}}:</span>{{pedido.total | fixedNumber}} €
                        </div>
                        @if (pedido.ue) {
                        <div class="totales-row mark mark-iva">
                            <span>Total sin IVA:</span>{{pedido.subtotal | fixedNumber}} €
                        </div>
                        }
                        <div class="totales-row center">
                            @if (!pedido.recepcionado) {
                            <button mat-flat-button
                                    color="primary"
                                    (click)="recepcionar()">
                                <mat-icon>beenhere</mat-icon>
                                Recepcionar
                            </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

@if (selectedPdf) {
<div class="pdf-preview">
    <a href="#"
       (click)="closePreview($event)">X</a>
    <embed type="application/pdf"
           [src]="selectedPdf">
</div>
}