<otpv-header selectedOption="compras"></otpv-header>

<mat-card class="compras">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="PEDIDOS">
                <otpv-compras-pedidos-list #compras></otpv-compras-pedidos-list>
            </mat-tab>
            <mat-tab label="MARCAS">
                <otpv-marcas></otpv-marcas>
            </mat-tab>
            <mat-tab label="PROVEEDORES">
                <otpv-proveedores></otpv-proveedores>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>