<div class="tab-container">
	<div class="tab-list">
		<div class="tab-item"
			 *ngFor="let tab of vs.list; let i = index"
			 [ngClass]="{'tab-selected': vs.selected==i}"
			 (click)="selectTab(i)"
			 [ngStyle]="{'background-color':tab.color, 'color':tab.textColor}">
			{{tab.name}}
			<mat-icon *ngIf="showClose"
					  class="tab-icon"
					  (click)="closeTab(i)">close</mat-icon>
		</div>
		<div class="new-tab"
			 (click)="newTab()"
			 matTooltip="Nueva venta">
			<mat-icon>add</mat-icon>
		</div>
		<div class="show-reservas"
			 (click)="showReservas()"
			 matTooltip="Abrir reservas">
			<mat-icon>grading</mat-icon>
		</div>
		<div class="select-client"
			 *ngIf="vs.list.length > 0 && !vs.cliente">
			<span (click)="selectClient()"
				  matTooltip="Elegir cliente">
				<mat-icon>person_add</mat-icon>
			</span>
		</div>
		<div class="select-client"
			 *ngIf="vs.cliente">
			<a [routerLink]="'/clientes/' + vs.cliente.id">{{vs.cliente.nombreApellidos}}</a>
			<span matTooltip="Quitar cliente">
				<mat-icon (click)="removeClient()">close</mat-icon>
			</span>
		</div>
	</div>
</div>