.filtros {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;

    .col-filtros {
        flex: 3;

        .nombre {
            width: 45%;
        }

        mat-form-field {
            margin-right: 16px;
        }
    }

    .col-actions {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            margin-left: 16px;
        }
    }
}

.modified {
    background-color: #7ad782;
    position: relative;

    mat-icon {
        position: absolute;
        right: 4px;
        cursor: pointer;
    }
}

.link {
    color: #000;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}