<div class="loading" *ngIf="loading">
  <img src="assets/loading.svg" alt="Cargando...">
</div>

<div class="not-opened" *ngIf="!loading && !isOpened">
  <mat-card>
    <h1>Osumi TPV</h1>
    <div class="not-opened-button">
      <button mat-raised-button color="primary" (click)="openBox()">Abrir caja</button>
    </div>
  </mat-card>
</div>

<mat-toolbar color="primary" class="toolbar">
  <span>Osumi TPV</span>
  <div class="toolbar-options">
    <button class="toolbar-btn" [ngClass]="{'toolbar-btn-selected': selectedOption=='sales'}" (click)="selectOptionSales()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Ventas</span>
    </button>
    <button class="toolbar-btn" [ngClass]="{'toolbar-btn-selected': selectedOption=='items'}" (click)="selectOptionItems()">
      <mat-icon>card_giftcard</mat-icon>
      <span>Artículos</span>
    </button>
    <button class="toolbar-btn" [ngClass]="{'toolbar-btn-selected': selectedOption=='orders'}" (click)="selectOptionOrders()">
      <mat-icon>assignment</mat-icon>
      <span>Pedidos</span>
    </button>
  </div>
  <button class="toolbar-btn">
    <mat-icon>settings</mat-icon>
    <span>Configuración</span>
  </button>
</mat-toolbar>

<div class="options">
  <app-ventas [ngClass]="{'option-show': selectedOption=='sales'}" #ventas></app-ventas>
  <app-articulos [ngClass]="{'option-show': selectedOption=='items'}" #articulos></app-articulos>
  <app-pedidos [ngClass]="{'option-show': selectedOption=='orders'}" #pedidos></app-pedidos>
</div>