<div class="salidas-header">
    <mat-form-field class="salidas-header-options"
                    subscriptSizing="dynamic">
        <mat-select [(ngModel)]="salidasModo">
            <mat-option value="fecha">
                Fecha
            </mat-option>
            <mat-option value="rango">
                Rango
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="salidas-header-fecha"
         [ngClass]="{'show': salidasModo === 'fecha'}">
        <button mat-icon-button
                (click)="previousFecha()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Elige fecha</mat-label>
            <input matInput
                   [matDatepicker]="fechaPicker"
                   [(ngModel)]="fecha"
                   (ngModelChange)="changeFecha()">
            <mat-datepicker-toggle matSuffix
                                   [for]="fechaPicker" />
            <mat-datepicker #fechaPicker />
        </mat-form-field>
        <button mat-icon-button
                (click)="nextFecha()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div class="salidas-header-rango"
         [ngClass]="{'show': salidasModo === 'rango'}">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Fecha desde</mat-label>
            <input matInput
                   [matDatepicker]="rangoDesdePicker"
                   [(ngModel)]="rangoDesde">
            <mat-datepicker-toggle matSuffix
                                   [for]="rangoDesdePicker" />
            <mat-datepicker #rangoDesdePicker />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Fecha hasta</mat-label>
            <input matInput
                   [matDatepicker]="rangoHastaPicker"
                   [(ngModel)]="rangoHasta">
            <mat-datepicker-toggle matSuffix
                                   [for]="rangoHastaPicker" />
            <mat-datepicker #rangoHastaPicker />
        </mat-form-field>
        <button mat-flat-button
                color="primary"
                (click)="buscarPorRango()">
            <mat-icon>search</mat-icon>
            Buscar
        </button>
    </div>
</div>

<mat-card class="salidas-caja">
    <mat-card-content>
        <div class="flex-content">
            <aside>
                <mat-action-list>
                    @if (salidasCajaList.length === 0) {
                    <button mat-list-item
                            (click)="newSalidaCaja()">No hay entradas para la fecha elegida.</button>
                    }
                    @for (salidaCaja of salidasCajaList; track salidaCaja.id) {
                    <button mat-list-item
                            (click)="selectSalidaCaja(salidaCaja)"
                            [ngClass]="{'selected-salida-caja': salidaCajaSelected.id === salidaCaja.id}">
                        <div matListItemTitle>{{salidaCaja.concepto}}</div>
                        <div matListItemLine>{{salidaCaja.fecha}} - {{salidaCaja.importe | fixedNumber}} €</div>
                    </button>
                    }
                </mat-action-list>
                <div class="new-salida-caja">
                    <button mat-flat-button
                            color="primary"
                            (click)="newSalidaCaja()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Nueva salida de caja
                    </button>
                </div>
            </aside>
            <main>
                <div [ngClass]="{'show': start}"
                     class="start-message">Elige una salida de caja de la lista.</div>
                <div [ngClass]="{'show': !start}"
                     class="main-body">
                    <form [formGroup]="form"
                          (ngSubmit)="onSubmit()">
                        <div>
                            <div class="form-field max-width">
                                <label>Concepto (*)</label>
                                <mat-form-field class="max-width form-title">
                                    <input matInput
                                           placeholder="Concepto"
                                           formControlName="concepto"
                                           #conceptoBox>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div class="form-field max-width">
                                <label>Descripción</label>
                                <mat-form-field class="max-width">
                                    <textarea matInput
                                              placeholder="Descripción"
                                              formControlName="descripcion"
                                              rows="5"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div class="form-field max-width ">
                                <label>Importe (*)</label>
                                <mat-form-field class="form-title campo-numero">
                                    <input matInput
                                           type="number"
                                           placeholder="Importe"
                                           formControlName="importe">
                                </mat-form-field>
                                €
                            </div>
                        </div>
                        <div class="actions">
                            <div class="delete">
                                @if (form.value.id && salidaCajaSelected.editable) {
                                <button mat-flat-button
                                        color="warn"
                                        [disabled]="!form.value.id"
                                        type="button"
                                        (click)="deleteSalidaCaja()">Eliminar</button>
                                }
                            </div>
                            <div class="others">
                                <button mat-flat-button
                                        color="primary"
                                        [disabled]="!form.dirty || !salidaCajaSelected.editable"
                                        type="button"
                                        (click)="resetForm()">Cancelar</button>
                                <button mat-flat-button
                                        type="submit"
                                        color="primary"
                                        [disabled]="!form.valid || !salidaCajaSelected.editable">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </mat-card-content>
</mat-card>