<div class="tab-container">
    <div class="tab-list">
        @for (tab of articulos(); track $index; let i = $index) {
        <div class="tab-item"
             [class]="{'tab-selected': selected() === i}"
             (click)="selectTab(i)">
            <span [matTooltip]="tab.tabName"
                  [matTooltipDisabled]="tab.tabName!.length < 27">
                {{ tab.tabName }}
            </span>
            <mat-icon class="tab-icon"
                      (click)="closeTab(i)">close</mat-icon>
        </div>
        }
        <div class="new-tab"
             (click)="newTab()"
             matTooltip="Nuevo artículo">
            <mat-icon>add</mat-icon>
        </div>
    </div>
</div>