<otpv-header selectedOption="gestion" />

@if (empleado === null) {
<otpv-employee-login (successEvent)="loginSuccess($event)" />
}
@else {
<div class="gestion-options">
    <label class="label-hello">Hola {{empleado.nombre}}, elige una de las siguientes opciones:</label>
    <label class="label-close">
        <button mat-stroked-button
                (click)="logout()">Cambiar de empleado</button>
    </label>
    <button mat-flat-button
            (click)="selectAjustes()">
        <mat-icon>settings</mat-icon>
        Ajustes iniciales
    </button>
    <button mat-flat-button
            (click)="selectEmpleados()">
        <mat-icon>people</mat-icon>
        Empleados
    </button>
    <button mat-flat-button
            (click)="selectTiposPago()">
        <mat-icon>payment</mat-icon>
        Tipos de pago
    </button>
    <button mat-flat-button
            (click)="selectBackup()">
        <mat-icon>backup</mat-icon>
        Copias de seguridad
    </button>
</div>
}