<mat-card class="card-margin">
  <mat-card-header>
    <mat-card-title>{{ articulo.nombre }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms" dynamicHeight>
      <mat-tab label="General">
        <div>
          <div class="form-field">
            <label>Localizador</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Localizador" [(ngModel)]="articulo.localizador">
            </mat-form-field>
          </div>
          <div class="form-field">
            <label>Nombre</label>
            <mat-form-field class="nombre-label">
              <input matInput placeholder="Nombre" [(ngModel)]="articulo.nombre">
            </mat-form-field>
          </div>
        </div>
        <div class="margin-bottom">
          <div class="form-field margin-right">
            <label>Marca</label>
            <mat-form-field>
              <mat-select [(ngModel)]="articulo.idMarca">
                <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                  {{marca.nombre | urldecode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button aria-label="Añadir nueva marca" title="Añadir nueva marca">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="form-field margin-right">
            <label>{{ivaLabel}}</label>
            <mat-form-field>
              <mat-select [(ngModel)]="articulo.iva">
                <mat-option *ngFor="let iva of ivaList" [value]="iva">
                  {{iva}} %
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-field" *ngIf="mostrarWeb">
            <label>Venta online</label>
            <mat-slide-toggle color="primary" [(ngModel)]="articulo.ventaOnline">{{ articulo.ventaOnline ? 'Activado' : 'Desactivado' }}</mat-slide-toggle>
          </div>
        </div>
        <div>
          <div class="form-field-left">
            <label>PVP</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Precio de Venta al Público" [(ngModel)]="articulo.pvp" class="align-right">
            </mat-form-field>
            €
          </div>
          <div class="form-field-left">
            <label>Stock</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Stock" [(ngModel)]="articulo.stock" class="align-right">
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-field-left">
            <label>PUC</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Precio Unitario de Compra" [(ngModel)]="articulo.puc" class="align-right">
            </mat-form-field>
            €
          </div>
          <div class="form-field-left">
            <label>Stock mínimo</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Stock mínimo" [(ngModel)]="articulo.stockMin" class="align-right">
            </mat-form-field>
          </div>
        </div>
        <div>
           <div class="form-field-left">
            <label>Margen</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Margen" [(ngModel)]="articulo.margen" class="align-right">
            </mat-form-field>
            %
          </div>
          <div class="form-field-left">
            <label>Stock máximo</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Stock máximo" [(ngModel)]="articulo.stockMax" class="align-right">
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-field-left hidden">
            <label>Invisible</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Lote óptimo" class="align-right">
            </mat-form-field>
            %
          </div>
          <div class="form-field-left">
            <label>Lote óptimo</label>
            <mat-form-field class="campo-numero">
              <input matInput placeholder="Lote óptimo" [(ngModel)]="articulo.loteOptimo" class="align-right">
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Auxiliar">
        <div>
          <div class="form-field">
            <label>Proveedor</label>
            <mat-form-field>
              <mat-select [(ngModel)]="articulo.idProveedor">
                <mat-option *ngFor="let prov of proveedores" [value]="prov.id">
                  {{prov.nombre | urldecode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button aria-label="Añadir nuevo proveedor" title="Añadir nuevo proveedor">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="form-field">
            <label>Categoría</label>
            <mat-form-field>
              <mat-select [(ngModel)]="articulo.idCategoria">
                <mat-option *ngFor="let cat of categoriesPlain" [value]="cat.id">
                  <span style="display: block;" [ngStyle]="{'margin-left': (15*cat.profundidad)+'px'}">{{cat.nombre | urldecode}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-field">
            <label>Fecha de caducidad</label>
            <mat-form-field>
              <input matInput [matDatepicker]="dp" placeholder="Fecha de caducidad" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp
                              startView="multi-year"
                              (yearSelected)="chosenYearHandler($event)"
                              (monthSelected)="chosenMonthHandler($event, dp)"
                              panelClass="month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label>Referencia</label>
            <mat-form-field>
              <input matInput placeholder="Referencia" [(ngModel)]="articulo.referencia">
            </mat-form-field>
          </div>
        </div>
        <p>
          estadisticas venta + estadisticas web
        </p>
      </mat-tab>
      <mat-tab label="Códigos de barras">
        <div class="cod-barras-list">
          <div *ngFor="let codBarras of articulo.codigosBarras">
            <input class="cod-barras-item" type="text" placeholder="Código de barras" [(ngModel)]="codBarras.codigoBarras" [disabled]="codBarras.fixed" [ngClass]="{'cod-barras-fixed':codBarras.fixed}" (keyup)="fixCodBarras(codBarras, $event)">
            <button mat-icon-button aria-label="Borrar código de barras" title="Borrar código de barras" *ngIf="codBarras.fixed" (click)="deleteCodBarras(codBarras)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="mostrarWeb && articulo.ventaOnline">
        <ng-template mat-tab-label>
          Web
          <mat-icon *ngIf="articulo.mostrarEnWeb" class="tab-icon">check_circle</mat-icon>
        </ng-template>
        <div>
          <div class="form-field-left-short">
            <label>Mostrar en web</label>
            <mat-slide-toggle color="primary" [(ngModel)]="articulo.mostrarEnWeb">{{ articulo.mostrarEnWeb ? 'Activado' : 'Desactivado' }}</mat-slide-toggle>
          </div>
        </div>
        <div>
          <div class="form-field max-width">
            <label>Descripción corta</label>
            <mat-form-field class="max-width">
              <textarea matInput placeholder="Descripción corta" [(ngModel)]="articulo.descCorta" rows="5"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-field max-width">
            <label>Descripción larga</label>
            <mat-form-field class="max-width">
              <textarea matInput placeholder="Descripción larga" [(ngModel)]="articulo.desc" rows="25"></textarea>
            </mat-form-field>
          </div>
        </div>
        <p>
          - mostrar en web
          <br>
          fotos
          <br>
          - desc corta
          <br>
          - desc
        </p>
      </mat-tab>
      <mat-tab label="Histórico">
        <p>Histórico</p>
        <p>
          
        </p>
      </mat-tab>
      <mat-tab label="Observaciones">
        <div>
          <div class="form-field max-width">
            <label>Observaciones</label>
            <mat-form-field class="max-width">
              <textarea matInput placeholder="Observaciones" [(ngModel)]="articulo.observaciones" rows="30"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-field-left-short">
            <label>Mostrar en:</label>
            <mat-slide-toggle color="primary" [(ngModel)]="articulo.mostrarObsPedidos">Pedidos</mat-slide-toggle>
            <mat-slide-toggle class="margin-left" color="primary" [(ngModel)]="articulo.mostrarObsVentas">Ventas</mat-slide-toggle>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Baja" *ngIf="articulo.id!=null">
        <p>¿Estás seguro de querer dar de baja este artículo? El artículo dejará de estar disponible para ser usado en todo el TPV pero no afectará a los listados historicos.</p>
        <div class="dar-de-baja">
          <button mat-raised-button color="warn" (click)="darDeBaja()">Dar de baja</button>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="articulo-save">
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
    </div>
  </mat-card-content>
</mat-card>

<div class="confirmar-dar-de-baja" *ngIf="confirmarDarDeBaja">
  <div class="confirmar-dar-de-baja-box">
    <div class="confirmar-dar-de-baja-header">
      Confirmar
      <a href="#" (click)="darDeBajaCerrar($event)">
        <mat-icon>close</mat-icon>
      </a>
    </div>
    <div class="confirmar-dar-de-baja-body">
      Por favor, confirma que quieres dar de baja el artículo "{{articulo.nombre}}":
      <div class="confirmar-dar-de-baja-btn">
        <button mat-raised-button color="warn" (click)="darDeBajaOk()" [disabled]="darDeBajaLoading">Dar de baja</button>
      </div>
    </div>
  </div>
</div>