<div class="cierre-caja">
    <mat-tab-group>
        <mat-tab label="TIENDA">
            <div class="tab-content">
                <mat-card class="data-card">
                    <mat-card-content>
                        <div class="row">
                            <div class="form-field">
                                <label>Saldo inicial</label>
                                <span class="value-placeholder">{{cierreCaja.saldoInicial | fixedNumber}} €</span>
                            </div>
                            <div class="form-field">
                                <label>Ventas efectivo</label>
                                <span class="value-placeholder">{{cierreCaja.importeEfectivo | fixedNumber}} €</span>
                            </div>
                            <div class="form-field">
                                <label>Salidas caja</label>
                                <span class="value-placeholder">{{cierreCaja.salidasCaja | fixedNumber}} €</span>
                            </div>
                            <div class="form-field">
                                <label>Saldo final</label>
                                <span class="value-placeholder">{{cierreCaja.saldoFinal | fixedNumber}} €</span>
                            </div>
                            <div class="form-field">
                                <label>Importe real (*)</label>
                                <mat-form-field class="form-title campo-numero">
                                    <input matInput
                                           type="number"
                                           placeholder="Importe real"
                                           [(ngModel)]="cierreCaja.real"
                                           #importeRealBox>
                                </mat-form-field>
                                €
                            </div>
                            <div class="form-field">
                                <label>Diferencia</label>
                                <span class="value-placeholder"
                                      [ngClass]="{'form-ok': cierreCaja.diferencia>0, 'form-not-ok': cierreCaja.diferencia<0}">{{cierreCaja.diferencia | fixedNumber}} €
                                </span>
                            </div>
                            <div class="form-field">
                                <label>Retirado</label>
                                <mat-form-field class="form-title campo-numero">
                                    <input matInput
                                           type="number"
                                           placeholder="Retirado"
                                           [(ngModel)]="cierreCaja.retirado"
                                           #importeRealBox>
                                </mat-form-field>
                                €
                            </div>
                            <div class="form-field">
                                <label>Saldo siguiente caja</label>
                                <span class="value-placeholder">{{cierreCaja.saldoSiguiente | fixedNumber}} €</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="tipos-row">
                    <mat-card *ngFor="let tipo of cierreCaja.tipos"
                              class="data-card">
                        <mat-card-header>
                            <mat-card-title class="card-title">
                                <button mat-icon-button
                                        (click)="tipo.show = !tipo.show">
                                    <mat-icon *ngIf="tipo.show">expand_less</mat-icon>
                                    <mat-icon *ngIf="!tipo.show">expand_more</mat-icon>
                                </button>
                                <span>{{tipo.nombre}}</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="form-field max-width">
                                <label>Ventas</label>
                                <span class="value-placeholder">{{tipo.ventas | fixedNumber}} €</span>
                            </div>
                            <div class="card-content"
                                 [ngClass]="{'show': tipo.show}">
                                <div class="form-field max-width">
                                    <label>Operaciones</label>
                                    <span class="value-placeholder">{{tipo.operaciones}}</span>
                                </div>
                                <div class="form-field max-width">
                                    <label>Importe real</label>
                                    <mat-form-field class="form-title campo-numero">
                                        <input matInput
                                               type="number"
                                               placeholder="Importe real"
                                               [(ngModel)]="tipo.real">
                                    </mat-form-field>
                                    €
                                </div>
                                <div class="form-field max-width">
                                    <label>Diferencia</label>
                                    <span class="value-placeholder"
                                          [ngClass]="{'form-ok': tipo.diferencia>0, 'form-not-ok': tipo.diferencia<0}">{{tipo.diferencia | fixedNumber}} €
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngIf="config.ventaOnline"
                 label="WEB"></mat-tab>
        <mat-tab *ngIf="config.ventaOnline"
                 label="TOTALES"></mat-tab>
    </mat-tab-group>
    <div class="actions">
        <button mat-raised-button
                color="primary"
                (click)="cerrarCaja()">
            <mat-icon>lock</mat-icon>
            Cerrar caja
        </button>
    </div>
</div>