<div class="modal-bg"
     [ngClass]="{'show': mostrarCaja}">
    <div class="modal-box modal-big">
        <div class="modal-header">
            <span>Caja</span>
            <a href="#"
               (click)="cerrarCaja($event)">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <div class="caja-body">
            <mat-tab-group [selectedIndex]="cajaSelectedTab"
                           (selectedIndexChange)="cajaSelectedTab = $event"
                           (selectedTabChange)="checkCajaTab($event)"
                           animationDuration="0ms"
                           #cajaTabs>
                <mat-tab label="HISTÓRICO DE VENTAS">
                    <otpv-historico-ventas (cerrarVentanaEvent)="cerrarCaja()"
                                           #historicoVentas></otpv-historico-ventas>
                </mat-tab>
                <mat-tab label="SALIDAS CAJA">
                    <otpv-salidas-caja #salidasCaja></otpv-salidas-caja>
                </mat-tab>
                <mat-tab label="CERRAR CAJA">
                    <otpv-cierre-caja #cierreCaja></otpv-cierre-caja>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>