<mat-card class="card-margin">
    <mat-card-content>
        <div class="articulo-header">
            <div class="form-field">
                <label>Localizador</label>
                <mat-form-field class="campo-numero"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Localizador"
                           [(ngModel)]="articulo.localizador"
                           (keydown)="checkLocalizador($event)"
                           #localizadorBox>
                </mat-form-field>
                <button mat-icon-button
                        aria-label="Añadir acceso directo"
                        title="Añadir acceso directo"
                        type="button"
                        (click)="abrirAccesosDirectos()">
                    <mat-icon>launch</mat-icon>
                </button>
            </div>
            <div class="form-field articulos-space">
                <label>Nombre (*)</label>
                <mat-form-field class="nombre-label form-title"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre"
                           [(ngModel)]="articulo.nombre">
                </mat-form-field>
            </div>
        </div>
        <mat-tab-group animationDuration="0ms"
                       [selectedIndex]="selectedTab"
                       (selectedIndexChange)="selectedTab = $event"
                       (selectedTabChange)="checkArticulosTab($event)"
                       dynamicHeight>
            <mat-tab label="GENERAL">
                <otpv-un-articulo-general [(articulo)]="articulo"
                                          #general />
            </mat-tab>
            <mat-tab label="CÓDIGOS DE BARRAS">
                <otpv-un-articulo-cod-barras [(articulo)]="articulo"
                                             #codBarras />
            </mat-tab>
            @if (articulo.id !== null) {
            <mat-tab label="ESTADÍSTICAS">
                <otpv-un-articulo-estadisticas [(articulo)]="articulo"
                                               #estadisticas />
            </mat-tab>
            }
            @if (mostrarWeb() && articulo.ventaOnline) {
            <mat-tab>
                <ng-template mat-tab-label>
                    WEB
                    @if (articulo.mostrarEnWeb) {
                    <mat-icon class="tab-icon">check_circle</mat-icon>
                    }
                </ng-template>
                <otpv-un-articulo-web [(articulo)]="articulo" />
            </mat-tab>
            }
            @if (articulo.id !== null) {
            <mat-tab label="HISTÓRICO">
                <otpv-un-articulo-historico [(articulo)]="articulo"
                                            #historico />
            </mat-tab>
            }
            <mat-tab label="OBSERVACIONES">
                <otpv-un-articulo-observaciones [(articulo)]="articulo" />
            </mat-tab>
            @if (articulo.id !== null) {
            <mat-tab label="BAJA">
                <p>¿Estás seguro de querer dar de baja este artículo? El artículo dejará de estar disponible para ser usado en todo el TPV pero no afectará a los listados históricos.</p>
                <div class="dar-de-baja">
                    <button mat-raised-button
                            color="warn"
                            type="button"
                            (click)="darDeBaja()">Dar de baja</button>
                </div>
            </mat-tab>
            }
        </mat-tab-group>
        <div class="articulo-save">
            @if (articulo.id) {
            <button mat-button
                    (click)="duplicar()"
                    type="button">Duplicar</button>
            }
            <button mat-button
                    (click)="cancelar()"
                    type="button">Cancelar</button>
            <button mat-raised-button
                    color="primary"
                    [disabled]="saving()"
                    type="button"
                    (click)="guardar()">
                Guardar
            </button>
            <button mat-raised-button
                    color="primary"
                    [disabled]="saving()"
                    type="button"
                    (click)="guardarYCerrar()">
                Guardar y cerrar
            </button>
        </div>
    </mat-card-content>
</mat-card>