.card-margin {
    margin: 16px;
    position: relative;

    .articulo-header {
        display: flex;
        margin-bottom: 16px;

        .articulos-space {
            flex: 1;
        }
    }

    .tab-icon {
        margin-left: 8px;
    }

    .show-check {
        display: block;
        margin-top: 16px;
    }

    #foto-file {
        display: none;
    }

    .fotos-list {
        box-sizing: border-box;
        width: 100%;
        outline: 1px solid #e0e0e0;
        height: 150px;
        padding: 8px;
        overflow-x: auto;
        transition: all 0.2s;
        border-radius: 6px;
        margin-bottom: 16px;

        &:hover {
            outline: 2px solid #000;
        }

        .foto-item {
            width: 150px;
            height: 130px;
            display: inline-block;
            margin-right: 16px;
            text-align: center;
            position: relative;

            img {
                height: 100%;
                max-width: 100%;
            }

            .foto-icon {
                display: none;
                position: absolute;
                cursor: pointer;
                width: 28px;
                height: 28px;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 6px;

                &.foto-icon-delete {
                    top: 8px;
                    right: 8px;
                    color: #f00;
                }

                &.foto-icon-previous {
                    bottom: 8px;
                    left: 8px;
                }

                &.foto-icon-next {
                    bottom: 8px;
                    right: 8px;
                }
            }

            &:hover .foto-icon {
                display: flex;
            }
        }
    }

    .fotos-add {
        text-align: right;
    }

    .historico-table {
        margin-bottom: 80px;
    }

    .dar-de-baja {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 300px;
            height: 100px;
            font-size: 1.8em;
        }
    }

    .articulo-save {
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;

        button {
            width: 150px;
            height: 60px;
            margin-left: 24px;

            img {
                width: 24px;
            }
        }
    }
}

.prov-marcas-list {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 4px;
    max-height: 470px;
    overflow: auto;

    .prov-marcas-item {
        padding: 16px;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: 0;
        }
    }
}