<div class="login-texto">¡Hola {{nombre}}! Por favor, introduce tu contraseña para continuar.</div>
<div class="login-continuar">
    <mat-form-field class="login-pass"
                    subscriptSizing="dynamic">
        <mat-label>Contraseña</mat-label>
        <input matInput
               type="password"
               placeholder="Contraseña"
               [(ngModel)]="pass"
               (keyup.enter)="login()"
               #loginPasswordValue>
    </mat-form-field>
    <button mat-flat-button
            color="primary"
            (click)="login()"
            [disabled]="loginLoading">
        @if (loginLoading) {
        <img src="/img/loading.svg"
             alt="">
        }
        Continuar
    </button>
</div>