<div class="historico-header">
    <mat-form-field class="historico-header-options"
                    subscriptSizing="dynamic">
        <mat-select [(ngModel)]="historicoModo">
            <mat-option value="fecha">
                Fecha
            </mat-option>
            <mat-option value="rango">
                Rango
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="historico-header-fecha"
         [class]="{'show': historicoModo === 'fecha'}">
        <button mat-icon-button
                (click)="previousFecha()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Elige fecha</mat-label>
            <input matInput
                   [matDatepicker]="fechaPicker"
                   [(ngModel)]="fecha"
                   (ngModelChange)="changeFecha()">
            <mat-datepicker-toggle matSuffix
                                   [for]="fechaPicker" />
            <mat-datepicker #fechaPicker />
        </mat-form-field>
        <button mat-icon-button
                (click)="nextFecha()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div class="historico-header-rango"
         [class]="{'show': historicoModo === 'rango'}">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Fecha desde</mat-label>
            <input matInput
                   [matDatepicker]="rangoDesdePicker"
                   [(ngModel)]="rangoDesde">
            <mat-datepicker-toggle matSuffix
                                   [for]="rangoDesdePicker" />
            <mat-datepicker #rangoDesdePicker />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Fecha hasta</mat-label>
            <input matInput
                   [matDatepicker]="rangoHastaPicker"
                   [(ngModel)]="rangoHasta">
            <mat-datepicker-toggle matSuffix
                                   [for]="rangoHastaPicker" />
            <mat-datepicker #rangoHastaPicker />
        </mat-form-field>
        <button mat-flat-button
                color="primary"
                (click)="buscarPorRango()">
            <mat-icon>search</mat-icon>
            Buscar
        </button>
    </div>
</div>

<div class="historico-body">
    <div class="historico-table">
        @if (historicoVentasList.length > 0) {
        <div>
            <table mat-table
                   [dataSource]="historicoVentasDataSource"
                   matSort
                   class="mat-elevation-z2 ">

                <!-- Fecha -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Ordenar por fecha">
                        Fecha
                    </th>
                    <td mat-cell
                        *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <!-- Importe -->
                <ng-container matColumnDef="total">
                    <th class="right"
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Ordenar por importe">
                        Importe
                    </th>
                    <td class="right"
                        mat-cell
                        *matCellDef="let element"> {{element.total | fixedNumber}} €</td>
                </ng-container>

                <!-- Tipo de pago -->
                <ng-container matColumnDef="nombreTipoPago">
                    <th class="right"
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Ordenar por tipo de pago">
                        Tipo de pago
                    </th>
                    <td mat-cell
                        *matCellDef="let element">
                        <div class="pay-type"
                             [class]="{'margin': element.idCliente === null}">
                            {{element.nombreTipoPago}}
                            @if (element.idCliente !== null) {
                            <mat-icon [matTooltip]="element.cliente">account_circle</mat-icon>
                            }
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="historicoVentasDisplayedColumns"></tr>
                <tr class="clickable"
                    mat-row
                    [class]="{'selected-row': row.id === historicoVentasSelected.id}"
                    (click)="selectVenta(i)"
                    *matRowDef="let row; columns: historicoVentasDisplayedColumns; let i = index;"></tr>
            </table>
            <div class="totales">
                <div class="totales-row">
                    <label>Total día:</label>
                    <span>{{totalDia | fixedNumber}} €</span>
                </div>
                <div class="totales-row">
                    <label>Ventas efectivo:</label>
                    <span>{{ventasEfectivo | fixedNumber}} €</span>
                </div>
                @for (otro of ventasOtros; track otro.nombre) {
                <div class="totales-row">
                    <label>Ventas {{otro.nombre}}:</label>
                    <span>{{otro.valor | fixedNumber}} €</span>
                </div>
                }
                <div class="totales-row">
                    <label>Ventas web:</label>
                    <span>{{ventasWeb | fixedNumber}} €</span>
                </div>
                <div class="totales-row">
                    <label>Beneficio:</label>
                    <span>{{ventasBeneficio | fixedNumber}} €</span>
                </div>
            </div>
        </div>
        }
        @else {
        <div class="historico-no-data">No hay ventas para la fecha elegida.</div>
        }
    </div>
    <div class="historico-data">
        @if (historicoVentasSelected.id === null) {
        <div class="historico-no-data">Elige una venta de la lista.</div>
        }
        <div class="historico-detail"
             [class]="{'show':historicoVentasSelected.id !== null}">
            @if (historicoVentasList.length > 0 && historicoVentasSelected !== null) {
            <div class="historico-detail-lineas">

                <table mat-table
                       [dataSource]="historicoVentasSelectedDataSource"
                       matSort
                       class="mat-elevation-z2 ">

                    <!-- Localizador -->
                    <ng-container matColumnDef="localizador">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por localizador">
                            Localizador
                        </th>
                        <td mat-cell
                            *matCellDef="let element"> {{ element.idArticulo !== null ? element.localizador : '-' }} </td>
                        <td mat-footer-cell
                            *matFooterCellDef> <strong>Total</strong> </td>
                    </ng-container>

                    <!-- Marca -->
                    <ng-container matColumnDef="marca">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por marca">
                            Marca
                        </th>
                        <td mat-cell
                            *matCellDef="let element"> {{ element.idArticulo !== null ? element.marca : '-' }} </td>
                        <td mat-footer-cell
                            *matFooterCellDef></td>
                    </ng-container>

                    <!-- Descripción -->
                    <ng-container matColumnDef="articulo">
                        <th mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por descripcion">
                            Descripción
                        </th>
                        <td mat-cell
                            *matCellDef="let element"> {{element.articulo}} </td>
                        <td mat-footer-cell
                            *matFooterCellDef></td>
                    </ng-container>

                    <!-- Cantidad -->
                    <ng-container matColumnDef="unidades">
                        <th class="center"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por cantidad">
                            Cant.
                        </th>
                        <td class="center"
                            mat-cell
                            *matCellDef="let element"> {{element.unidades}} </td>
                        <td class="center"
                            mat-footer-cell
                            *matFooterCellDef> <strong>{{historicoVentasSelected.totalUnidades}}</strong> </td>
                    </ng-container>

                    <!-- PVP -->
                    <ng-container matColumnDef="pvp">
                        <th class="center"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por PVP">
                            PVP
                        </th>
                        <td class="center"
                            mat-cell
                            *matCellDef="let element"> {{element.pvp | fixedNumber}} € </td>
                        <td class="center"
                            mat-footer-cell
                            *matFooterCellDef></td>
                    </ng-container>

                    <!-- Descuento -->
                    <ng-container matColumnDef="descuento">
                        <th class="center"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por descuento">
                            Desc.
                        </th>
                        <td class="center"
                            mat-cell
                            *matCellDef="let element">
                            @if (element.importeDescuento) {
                            <span>{{element.importeDescuento | fixedNumber}} €</span>
                            }
                            @if (!element.importeDescuento && element.descuento !== 0) {
                            <span>{{element.descuento}} %</span>
                            }
                            @if (!element.importeDescuento && element.descuento === 0) {
                            <span>-</span>
                            }
                            @if (element.regalo) {
                            <mat-icon class="icon">loyalty</mat-icon>
                            }
                        </td>
                        <td class="center"
                            mat-footer-cell
                            *matFooterCellDef>
                            @if (historicoVentasSelected.totalDescuento !== 0) {
                            <div>
                                <strong>{{historicoVentasSelected.totalDescuento | fixedNumber}} €</strong>
                            </div>
                            }
                        </td>
                    </ng-container>

                    <!-- Importe -->
                    <ng-container matColumnDef="importe">
                        <th class="center"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Ordenar por importe">
                            Importe
                        </th>
                        <td class="center"
                            mat-cell
                            *matCellDef="let element">
                            {{element.importe | fixedNumber}} €
                            @if (element.total !== element.importe) {
                            <div class="original-price">{{element.total | fixedNumber}} €</div>
                            }
                        </td>
                        <td class="center"
                            mat-footer-cell
                            *matFooterCellDef> <strong>{{historicoVentasSelected.total | fixedNumber}} €</strong> </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="historicoVentasSelectedDisplayedColumns"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: historicoVentasSelectedDisplayedColumns;"></tr>
                    <tr mat-footer-row
                        *matFooterRowDef="historicoVentasSelectedDisplayedColumns"></tr>
                </table>

            </div>
            }
            <div class="historico-detail-options">
                <div class="historico-details-options-left">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Cambiar forma de pago</mat-label>
                        <mat-select [(ngModel)]="historicoVentasSelected.tipoPago"
                                    (ngModelChange)="changeFormaPago()"
                                    [disabled]="!historicoVentasSelected.editable">
                            <mat-option [value]="-1">Efectivo</mat-option>
                            @for (tipoPago of config.tiposPago; track tipoPago.id) {
                            <mat-option [value]="tipoPago.id">
                                {{tipoPago.nombre}}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Elige cliente</mat-label>
                        <mat-select [(ngModel)]="historicoVentasSelected.idCliente"
                                    (ngModelChange)="changeCliente()"
                                    [disabled]="historicoVentasSelected.facturada"
                                    #clientesBox>
                            <mat-option [value]="null">Elige cliente</mat-option>
                            @for (cliente of cs.clientes(); track cliente.id) {
                            <mat-option [value]="cliente.id">
                                {{cliente.nombreApellidos}}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="historico-details-options-right">
                    <button mat-fab
                            color="primary"
                            (click)="printTicket('venta')"
                            matTooltip="Imprimir ticket">
                        <mat-icon>receipt</mat-icon>
                    </button>
                    <button mat-fab
                            color="primary"
                            (click)="printTicket('regalo')"
                            matTooltip="Imprimir ticket regalo">
                        <mat-icon>card_giftcard</mat-icon>
                    </button>
                    <button mat-fab
                            color="primary"
                            (click)="getTicketImage()"
                            matTooltip="Obtener imagen ticket">
                        <mat-icon>collections</mat-icon>
                    </button>
                    <button mat-fab
                            color="primary"
                            (click)="generarFactura()"
                            matTooltip="Generar factura">
                        <mat-icon>library_books</mat-icon>
                    </button>
                    <button mat-fab
                            color="primary"
                            (click)="enviarEmail()"
                            matTooltip="Enviar ticket por email">
                        <mat-icon>email</mat-icon>
                    </button>
                    <button mat-fab
                            color="primary"
                            (click)="devolucion()"
                            matTooltip="Devolución">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>