<div class="facturas-title">{{title}}</div>
<div class="facturas-body">
    <div class="facturas-left">
        <table mat-table
               [dataSource]="ventasDataSource"
               class="mat-elevation-z2 ">

            <!-- Seleccionar -->
            <ng-container matColumnDef="select">
                <th mat-header-cell
                    class="select"
                    *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell
                    class="select"
                    *matCellDef="let element">
                    <mat-checkbox [disabled]="element.statusFactura !== 'no'"
                                  (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(element) : null"
                                  [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Fecha
                </th>
                <td mat-cell
                    *matCellDef="let element">{{ element.fecha }}</td>
            </ng-container>

            <!-- Importe -->
            <ng-container matColumnDef="importe">
                <th class="right"
                    mat-header-cell
                    *matHeaderCellDef>
                    Importe
                </th>
                <td class="right"
                    mat-cell
                    *matCellDef="let element">{{ element.total | fixedNumber }} €</td>
            </ng-container>

            <!-- Tipo de pago -->
            <ng-container matColumnDef="nombreTipoPago">
                <th class="right"
                    mat-header-cell
                    *matHeaderCellDef>
                    Tipo de pago
                </th>
                <td class="right"
                    mat-cell
                    *matCellDef="let element">
                    {{ element.nombreTipoPago }}
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="ventasDisplayedColumns"></tr>
            <tr class="clickable"
                mat-row
                [class]="{'selected-row': row.id === ventaSelected.id, 'warn': row.statusFactura === 'used', 'disabled': row.statusFactura === 'si'}"
                (click)="selectVenta(i)"
                *matRowDef="let row; columns: ventasDisplayedColumns; let i = index;"></tr>
        </table>
    </div>
    <div class="facturas-right">
        @if (ventaSelected.id === null) {
        <div class="facturas-no-data">Elige una venta de la lista.</div>
        }
        <div class="facturas-venta-detail"
             [class]="{'show':ventaSelected.id !== null}">
            <table mat-table
                   [dataSource]="ventaSelectedDataSource"
                   class="mat-elevation-z2 ">

                <!-- Localizador -->
                <ng-container matColumnDef="localizador">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Localizador
                    </th>
                    <td mat-cell
                        *matCellDef="let element"> {{ element.idArticulo !== null ? element.localizador : '-' }} </td>
                    <td mat-footer-cell
                        *matFooterCellDef> <strong>Total</strong> </td>
                </ng-container>

                <!-- Marca -->
                <ng-container matColumnDef="marca">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Marca
                    </th>
                    <td mat-cell
                        *matCellDef="let element">{{ element.idArticulo !== null ? element.marca : '-' }}</td>
                    <td mat-footer-cell
                        *matFooterCellDef></td>
                </ng-container>

                <!-- Descripción -->
                <ng-container matColumnDef="articulo">
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Descripción
                    </th>
                    <td mat-cell
                        *matCellDef="let element">{{ element.articulo }}</td>
                    <td mat-footer-cell
                        *matFooterCellDef></td>
                </ng-container>

                <!-- Cantidad -->
                <ng-container matColumnDef="unidades">
                    <th class="center"
                        mat-header-cell
                        *matHeaderCellDef>
                        Cant.
                    </th>
                    <td class="center"
                        mat-cell
                        *matCellDef="let element">{{ element.unidades }}</td>
                    <td class="center"
                        mat-footer-cell
                        *matFooterCellDef>
                        <strong>{{ ventaSelected.totalUnidades }}</strong>
                    </td>
                </ng-container>

                <!-- PVP -->
                <ng-container matColumnDef="pvp">
                    <th class="center"
                        mat-header-cell
                        *matHeaderCellDef>
                        PVP
                    </th>
                    <td class="center"
                        mat-cell
                        *matCellDef="let element">{{ element.pvp | fixedNumber }} €</td>
                    <td class="center"
                        mat-footer-cell
                        *matFooterCellDef></td>
                </ng-container>

                <!-- Descuento -->
                <ng-container matColumnDef="descuento">
                    <th class="center"
                        mat-header-cell
                        *matHeaderCellDef>
                        Desc.
                    </th>
                    <td class="center"
                        mat-cell
                        *matCellDef="let element">
                        @if (element.importeDescuento) {
                        <div>{{ element.importeDescuento | fixedNumber }} €</div>
                        }
                        @if (!element.importeDescuento && element.descuento !== 0) {
                        <div>{{ element.descuento }} %</div>
                        }
                        @if (!element.importeDescuento && element.descuento === 0) {
                        <div>-</div>
                        }
                    </td>
                    <td class="center"
                        mat-footer-cell
                        *matFooterCellDef>
                        @if (ventaSelected.totalDescuento !== 0) {
                        <div>
                            <strong>{{ ventaSelected.totalDescuento | fixedNumber }} €</strong>
                        </div>
                        }
                    </td>
                </ng-container>

                <!-- Importe -->
                <ng-container matColumnDef="importe">
                    <th class="center"
                        mat-header-cell
                        *matHeaderCellDef>
                        Importe
                    </th>
                    <td class="center"
                        mat-cell
                        *matCellDef="let element">
                        {{element.importe | fixedNumber}} €
                        @if (element.total !== element.importe) {
                        <div class="original-price">{{ element.total | fixedNumber }} €</div>
                        }
                    </td>
                    <td class="center"
                        mat-footer-cell
                        *matFooterCellDef> <strong>{{ (ventaSelected.total ?? 0) | fixedNumber }} €</strong> </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="ventaSelectedDisplayedColumns"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: ventaSelectedDisplayedColumns;"></tr>
                <tr mat-footer-row
                    *matFooterRowDef="ventaSelectedDisplayedColumns"></tr>
            </table>
        </div>
    </div>
</div>
<div class="facturas-actions">
    <div class="facturas-delete"
         [class]="{'show': factura.id !== null && !factura.impresa}">
        <button mat-flat-button
                type="button"
                color="warn"
                (click)="deleteFactura()">Eliminar</button>
    </div>
    <div class="facturas-others">
        @if (!factura.impresa) {
        <button mat-flat-button
                type="button"
                color="primary"
                [disabled]="selection.selected.length === 0"
                (click)="saveFactura()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <button mat-flat-button
                type="button"
                color="primary"
                [disabled]="selection.selected.length === 0"
                (click)="preview()">
            <mat-icon>find_in_page</mat-icon>
            Previsualizar
        </button>
        }
        <button mat-flat-button
                type="button"
                [disabled]="selection.selected.length === 0 && !factura.impresa"
                color="primary"
                (click)="imprimir()">
            <mat-icon>print</mat-icon>
            {{ factura.impresa ? 'Imprimir' : 'Facturar' }}
        </button>
    </div>
</div>