@if (list().length > 0) {
<div class="table">
    @for (row of list(); track row) {
    <div>
        <div class="row">
            @for (item of row; track item) {
            <div class="col">
                @if (item && item.localizador) {
                <div class="content">
                    <div class="qr-code">
                        <qrcode [qrdata]="item.localizador.toString()"
                                [allowEmptyString]="true"
                                [elementType]="'svg'"
                                [errorCorrectionLevel]="'M'"
                                [colorDark]="'#000000ff'"
                                [colorLight]="'#ffffff00'"
                                [margin]="0"
                                [cssClass]="'qr-fill'"
                                [scale]="1" />
                    </div>
                    <div class="info">
                        <div class="info-nombre">{{ item.nombre }}</div>
                        <div class="info-marca">{{ item.marca }}</div>
                        @if (mostrarPVP()) {
                        <div class="info-pvp">{{ item.pvp ?? 0 | fixedNumber }} €</div>
                        }
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
    }
</div>
}