<otpv-header selectedOption="almacen" />

<mat-card class="almacen">
    <mat-card-content>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab label="Inventario">
                <otpv-almacen-inventario />
            </mat-tab>
            <mat-tab label="Caducidades">
                @defer (on viewport) {
                <otpv-caducidades />
                }
                @placeholder {
                <div>Caducidades</div>
                }
            </mat-tab>
            <mat-tab label="Imprenta">
                @defer (on viewport) {
                <otpv-imprenta #imprenta />
                }
                @placeholder {
                <div>Imprenta</div>
                }
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>