<otpv-tabs [tabs]="ventas.tabs" [showClose]="true" (closeTabEvent)="cerrarVenta($event)" (newTabEvent)="newVenta()" (changeTabEvent)="startFocus()"></otpv-tabs>
<div class="ventas-header">
	<div class="col-localizador">Localizador</div>
	<div class="col-descripcion">Descripción</div>
	<div class="col-stock">Stock</div>
	<div class="col-cantidad">Cantidad</div>
	<div class="col-pvp">PVP</div>
	<div class="col-importe">Importe</div>
	<div class="col-descuentos">Desc.</div>
</div>
<otpv-una-venta [venta]="ventas.list[ventas.tabs.selected]" (deleteVentaLineaEvent)="deleteVentaLinea($event)" (showDetailsEvent)="showDetails($event)" (endVentaEvent)="endVenta($event)" #venta></otpv-una-venta>

<div class="modal-bg"  [ngClass]="{'show': showFinalizarVenta}">
	<div class="modal-box">
		<div class="modal-header">
			Finalizar venta
		</div>
		<div class="modal-body finalizar-venta">
			<div class="col-left">
				<div class="col-line">
					<mat-form-field>
						<input matInput type="number" placeholder="Efectivo" [(ngModel)]="fin.efectivo">
						<mat-label>Efectivo</mat-label>
					</mat-form-field>
				</div>
				<div class="col-line">
					<mat-form-field>
						<input matInput type="number" placeholder="Cambio" [(ngModel)]="fin.cambio">
						<mat-label>Cambio</mat-label>
					</mat-form-field>
				</div>
				<div class="col-line">
					<mat-form-field>
						<input matInput type="number" placeholder="Tarjeta" [(ngModel)]="fin.tarjeta">
						<mat-label>Tarjeta</mat-label>
					</mat-form-field>
					<mat-form-field>
						<mat-select [(ngModel)]="fin.tipoPago">
							<mat-option *ngFor="let tipo of config.tiposPago" [value]="tipo.id">
								{{tipo.nombre}}
							</mat-option>
						</mat-select>
						<mat-label>Tarjeta</mat-label>
					</mat-form-field>
				</div>
				<div class="total mat-elevation-z4">
					<div class="total-title">TOTAL</div>
					<div class="total-importe">{{fin.total}} €</div>
				</div>
				<div class="col-line">
					<button mat-raised-button color="warn" (click)="cerrarFinalizarVenta()">Cancelar</button>
					<button mat-raised-button color="primary" (click)="cerrarFinalizarVenta()">Finalizar</button>
				</div>
			</div>
			<div class="col-right">
				<div class="venta-linea">
					<div class="venta-linea-localizador">Loc.</div>
					<div class="venta-linea-marca">Marca</div>
					<div class="venta-linea-nombre">Nombre</div>
					<div class="venta-linea-cant">Cant.</div>
					<div class="venta-linea-desc">Desc.</div>
					<div class="venta-linea-subtotal">Subt.</div>
				</div>
				<div class="venta-linea" *ngFor="let linea of fin.lineas">
					<div class="venta-linea-localizador">{{linea.localizador}}</div>
					<div class="venta-linea-marca">{{linea.marca}}</div>
					<div class="venta-linea-nombre">{{linea.descripcion}}</div>
					<div class="venta-linea-cant">{{linea.cantidad}}</div>
					<div class="venta-linea-desc">{{linea.descuento}} %</div>
					<div class="venta-linea-subtotal">{{linea.total | fixedNumber}} €</div>
				</div>
			</div>
		</div>
	</div>
</div>
