<mat-toolbar color="primary">
  <span>Osumi TPV: Instalación</span>
</mat-toolbar>

<mat-card class="main">
  <mat-card-content>
    <p>Antes de empezar tenemos que configurar ciertos valores que se usarán en toda la aplicación:</p>
    
    <p>¿Quieres usar IVA o Recargo de equivalencia?</p>
    
    <mat-radio-group class="option-margin" aria-label="IVA / RE" [(ngModel)]="selectedOption">
      <mat-radio-button *ngFor="let option of ivareOptions" [value]="option.id" (click)="changeOptionList(option.id)">{{ option.name }}</mat-radio-button>
    </mat-radio-group>
    
    <p>Elige los tipos de IVA/RE que quieres usar en la aplicación:</p>
    
    <div class="select-list-wrapper">
      <div class="select-list-header">
        <div class="select-list-col">Opciones</div>
        <div class="select-list-buttons">&nbsp;</div>
        <div class="select-list-col">Seleccionadas</div>
      </div>
      <div class="select-list-body">
        <div class="select-list-col">
          <div class="select-list-item" *ngFor="let item of optionsList" (click)="selectOption(item)" [ngClass]="{'select-list-selected': selectedOptionInList==item}">{{ item }}%</div>
        </div>
        <div class="select-list-buttons">
          <button mat-raised-button color="primary" [disabled]="!selectedOptionInList || optionsList.length==0" (click)="addToList()">Añadir</button>
          <button mat-raised-button color="primary" [disabled]="!selectedOptionInList || selectedOptionsList.length==0" (click)="removeFromList()">Quitar</button>
        </div>
        <div class="select-list-col">
          <div class="select-list-item" *ngFor="let item of selectedOptionsList" (click)="selectOption(item)" [ngClass]="{'select-list-selected': selectedOptionInList==item}">{{ item }}%</div>
        </div>
      </div>
    </div>
    
    <p>La aplicación muestra sugerencias de márgenes de beneficios. A continuación, elige los diferentes márgenes con los que quieres trabajar:</p>
    
    <ul class="margin-list">
      <li *ngFor="let option of marginList">
        <mat-checkbox [(ngModel)]="option.checked">{{ option.value }} %</mat-checkbox>
      </li>
    </ul>
    
    <p>¿La aplicación se enlazará con una tienda online?</p>
    
    <mat-radio-group class="option-margin" aria-label="Venta online" [(ngModel)]="hasOnline">
      <mat-radio-button value="0">No</mat-radio-button>
      <mat-radio-button value="1">Si</mat-radio-button>
    </mat-radio-group>
    
    <p>¿Los artículos de la aplicación tienen fecha de caducidad?</p>
    
    <mat-radio-group class="option-margin" aria-label="Fecha caducidad" [(ngModel)]="hasExpiryDate">
      <mat-radio-button value="0">No</mat-radio-button>
      <mat-radio-button value="1">Si</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions class="end-actions">
    <button mat-raised-button color="primary" (click)="saveConfiguration()">Guardar configuración</button>
  </mat-card-actions>
</mat-card>