<otpv-header selectedOption="clientes" />

<mat-card class="clientes">
    <mat-card-content class="full-height">
        <div class="flex-content">
            <aside>
                <mat-form-field class="search"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre, apellidos..."
                           [(ngModel)]="search"
                           #searchBox>
                    <span matTextPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                </mat-form-field>
                <mat-action-list class="clientes-list">
                    @for (cliente of cs.clientes() | clientListFilter:search; track cliente.id) {
                    <button mat-list-item
                            (click)="selectCliente(cliente)"
                            [ngClass]="{'selected-client': selectedClient.id === cliente.id}">
                        {{cliente.nombreApellidos}}
                    </button>
                    }
                </mat-action-list>
                <div class="new-client">
                    <button mat-raised-button
                            color="primary"
                            (click)="newCliente()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Añadir cliente
                    </button>
                </div>
            </aside>
            <main>
                <div [ngClass]="{'show': start}"
                     class="start-message">Elige un cliente de la lista.</div>
                <div [ngClass]="{'show': !start}"
                     class="main-body">
                    <form [formGroup]="form"
                          (ngSubmit)="onSubmit()">
                        <mat-tab-group dynamicHeight
                                       [selectedIndex]="selectedIndex"
                                       (selectedIndexChange)="selectedIndex = $event"
                                       #clienteTabs>
                            <mat-tab label="DATOS">
                                <div>
                                    <div class="form-field half-width">
                                        <label>Nombre y apellidos (*)</label>
                                        <mat-form-field class="max-width form-title">
                                            <input matInput
                                                   placeholder="Nombre y apellidos"
                                                   formControlName="nombreApellidos"
                                                   #nameBox>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>Email</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Email"
                                                   formControlName="email"
                                                   #emailBox>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field third-width">
                                        <label>DNI / CIF</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="DNI / CIF"
                                                   formControlName="dniCif">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Teléfono</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Teléfono"
                                                   formControlName="telefono">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Descuento</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   type="number"
                                                   min="0"
                                                   max="100"
                                                   step="1"
                                                   placeholder="Descuento"
                                                   formControlName="descuento">
                                            <span matTextSuffix>%</span>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Dirección</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Dirección"
                                                   formControlName="direccion">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field third-width">
                                        <label>Código postal</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Código postal"
                                                   formControlName="codigoPostal">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Población</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Población"
                                                   formControlName="poblacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Provincia</label>
                                        <mat-form-field class="max-width">
                                            <mat-select formControlName="provincia">
                                                @for (provincia of config.provincias; track provincia.id) {
                                                <mat-option [value]="provincia.id">
                                                    {{provincia.name}}
                                                </mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Observaciones</label>
                                        <mat-form-field class="max-width">
                                            <textarea matInput
                                                      placeholder="Observaciones"
                                                      formControlName="observaciones"
                                                      rows="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="DATOS FACTURACIÓN">
                                <div class="same-data"
                                     [ngClass]="{'selected': !selectedClient.factIgual}">
                                    <mat-checkbox formControlName="factIgual">
                                        Mismos datos para la facturación.
                                    </mat-checkbox>
                                </div>
                                @if (!form.value.factIgual) {
                                <div>
                                    <div class="form-field half-width">
                                        <label>Nombre y apellidos</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Nombre y apellidos"
                                                   formControlName="factNombreApellidos">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>DNI / CIF</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="DNI / CIF"
                                                   formControlName="factDniCif">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field half-width">
                                        <label>Teléfono</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Teléfono"
                                                   formControlName="factTelefono">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>Email</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Email"
                                                   formControlName="factEmail">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Dirección</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Dirección"
                                                   formControlName="factDireccion">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field third-width">
                                        <label>Código postal</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Código postal"
                                                   formControlName="factCodigoPostal">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Población</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Población"
                                                   formControlName="factPoblacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Provincia</label>
                                        <mat-form-field class="max-width">
                                            <mat-select formControlName="factProvincia">
                                                @for (provincia of config.provincias; track provincia.id) {
                                                <mat-option [value]="provincia.id">
                                                    {{provincia.name}}
                                                </mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                }
                            </mat-tab>
                            @if (form.value.id) {
                            <mat-tab label="FACTURAS">
                                <table [ngClass]="{'tabla-facturas-hide': selectedClient.facturas.length === 0}"
                                       mat-table
                                       [dataSource]="facturasDataSource"
                                       matSort
                                       class="mat-elevation-z2"
                                       #facturasTable>

                                    <!-- Id -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell
                                            *matHeaderCellDef>
                                            Factura
                                        </th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>

                                    <!-- Fecha -->
                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell
                                            *matHeaderCellDef>
                                            Fecha
                                        </th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.fecha}} </td>
                                    </ng-container>

                                    <!-- Importe -->
                                    <ng-container matColumnDef="importe">
                                        <th class="center"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            Importe
                                        </th>
                                        <td class="center"
                                            mat-cell
                                            *matCellDef="let element"> {{element.importe | fixedNumber}} € </td>
                                    </ng-container>

                                    <!-- Opciones -->
                                    <ng-container matColumnDef="opciones">
                                        <th class="center"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            Imprimir
                                        </th>
                                        <td class="center"
                                            mat-cell
                                            *matCellDef="let element">
                                            @if (element.impresa && selectedClient.email !== null && selectedClient.email !== '') {
                                            <button class="facturas-btn"
                                                    type="button"
                                                    mat-icon-button
                                                    (click)="enviarFactura($event, element)">
                                                <mat-icon>email</mat-icon>
                                            </button>
                                            }
                                            @if (element.impresa) {
                                            <button class="facturas-btn"
                                                    type="button"
                                                    mat-icon-button
                                                    (click)="imprimirFactura($event, element)">
                                                <mat-icon>print</mat-icon>
                                            </button>
                                            }
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row
                                        *matHeaderRowDef="facturasDisplayedColumns"></tr>
                                    <tr class="clickable"
                                        mat-row
                                        (click)="selectFactura(i)"
                                        *matRowDef="let row; columns: facturasDisplayedColumns; let i = index;"></tr>
                                </table>
                                @if (selectedClient.facturas.length === 0) {
                                <div class="no-facturas">
                                    Este cliente todavía no tiene ninguna factura.
                                </div>
                                }
                                <div class="new-factura">
                                    <button mat-raised-button
                                            type="button"
                                            color="primary"
                                            (click)="nuevaFactura()">
                                        Nueva factura
                                    </button>
                                </div>
                            </mat-tab>
                            <mat-tab label="ESTADÍSTICAS">
                                <div class="stats-box">
                                    <label>Últimas ventas</label>
                                    <div class="stats-table">
                                        <div class="stats-table-header">
                                            <div class="stats-table-col">Fecha</div>
                                            <div class="stats-table-col">Localizador</div>
                                            <div class="stats-table-col stats-table-col-3">Nombre</div>
                                            <div class="stats-table-col">Unidades</div>
                                            <div class="stats-table-col">PVP</div>
                                            <div class="stats-table-col">Importe</div>
                                        </div>
                                        <div class="stats-table-data">
                                            @for (venta of selectedClient.ultimasVentas; track venta.fecha) {
                                            <div class="stats-table-row">
                                                <div class="stats-table-col stats-table-col-center">{{venta.fecha}}</div>
                                                <div class="stats-table-col stats-table-col-center">{{venta.localizador}}</div>
                                                <div class="stats-table-col stats-table-col-3">{{venta.nombre}}</div>
                                                <div class="stats-table-col stats-table-col-center">{{venta.unidades}}</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.pvp | fixedNumber}} €</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.importe | fixedNumber}} €</div>
                                            </div>
                                            }
                                            @empty {
                                            <div class="stats-table-row">
                                                <div class="stats-table-col stats-table-col-center">El cliente todavía no tiene ninguna venta.</div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="stats-box">
                                    <label>Top ventas</label>
                                    <div class="stats-table">
                                        <div class="stats-table-header">
                                            <div class="stats-table-col">Localizador</div>
                                            <div class="stats-table-col stats-table-col-5">Nombre</div>
                                            <div class="stats-table-col">Importe</div>
                                        </div>
                                        <div class="stats-table-data">
                                            @for (venta of selectedClient.topVentas; track venta.localizador) {
                                            <div class="stats-table-row">
                                                <div class="stats-table-col stats-table-col-center">{{venta.localizador}}</div>
                                                <div class="stats-table-col stats-table-col-5">{{venta.nombre}}</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.importe | fixedNumber}} €</div>
                                            </div>
                                            }
                                            @empty {
                                            <div class="stats-table-row">
                                                <div class="stats-table-col stats-table-col-center">El cliente todavía no tiene ninguna venta.</div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="stats-box">
                                    <label>Consumo mensual</label>
                                    <div class="stats-data"></div>
                                    <div class="stats-controls">
                                        <div class="form-field">
                                            <label>Mes</label>
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="stats.month"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option [value]="-1">Todos</mat-option>
                                                    @for (month of monthList; track month.id) {
                                                    <mat-option [value]="month.id">
                                                        {{month.name}}
                                                    </mat-option>
                                                    }
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-field">
                                            <label>Año</label>
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="stats.year"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option [value]="-1">Todos</mat-option>
                                                    @for (year of yearList; track year) {
                                                    <mat-option [value]="year">
                                                        {{year}}
                                                    </mat-option>
                                                    }
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            }
                        </mat-tab-group>
                        <div class="actions">
                            <div class="delete">
                                @if (form.value.id) {
                                <button mat-raised-button
                                        color="warn"
                                        type="button"
                                        (click)="deleteCliente()">Eliminar</button>
                                }
                            </div>
                            <div class="others">
                                @if (form.value.id) {
                                <button mat-raised-button
                                        color="primary"
                                        type="button"
                                        (click)="imprimirLOPD()">Imprimir LOPD</button>
                                }
                                <button mat-raised-button
                                        color="primary"
                                        [disabled]="!form.dirty"
                                        type="button"
                                        (click)="resetForm()">Cancelar</button>
                                <button mat-raised-button
                                        type="submit"
                                        color="primary"
                                        [disabled]="!form.valid">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </mat-card-content>
</mat-card>