.clientes {
  margin: 16px;

  .full-height {
    height: 100%;
  }

  .header {
    display: flex;
    margin-bottom: 8px;
    height: 48px;
    align-items: center;

    .title {
      font-size: 24px;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .select-client {
      display: flex;
      align-items: center;

      .client-button {
        display: inline-flex;
        margin: 0 8px;
        font-weight: bold;
        height: 48px;
        align-items: center;
        width: 50px;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: var(--color-medium-light-grey);
          border-radius: 6px;
        }
      }

      .client-name {
        font-weight: bold;
      }
    }
  }

  .start-message {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    &.show {
      display: flex;
    }
  }

  .main-body {
    display: none;

    &.show {
      display: block;
    }

    .same-data {
      height: 40px;

      &.selected {
        border-bottom: 1px solid var(--color-light-grey);
        margin-bottom: 16px;
      }
    }

    .no-facturas {
      text-align: center;
      font-size: 1.2em;
      margin: 32px 0;
    }

    .new-factura {
      text-align: center;
      margin-bottom: 32px;
    }

    .tabla-facturas-hide {
      display: none;
    }

    .actions {
      display: flex;

      .delete {
        flex: 2;
      }

      .others {
        flex: 1;
        display: flex;
        justify-content: space-around;

        button {
          margin-left: 16px;
        }
      }
    }
  }
}

.facturas-btn {
  margin: 0 16px;
}