.clientes {
  margin: 16px;

  aside {
    padding: 16px;
    border-right: 1px solid var(--separator-color);
    flex: 1;

    .search {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }

    .selected-client {
      background-color: #eee;
    }

    .new-client {
      border-top: 1px solid var(--separator-color);
      margin-top: 16px;

      button {
        width: 100%;
        display: block;
        margin-top: 8px;
        text-align: left;

        .sub-line {
          color: #888;
          margin-top: 4px;
        }
      }
    }
  }

  main {
    padding: 16px;
    flex: 8;

    .start-message {
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;

      &.show {
        display: flex;
      }
    }

    .main-body {
      display: none;

      &.show {
        display: block;
      }

      .same-data {
        height: 40px;

        &.selected {
          border-bottom: 1px solid #ccc;
          margin-bottom: 16px;
        }
      }

      .no-facturas {
        text-align: center;
        font-size: 1.2em;
        margin: 32px 0;
      }

      .new-factura {
        text-align: center;
        margin-bottom: 32px;
      }

      .tabla-facturas-hide {
        display: none;
      }

      .actions {
        display: flex;

        .delete {
          flex: 2;
        }

        .others {
          flex: 1;
          display: flex;
          justify-content: space-around;

          button {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.facturas-btn {
  margin: 0 16px;
}