<div class="caja-body">
    <mat-tab-group class="caja-tabs"
                   [selectedIndex]="cajaSelectedTab"
                   (selectedIndexChange)="cajaSelectedTab = $event"
                   (selectedTabChange)="checkCajaTab($event)"
                   animationDuration="0ms"
                   #cajaTabs>
        <mat-tab label="HISTÓRICO DE VENTAS">
            <otpv-historico-ventas (cerrarVentanaEvent)="cerrarCaja()"
                                   #historicoVentas />
        </mat-tab>
        <mat-tab label="SALIDAS CAJA">
            <otpv-salidas-caja (salidaCajaEvent)="newSalidaCaja($event)"
                               #salidasCaja />
        </mat-tab>
        <mat-tab [aria-labelledby]="from() === 'modal' ? 'hidden' : ''"
                 label="CERRAR CAJA">
            <otpv-cierre-caja #cierreCaja />
        </mat-tab>
        <mat-tab [aria-labelledby]="from() === 'modal' ? 'hidden' : ''"
                 label="INFORMES">
            <otpv-generar-informe />
        </mat-tab>
    </mat-tab-group>
</div>