.empleados-list {
  display: flex;

  .empleado {
    padding: 32px;
    font-size: 1.5em;
    margin: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
    }
  }
}

.login-box {
  .login-texto {
    text-align: center;
    padding: 16px;
  }

  .login-continuar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 32px 0;

    .login-pass {
      margin-right: 8px;

      &>div.mat-form-field-wrapper {
        margin: 0;
        padding: 0;
      }
    }

    button {
      margin-left: 16px;
      display: inline-block;
      margin-top: 5px;

      img {
        width: 24px;
      }
    }
  }
}