.articulo-proveedor-cols {
    display: flex;
    flex-direction: row;

    &>div {
        width: 50%;
        min-width: 300px;

        .prov-marcas-list {
            max-height: 205px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-bottom: 8px;
        }
    }
}