.articulo-proveedor-cols {
    display: flex;
    flex-direction: row;

    .col-two {
        flex: 2;
        min-width: 600px;

        .row {
            margin-bottom: 16px;
        }
    }

    .col {
        flex: 1;
        min-width: 300px;

        .prov-marcas-list {
            max-height: 205px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-bottom: 8px;

            .prov-marcas-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>span {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    letter-spacing: 0.0178571429em;
                }
            }
        }
    }
}