<div class="descuento-texto">
    En caso de querer usar un importe concreto de descuento en vez de un porcentaje, introdúcelo a continuación:
</div>
<div class="descuento-otros">
    <mat-form-field class="descuento-otros-importe">
        <mat-label>Importe en euros</mat-label>
        <input matInput
               type="number"
               min="0"
               step="0.1"
               placeholder="Importe en euros"
               [(ngModel)]="descuentoImporte"
               (keyup)="checkDescuentoImporte($event)"
               #descuentoValue>
    </mat-form-field>
    €
    <button mat-flat-button
            color="primary"
            (click)="selectDescuento()">Continuar</button>
</div>