.buscador-box {
    mat-form-field {
        width: 100%;
    }

    .resultados {
        display: none;
        max-height: 400px;
        overflow-y: auto;

        &.show {
            display: block;
        }
    }
}