<mat-toolbar class="toolbar">
	<span class="toolbar-title">Osumi TPV - Instalación - Paso {{paso}}/3</span>
	@if (back) {
	<button mat-flat-button
			color="primary"
			routerLink="/gestion">
		<mat-icon>chevron_left</mat-icon>
		Volver
	</button>
	}
</mat-toolbar>

@if (paso === 1) {
<p class="title">Antes de empezar tenemos que configurar ciertos valores que se usarán en toda la aplicación:</p>

<mat-card class="main">
	<mat-card-content>
		<p><strong>Datos del negocio</strong></p>
		<div class="row">
			<mat-form-field class="three">
				<mat-label>Nombre</mat-label>
				<input matInput
					   placeholder="Nombre"
					   [(ngModel)]="nombre">
			</mat-form-field>
			<mat-form-field class="three">
				<mat-label>Nombre comercial</mat-label>
				<input matInput
					   placeholder="Nombre comercial"
					   [(ngModel)]="nombreComercial">
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field class="three">
				<mat-label>CIF</mat-label>
				<input matInput
					   placeholder="CIF"
					   [(ngModel)]="cif">
			</mat-form-field>
			<mat-form-field class="three">
				<mat-label>Teléfono</mat-label>
				<input matInput
					   placeholder="Teléfono"
					   [(ngModel)]="telefono">
			</mat-form-field>
			<mat-form-field class="three">
				<mat-label>Email</mat-label>
				<input matInput
					   type="email"
					   placeholder="Email"
					   [(ngModel)]="email">
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field class="two">
				<mat-label>Dirección</mat-label>
				<input matInput
					   placeholder="Dirección"
					   [(ngModel)]="direccion">
			</mat-form-field>
			<mat-form-field class="two">
				<mat-label>Población</mat-label>
				<input matInput
					   placeholder="Población"
					   [(ngModel)]="poblacion">
			</mat-form-field>
		</div>
		<p><strong>Logo</strong></p>
		<div class="logo-row">
			<input type="file"
				   name="logo-file"
				   id="logo-file"
				   accept="image/png, image/gif, image/jpeg"
				   (change)="onLogoChange($event)">
			@if (logo !== '') {
			<img [src]="logo"
				 alt="Logo">
			}
			<button mat-flat-button
					color="primary"
					(click)="addLogo()">Añadir logo</button>
		</div>
		@if (showEmployee) {
		<p><strong>Datos del empleado</strong></p>
		<div class="row">
			<mat-form-field class="four">
				<mat-label>Nombre de usuario</mat-label>
				<input matInput
					   placeholder="Nombre de usuario"
					   [(ngModel)]="nombreEmpleado">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Contraseña del administrador</mat-label>
				<input matInput
					   type="password"
					   placeholder="Contraseña del administrador"
					   [(ngModel)]="pass">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Confirmar contraseña</mat-label>
				<input matInput
					   type="password"
					   placeholder="Confirmar contraseña"
					   [(ngModel)]="confPass">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Color</mat-label>
				<input matInput
					   type="color"
					   placeholder="Color"
					   [(ngModel)]="color">
			</mat-form-field>
		</div>
		}
		<p><strong>Redes</strong></p>
		<div class="row">
			<mat-form-field class="four">
				<mat-label>Twitter</mat-label>
				<input matInput
					   placeholder="Twitter"
					   [(ngModel)]="twitter">
				<img src="/icons/twitter.svg"
					 alt="Twitter">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Facebook</mat-label>
				<input matInput
					   placeholder="Facebook"
					   [(ngModel)]="facebook">
				<img src="/icons/facebook.svg"
					 alt="Facebook">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Instagram</mat-label>
				<input matInput
					   placeholder="Instagram"
					   [(ngModel)]="instagram">
				<img src="/icons/instagram.svg"
					 alt="Instagram">
			</mat-form-field>
			<mat-form-field class="four">
				<mat-label>Web</mat-label>
				<input matInput
					   placeholder="Web"
					   [(ngModel)]="web">
				<img src="/icons/web.svg"
					 alt="Web">
			</mat-form-field>
		</div>
		<p><strong>Caja inicial</strong></p>
		<div class="row">
			<mat-form-field class="money">
				<mat-label>Caja inicial</mat-label>
				<input matInput
					   type="number"
					   placeholder="Caja inicial"
					   [(ngModel)]="cajaInicial">
			</mat-form-field>
			€
		</div>
		<p><strong>Valores iniciales</strong></p>
		<div class="row">
			<mat-form-field class="money">
				<mat-label>Num. ticket inicial</mat-label>
				<input matInput
					   type="number"
					   step="1"
					   placeholder="Num. ticket inicial"
					   [(ngModel)]="ticketInicial">
			</mat-form-field>
			<mat-form-field class="money">
				<mat-label>Num. Factura inicial</mat-label>
				<input matInput
					   type="number"
					   step="1"
					   placeholder="Num. Factura inicial"
					   [(ngModel)]="facturaInicial">
			</mat-form-field>
		</div>
	</mat-card-content>
	<mat-card-actions class="end-actions">
		<button mat-flat-button
				color="primary"
				(click)="irAPaso(2)"
				[disabled]="saving">
			@if (saving) {
			<img src="/img/loading.svg"
				 alt="">
			}
			Continuar
			<mat-icon>chevron_right</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
}

@if (paso === 2) {
<mat-card class="main">
	<mat-card-content>
		<p>¿Quieres usar IVA o Recargo de equivalencia?</p>

		<mat-radio-group class="option-margin"
						 aria-label="IVA / RE"
						 [(ngModel)]="selectedOption">
			@for (option of ivareOptions; track option.id) {
			<mat-radio-button [value]="option.id">{{ option.name }}</mat-radio-button>
			}
		</mat-radio-group>

		<p>Elige los tipos de IVA @if (selectedOption === 're') {<span> + Recargo de Equivalencia</span>} que quieres usar en la aplicación:</p>

		<ul class="margin-list">
			@for (item of ivaOptionsList; track item.option; let i = $index;) {
			<li>
				<mat-checkbox (change)="checkIva($event, i)"
							  [(ngModel)]="item.selected">
					{{ (selectedOption==='iva') ? item.option : (item.option + ' + ' + reOptionsList[i]) }} %
				</mat-checkbox>
			</li>
			}
		</ul>

		<p>
			<button mat-flat-button
					class="option-margin"
					color="primary"
					(click)="selectAllIvas()">Marcar todos</button>
			<button mat-flat-button
					class="option-margin"
					color="primary"
					(click)="selectNoneIvas()">Desmarcar todos</button>
		</p>

		<p>La aplicación muestra sugerencias de márgenes de beneficios. A continuación, elige los diferentes márgenes con los que quieres trabajar:</p>

		<ul class="margin-list">
			@for (option of marginList; track option) {
			<li>
				<mat-checkbox [(ngModel)]="option.checked">{{ option.value }} %</mat-checkbox>
			</li>
			}
		</ul>

		<p>
			<button mat-flat-button
					class="option-margin"
					color="primary"
					(click)="selectAllMargins()">Marcar todos</button>
			<button mat-flat-button
					class="option-margin"
					color="primary"
					(click)="selectNoneMargins()">Desmarcar todos</button>
		</p>
	</mat-card-content>
	<mat-card-actions class="end-actions">
		<button mat-flat-button
				color="primary"
				(click)="irAPaso(1)"
				[disabled]="saving">
			@if (saving) {
			<img src="/img/loading.svg"
				 alt="">
			}
			<mat-icon>chevron_left</mat-icon>
			Atrás
		</button>
		<button mat-flat-button
				color="primary"
				(click)="irAPaso(3)"
				[disabled]="saving">
			@if (saving) {
			<img src="/img/loading.svg"
				 alt="">
			}
			Continuar
			<mat-icon>chevron_right</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
}

@if (paso === 3) {
<mat-card class="main">
	<mat-card-content>
		<p>¿La aplicación se enlazará con una tienda online?</p>

		<div>
			<mat-radio-group class="option-margin"
							 aria-label="Venta online"
							 [(ngModel)]="hasOnline">
				<mat-radio-button value="0">No</mat-radio-button>
				<mat-radio-button value="1">Si</mat-radio-button>
			</mat-radio-group>

			@if (hasOnline === '1') {
			<mat-form-field class="url-api-field">
				<mat-label>URL base de la API de la tienda</mat-label>
				<input matInput
					   placeholder="URL base de la API de la tienda"
					   [(ngModel)]="urlApi">
			</mat-form-field>

			<mat-form-field class="url-api-field">
				<mat-label>Secreto de la API de la tienda</mat-label>
				<input matInput
					   placeholder="Secreto de la API de la tienda"
					   [(ngModel)]="secretApi">
			</mat-form-field>
			}
		</div>

		<p>¿Los artículos de la aplicación tienen fecha de caducidad?</p>

		<mat-radio-group class="option-margin"
						 aria-label="Fecha caducidad"
						 [(ngModel)]="hasExpiryDate">
			<mat-radio-button value="0">No</mat-radio-button>
			<mat-radio-button value="1">Si</mat-radio-button>
		</mat-radio-group>

		<p>¿La aplicación será usada por varios empleados?</p>

		<mat-radio-group class="option-margin"
						 aria-label="Empleados"
						 [(ngModel)]="hasEmpleados">
			<mat-radio-button value="0">No</mat-radio-button>
			<mat-radio-button value="1">Si</mat-radio-button>
		</mat-radio-group>

		<p>Si tienes aquí una suscripción con TPV Backup, introduce aquí la clave API para realizar las copias de seguridad.</p>

		<div class="row">
			<mat-form-field class="three">
				<mat-label>Backup API key</mat-label>
				<input matInput
					   placeholder="Backup API key"
					   [(ngModel)]="backupApiKey">
			</mat-form-field>
		</div>
	</mat-card-content>
	<mat-card-actions class="end-actions">
		<button mat-flat-button
				color="primary"
				(click)="irAPaso(2)"
				[disabled]="saving">
			@if (saving) {
			<img src="/img/loading.svg"
				 alt="">
			}
			<mat-icon>chevron_left</mat-icon>
			Atrás
		</button>
		<button mat-flat-button
				color="primary"
				(click)="saveConfiguration()"
				[disabled]="saving">
			@if (saving) {
			<img src="/img/loading.svg"
				 alt="">
			}
			Guardar configuración
			<mat-icon>done</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
}