<mat-card class="pedidos-list">
    <mat-card-header>
        <mat-card-title>
            <span class="pedidos-list-header">
                Pedidos guardados
                <button class="pedido-new"
                        mat-flat-button
                        color="primary"
                        routerLink="/compras/pedido">
                    <mat-icon>add_circle_outline</mat-icon>
                    Nuevo pedido
                </button>
                <mat-card [class]="{'show': showGuardadosFilters()}">
                    <mat-card-content>
                        <form (ngSubmit)="filtrarGuardados()">
                            <div class="filters">
                                <div class="filter-options">
                                    <div class="row">
                                        <div>
                                            <mat-form-field subscriptSizing="dynamic">
                                                <mat-label>Fecha desde</mat-label>
                                                <input matInput
                                                       [matDatepicker]="guardadosRangoDesdePicker"
                                                       [field]="formGuardados.fechaDesde">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="guardadosRangoDesdePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #guardadosRangoDesdePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field subscriptSizing="dynamic">
                                                <mat-label>Fecha hasta</mat-label>
                                                <input matInput
                                                       [matDatepicker]="guardadosRangoHastaPicker"
                                                       [field]="formGuardados.fechaHasta">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="guardadosRangoHastaPicker"></mat-datepicker-toggle>
                                                <mat-datepicker #guardadosRangoHastaPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <mat-form-field subscriptSizing="dynamic"
                                                        class="max-width">
                                            <mat-select [field]="formGuardados.idProveedor"
                                                        placeholder="Proveedor">
                                                <mat-option [value]="null">Elige proveedor</mat-option>
                                                @for (proveedor of proveedoresService.proveedores(); track proveedor.id) {
                                                <mat-option [value]="proveedor.id">
                                                    {{proveedor.nombre}}
                                                </mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field subscriptSizing="dynamic"
                                                        class="max-width">
                                            <mat-label>Albarán</mat-label>
                                            <input matInput
                                                   placeholder="Albarán"
                                                   [field]="formGuardados.albaran">
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Importe (desde)</mat-label>
                                                <input matInput
                                                       placeholder="Importe (desde)"
                                                       type="number"
                                                       [field]="formGuardados.importeDesde">
                                                <span matTextSuffix>€</span>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Importe (hasta)</mat-label>
                                                <input matInput
                                                       placeholder="Importe (hasta)"
                                                       type="number"
                                                       [field]="formGuardados.importeHasta">
                                                <span matTextSuffix>€</span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-actions">
                                    <button mat-flat-button
                                            color="primary"
                                            type="submit">
                                        <mat-icon>find_in_page</mat-icon>
                                        Filtrar
                                    </button>
                                    @if (guardadosFiltered()) {
                                    <button mat-flat-button
                                            color="primary"
                                            (click)="quitarFiltrosGuardados($event)">
                                        <mat-icon>filter_list_off</mat-icon>
                                        Quitar filtros
                                    </button>
                                    }
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
                <button class="filters-button"
                        mat-icon-button
                        title="Filtrar resultados"
                        (click)="openGuardadosFilters()">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (pedidosGuardadosDataSource.data.length > 0) {
        <table mat-table
               [dataSource]="pedidosGuardadosDataSource"
               class="mat-elevation-z2 ">

            <!-- Fecha pedido -->
            <ng-container matColumnDef="fechaPedido">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Fecha pedido
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.fechaPedido}} </td>
            </ng-container>

            <!-- Proveedor -->
            <ng-container matColumnDef="proveedor">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Proveedor
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    {{ element.proveedor !== '' ? element.proveedor : '-' }}
                    @if (element.observaciones) {
                    <mat-icon class="icon"
                              [matTooltip]="element.observacionesShort">info_outline</mat-icon>
                    }
                </td>
            </ng-container>

            <!-- Tipo -->
            <ng-container matColumnDef="num">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Tipo
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    @if (element.num !== '') {
                    <span>{{element.nombreTipo}}: {{element.num}}</span>
                    }
                    @if (element.num === '') {
                    <span>-</span>
                    }
                </td>
            </ng-container>

            <!-- Importe -->
            <ng-container matColumnDef="importe">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Importe
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.importe | fixedNumber}} € </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="pedidosGuardadosDisplayedColumns"></tr>
            <tr mat-row
                class="clickable"
                (click)="goToPedido(row)"
                [class]="{'mark': row.tipo === 'abono'}"
                *matRowDef="let row; columns: pedidosGuardadosDisplayedColumns;"></tr>
        </table>
        <mat-paginator [length]="guardadosPags"
                       [pageSize]="numPorPag"
                       [pageSizeOptions]="[10, 20, 50]"
                       [pageIndex]="pageGuardadosIndex"
                       (page)="changePageGuardados($event)">
        </mat-paginator>
        }
        @else {
        <div class="no-results">No se ha encontrado ningún pedido.</div>
        }
    </mat-card-content>
</mat-card>

<mat-card class="pedidos-list">
    <mat-card-header>
        <mat-card-title>
            <span class="pedidos-list-header">
                Pedidos recepcionados
                <mat-card [class]="{'show': showRecepcionadosFilters()}">
                    <mat-card-content>
                        <form (ngSubmit)="filtrarRecepcionados()">
                            <div class="filters">
                                <div class="filter-options">
                                    <div class="row">
                                        <div>
                                            <mat-form-field subscriptSizing="dynamic">
                                                <mat-label>Fecha desde</mat-label>
                                                <input matInput
                                                       [matDatepicker]="recepcionadosRangoDesdePicker"
                                                       [field]="formRecepcionados.fechaDesde">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="recepcionadosRangoDesdePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #recepcionadosRangoDesdePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field subscriptSizing="dynamic">
                                                <mat-label>Fecha hasta</mat-label>
                                                <input matInput
                                                       [matDatepicker]="recepcionadosRangoHastaPicker"
                                                       [field]="formRecepcionados.fechaHasta">
                                                <mat-datepicker-toggle matSuffix
                                                                       [for]="recepcionadosRangoHastaPicker"></mat-datepicker-toggle>
                                                <mat-datepicker #recepcionadosRangoHastaPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <mat-form-field subscriptSizing="dynamic"
                                                        class="max-width">
                                            <mat-select [field]="formRecepcionados.idProveedor"
                                                        placeholder="Proveedor">
                                                <mat-option [value]="null">Elige proveedor</mat-option>
                                                @for (proveedor of proveedoresService.proveedores(); track proveedor.id) {
                                                <mat-option [value]="proveedor.id">
                                                    {{ proveedor.nombre }}
                                                </mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field subscriptSizing="dynamic"
                                                        class="max-width">
                                            <mat-label>Albarán</mat-label>
                                            <input matInput
                                                   placeholder="Albarán"
                                                   [field]="formRecepcionados.albaran">
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Importe (desde)</mat-label>
                                                <input matInput
                                                       placeholder="Importe (desde)"
                                                       type="number"
                                                       [field]="formRecepcionados.importeDesde">
                                                <span matTextSuffix>€</span>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Importe (hasta)</mat-label>
                                                <input matInput
                                                       placeholder="Importe (hasta)"
                                                       type="number"
                                                       [field]="formRecepcionados.importeHasta">
                                                <span matTextSuffix>€</span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-actions">
                                    <button mat-flat-button
                                            color="primary"
                                            type="submit">
                                        <mat-icon>find_in_page</mat-icon>
                                        Filtrar
                                    </button>
                                    @if (recepcionadosFiltered()) {
                                    <button mat-flat-button
                                            color="primary"
                                            (click)="quitarFiltrosRecepcionados($event)">
                                        <mat-icon>filter_list_off</mat-icon>
                                        Quitar filtros
                                    </button>
                                    }
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
                <button class="filters-button"
                        mat-icon-button
                        title="Filtrar resultados"
                        (click)="openRecepcionadosFilters()">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (pedidosRecepcionadosDataSource.data.length > 0) {
        <table mat-table
               [dataSource]="pedidosRecepcionadosDataSource"
               class="mat-elevation-z2 ">

            <!-- Fecha recepcionado -->
            <ng-container matColumnDef="fechaRecepcionado">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Fecha recepcionado
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.fechaRecepcionado}} </td>
            </ng-container>

            <!-- Fecha pedido -->
            <ng-container matColumnDef="fechaPedido">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Fecha pedido
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.fechaPedido}} </td>
            </ng-container>

            <!-- Fecha pago -->
            <ng-container matColumnDef="fechaPago">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Fecha pago
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.fechaPago}} </td>
            </ng-container>

            <!-- Proveedor -->
            <ng-container matColumnDef="proveedor">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Proveedor
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    {{element.proveedor}}
                    @if (element.observaciones) {
                    <mat-icon class="icon"
                              [matTooltip]="element.observacionesShort">info_outline</mat-icon>
                    }
                </td>
            </ng-container>

            <!-- Tipo -->
            <ng-container matColumnDef="num">
                <th mat-header-cell
                    *matHeaderCellDef>
                    Tipo
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.nombreTipo}}: {{element.num}} </td>
            </ng-container>

            <!-- Importe -->
            <ng-container matColumnDef="importe">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="right">
                    Importe
                </th>
                <td mat-cell
                    class="right"
                    *matCellDef="let element"> {{element.importe | fixedNumber}} € </td>
            </ng-container>

            <!-- Iconos -->
            <ng-container matColumnDef="iconos">
                <th mat-header-cell
                    class="right"
                    *matHeaderCellDef></th>
                <td mat-cell
                    class="right"
                    *matCellDef="let element">
                    @if (element.ue) {
                    <img class="icon table-icon"
                         src="/icons/europe-flag.svg"
                         alt="Unión Europea">
                    }
                    @if (element.pdfs.length > 0) {
                    <mat-icon class="icon">picture_as_pdf</mat-icon>
                    }
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="pedidosRecepcionadosDisplayedColumns"></tr>
            <tr mat-row
                class="clickable"
                [class]="{'mark': row.tipo === 'abono'}"
                (click)="goToPedido(row)"
                *matRowDef="let row; columns: pedidosRecepcionadosDisplayedColumns;"></tr>
        </table>
        <mat-paginator [length]="recepcionadosPags"
                       [pageSize]="numPorPag"
                       [pageSizeOptions]="[10, 20, 50]"
                       [pageIndex]="pageRecepcionadosIndex"
                       (page)="changePageRecepcionados($event)" />
        }
        @else {
        <div class="no-results">No se ha encontrado ningún pedido.</div>
        }
    </mat-card-content>
</mat-card>