<div class="articulo-proveedor-cols">
    <div class="col-two">
        <div class="row">
            <div class="form-field half-width">
                <label>Nombre (*)</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre"
                           [(ngModel)]="proveedor.nombre"
                           #nombreBox>
                </mat-form-field>
            </div>
            <div class="form-field half-width">
                <label>Dirección</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Dirección"
                           [(ngModel)]="proveedor.direccion">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-field half-width">
                <label>Email</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Email"
                           [(ngModel)]="proveedor.email">
                </mat-form-field>
            </div>
            <div class="form-field half-width">
                <label>Web</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Web"
                           [(ngModel)]="proveedor.web">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-field half-width">
                <label>Teléfono</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Teléfono"
                           [(ngModel)]="proveedor.telefono">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-field max-width">
                <label>Observaciones</label>
                <mat-form-field class="max-width"
                                subscriptSizing="dynamic">
                    <textarea matInput
                              placeholder="Observaciones"
                              [(ngModel)]="proveedor.observaciones"
                              rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-field max-width">
            <label>Marcas del proveedor</label>
            @if (marcasSelected.length > 0) {
            <div class="prov-marcas-list">
                @for (marca of marcasSelected; track marca.id) {
                <div class="prov-marcas-item">
                    <mat-checkbox [checked]="true"
                                  (change)="removeMarcaToProveedor(marca, $event)">
                        {{ marca.nombre }}
                    </mat-checkbox>
                    @if (marca.proveedor !== null) {
                    <span>{{ marca.proveedor }}</span>
                    }
                </div>
                }
            </div>
            }
            <div class="prov-marcas-list">
                @for (marca of marcas; track marca.id) {
                <div class="prov-marcas-item">
                    <mat-checkbox [checked]="false"
                                  (change)="addMarcaToProveedor(marca, $event)">
                        {{ marca.nombre }}
                    </mat-checkbox>
                    @if (marca.proveedor !== null) {
                    <span>{{ marca.proveedor }}</span>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-actions">
    <button mat-flat-button
            color="primary"
            (click)="guardarProveedor()">Guardar</button>
</div>