<otpv-header selectedOption="ventas"
			 #header></otpv-header>

<otpv-tabs [showClose]="true"
		   (closeTabEvent)="cerrarVenta($event)"
		   (newTabEvent)="newVenta()"
		   (changeTabEvent)="startFocus()"
		   (selectClientEvent)="selectClient($event)"
		   (selectReservaEvent)="selectReserva($event)"
		   #tabs></otpv-tabs>
<otpv-una-venta *ngFor="let venta of vs.list; let i = index"
				[ind]="i"
				[ngClass]="{'hidden':i!=vs.selected}"
				(deleteVentaLineaEvent)="deleteVentaLinea($event)"
				(endVentaEvent)="endVenta($event)"
				(openCajaEvent)="openCaja($event)"
				#ventas></otpv-una-venta>