<otpv-header selectedOption="ventas"></otpv-header>

<otpv-tabs [showClose]="true" (closeTabEvent)="cerrarVenta($event)" (newTabEvent)="newVenta()" (changeTabEvent)="startFocus()" (selectClientEvent)="selectClient($event)"></otpv-tabs>
<div class="ventas-header">
	<div class="col-localizador">Localizador</div>
	<div class="col-descripcion">Descripción</div>
	<div class="col-stock">Stock</div>
	<div class="col-cantidad">Cantidad</div>
	<div class="col-pvp">PVP</div>
	<div class="col-importe">Importe</div>
	<div class="col-descuentos">Desc.</div>
</div>
<otpv-una-venta [venta]="vs.ventaActual" (deleteVentaLineaEvent)="deleteVentaLinea($event)" (endVentaEvent)="endVenta($event)" #venta></otpv-una-venta>

<div class="modal-bg"  [ngClass]="{'show': showFinalizarVenta}">
	<div class="modal-box">
		<div class="modal-header">
			Finalizar venta
		</div>
		<div class="modal-body finalizar-venta">
			<div class="col-left">
				<div class="col-line">
					<mat-form-field class="mat-form-field-no-bottom">
						<mat-label>Efectivo</mat-label>
						<input matInput placeholder="Efectivo" [(ngModel)]="vs.fin.efectivo" [disabled]="vs.fin.idTipoPago !== null && !vs.fin.pagoMixto"
						(focus)="$event.target.select()"
						(input)="updateCambio()"
						#efectivoValue>
					</mat-form-field>
					€
					<mat-form-field class="mat-form-field-no-bottom">
						<mat-label>Cambio</mat-label>
						<input matInput placeholder="Cambio" [(ngModel)]="vs.fin.cambio" [disabled]="vs.fin.idTipoPago !== null && !vs.fin.pagoMixto" readonly>
					</mat-form-field>
					€
				</div>
				<div class="tipos-pago">
					<div class="tipo-pago" *ngFor="let tipo of config.tiposPago" [ngClass]="{'tipo-pago-selected': vs.fin.idTipoPago===tipo.id}" (click)="selectTipoPago(tipo.id)">
						<img [src]="'https://apitpv.osumi.es/tipos-pago/icon-' + tipo.slug + '.png'">
						{{tipo.nombre}}
					</div>
				</div>
				<div class="col-line-check">
					<mat-checkbox [(ngModel)]="vs.fin.pagoMixto" (change)="changePagoMixto($event)">Pago mixto</mat-checkbox>
					<mat-form-field class="mat-form-field-no-bottom">
						<mat-label>Importe tarjeta</mat-label>
						<input matInput placeholder="Importe tarjeta" [(ngModel)]="vs.fin.tarjeta" [disabled]="!vs.fin.pagoMixto"
						(focus)="$event.target.select()"
						(input)="updateEfectivoMixto()"
						#tarjetaValue>
					</mat-form-field>
				</div>
				<div class="col-line-check">
					<mat-checkbox [(ngModel)]="vs.fin.factura" (change)="changeFactura($event)">Factura</mat-checkbox>
					<mat-form-field class="mat-form-field-no-bottom">
						<mat-select [(ngModel)]="vs.fin.idCliente" [disabled]="!vs.fin.factura" #clientesValue>
							<mat-option *ngFor="let cliente of cs.clientes" [value]="cliente.id">
								{{cliente.nombreApellidos}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="total mat-elevation-z4">
					<div class="total-title">TOTAL</div>
					<div class="total-importe">{{vs.fin.total}} €</div>
				</div>
				<div class="col-line">
					<button mat-raised-button color="warn" (click)="cerrarFinalizarVenta()">Cancelar</button>
					<button mat-raised-button color="primary" (click)="cerrarFinalizarVenta()">Finalizar</button>
				</div>
			</div>
			<div class="col-right">
				<div class="venta-linea">
					<div class="venta-linea-localizador">Loc.</div>
					<div class="venta-linea-marca">Marca</div>
					<div class="venta-linea-nombre">Nombre</div>
					<div class="venta-linea-cant">Cant.</div>
					<div class="venta-linea-desc">Desc.</div>
					<div class="venta-linea-subtotal">Subt.</div>
				</div>
				<div class="venta-linea" *ngFor="let linea of vs.fin.lineas">
					<div class="venta-linea-localizador">{{linea.localizador}}</div>
					<div class="venta-linea-marca">{{linea.marca}}</div>
					<div class="venta-linea-nombre">{{linea.descripcion}}</div>
					<div class="venta-linea-cant">{{linea.cantidad}}</div>
					<div class="venta-linea-desc">{{linea.descuento}} %</div>
					<div class="venta-linea-subtotal">{{linea.total | fixedNumber}} €</div>
				</div>
			</div>
		</div>
	</div>
</div>
