.factura {
    padding: 16px;

    .header {
        display: flex;
        margin-bottom: 6px;

        .col {
            width: 50%;

            &.right {
                text-align: right;
            }

            &.align-bottom {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            img {
                width: 300px;
            }

            .row-info {
                line-height: 24px;
                display: flex;

                label {
                    flex: 1;
                    font-weight: bold;
                    text-align: right;
                }

                span {
                    width: 150px;
                    text-align: right;
                }
            }
        }

        .col-datos {
            font-size: 14px;
        }
    }

    .header-logo {
        margin-bottom: 32px;
    }

    .datos {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        border-spacing: 0;
        margin-top: 32px;

        th {
            border-bottom: 1px solid #000;
        }

        th,
        td {
            border-left: 1px solid #000;
            padding: 6px;

            &.right {
                text-align: right;
            }

            &.center {
                text-align: center;
            }

            &.col-concepto {
                width: 34%;

                mat-icon {
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;
                    vertical-align: middle;

                    &.deployed {
                        transform: rotate(90deg);
                    }
                }
            }

            &.col-precio-iva-unidad {
                width: 10%;
            }

            &.col-precio-sin-iva {
                width: 10%;
            }

            &.col-unidades {
                width: 5%;
            }

            &.col-subtotal {
                width: 10%;
            }

            &.col-iva {
                width: 14%;
            }

            &.col-iva-porcentaje {
                width: 7%;
            }

            &.col-iva-importe {
                width: 7%;
            }

            &.col-descuento {
                width: 7%;
            }

            &.col-total {
                width: 41%;
            }

            &.sub-item {
                background-color: #eee;

                &.col-concepto {
                    padding-left: 16px;
                }
            }
        }
    }

    .totales {
        display: flex;
        justify-content: flex-end;

        table {
            border: 1px solid #000;
            border-spacing: 0;
            width: 30%;
            box-sizing: border-box;

            th,
            td {
                padding: 6px;

                &.label {
                    text-align: right;
                }

                &.importe {
                    text-align: right;
                    background-color: #ccc;
                }

                &.importe-total {
                    font-weight: bold;
                    border-top: 1px solid #000;
                    font-size: 1.2em;
                }
            }
        }
    }

    .pagado {
        line-height: 50px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 40%;
        margin: 48px auto;
        text-align: center;
        font-size: 2em;
        color: #888;
    }

    .print {
        position: fixed;
        bottom: 16px;
        background-color: #eee;
        border-radius: 6px;
        width: 80%;
        left: 10%;
        display: flex;
        align-items: center;
        height: 100px;
        padding: 16px;
        box-sizing: border-box;

        span {
            font-size: 2em;
            color: #888;
            flex: 1;
        }
    }
}

@media print {
    .factura {

        .datos,
        .totales {
            font-size: 0.6em;
        }

        .datos {
            td {
                &.col-concepto {
                    mat-icon {
                        display: none;
                    }
                }
            }
        }

        .print {
            span {
                text-align: center;
            }

            button {
                display: none;
            }
        }
    }
}