.card-margin{
  margin: 16px;
}

.nombre-label{
  width: 800px;
}

.form-field{
  display: inline-block;
  margin-right: 16px;
}

.form-field > label{
  display: block;
  line-height: 24px;
  font-weight: bold;
}

.form-field-left{
  display: inline-block;
  margin-right: 48px;
}

.form-field-left > label{
  display: inline-block;
  line-height: 24px;
  font-weight: bold;
  margin-right: 16px;
  min-width: 90px;
  text-align: right;
}

.margin-left{
  margin-left: 16px;
}

.margin-right{
  margin-right: 60px;
}

.margin-bottom{
  margin-bottom: 24px;
}

.align-right{
  text-align: right;
}

.campo-numero{
  width: 100px;
}

.tab-icon{
  margin-left: 8px;
}

.hidden{
  visibility: hidden;
}