.not-opened {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

	.not-opened-button {
		width: 400px;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			width: 300px;
			height: 100px;
			font-size: 1.8em;
		}
	}
}

.options {
	width: 100%;
	height: calc(100% - 64px);
	position: absolute;
	top: 64px;
	left: 0;

	& > * {
		height: 100%;
		width: 100%;
		display: none;
	}

	.option-show {
		display: block !important;
	}
}
