.buscador-box {
    height: 100%;

    mat-form-field {
        width: 100%;
    }

    .resultados {
        display: none;
        height: calc(100% - 76px);
        overflow-y: auto;

        &.show {
            display: block;
        }

        &.selected-lines {
            height: calc(100% - 126px);
        }
    }

    .select-lines-row {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 50px;
    }
}