.buscador-box {
    height: 100%;

    mat-form-field {
        width: 100%;
    }

    .resultados {
        display: none;
        height: calc(100% - 76px);
        overflow-y: auto;

        &.show {
            display: block;
        }
    }
}