.buscador {
    width: 100%;
}

.elegir-clientes-result {
    .elegir-clientes-no-result {
        padding: 4px;
        text-align: center;
    }
}

.cliente-nuevo-row {
    .cliente-nuevo-half {
        width: calc(50% - 8px);
        margin-right: 8px;
    }

    .cliente-nuevo-full {
        width: calc(100% - 8px);
    }

    .cliente-nuevo-third {
        width: calc(33% - 8px);
        margin-right: 8px;
    }
}

.cliente-nuevo-save {
    text-align: right;

    img {
        width: 24px;
    }
}