<div class="tab-container">
	<div class="tab-list">
		<div class="tab-item" *ngFor="let tab of tabs.names; let i = index" [ngClass]="{'tab-selected': tabs.selected==i}" (click)="selectTab(i)">
			{{tab}}
			<mat-icon *ngIf="showClose" class="tab-icon" (click)="closeTab(i)">close</mat-icon>
		</div>
		<div class="new-tab" (click)="newTab()">
			<mat-icon>add</mat-icon>
		</div>
		<div class="select-client" (click)="selectClient()">
			<mat-icon>person_add</mat-icon>
		</div>
	</div>
</div>

<div class="modal-bg" [ngClass]="{'show': mostrarElegirCliente}">
	<div class="modal-box">
		<div class="modal-header">
			Seleccionar cliente
			<a href="#" (click)="cerrarElegirCliente($event)">
				<mat-icon>close</mat-icon>
			</a>
		</div>
		<div class="modal-body elegir-cliente">
			<mat-tab-group #elegirClienteTabs>
				<mat-tab label="Buscar">
					<mat-form-field class="buscador">
						<input matInput placeholder="Introduce el nombre, apellidos, teléfono o email del cliente a buscar" [(ngModel)]="elegirClienteNombre" (input)="searchStart()" #elegirClienteBoxName>
					</mat-form-field>
					<div class="elegir-clientes-result" *ngIf="searched">
						<div class="elegir-clientes-item" *ngIf="searchResult.length">
							<div class="elegir-clientes-nombre">Nombre y apellidos</div>
							<div class="elegir-clientes-telefono">Teléfono</div>
							<div class="elegir-clientes-ultima">Última venta</div>
						</div>
						<div class="elegir-clientes-item" *ngFor="let cliente of searchResult">
							<div class="elegir-clientes-nombre">{{cliente.nombreApellidos}}</div>
							<div class="elegir-clientes-telefono">{{cliente.telefono}}</div>
							<div class="elegir-clientes-ultima">{{cliente.ultimaVenta}}</div>
						</div>
						<div class="elegir-clientes-no-result" *ngIf="searchResult.length===0">
							No se han encontrado resultados.
						</div>
					</div>
				</mat-tab>
				<mat-tab label="Nuevo cliente">
					<div class="cliente-nuevo-row">
						<mat-form-field class="cliente-nuevo-half">
							<label>Nombre y apellidos</label>
							<input matInput placeholder="Nombre y apellidos" [(ngModel)]="nuevoCliente.nombreApellidos">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-half">
							<label>DNI / CIF</label>
							<input matInput placeholder="DNI / CIF" [(ngModel)]="nuevoCliente.dniCif">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row">
						<mat-form-field class="cliente-nuevo-half">
							<label>Telefono</label>
							<input matInput placeholder="Telefono" [(ngModel)]="nuevoCliente.telefono">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-half">
							<label>Email</label>
							<input matInput placeholder="Email" [(ngModel)]="nuevoCliente.email">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row">
						<mat-form-field class="cliente-nuevo-full">
							<label>Dirección</label>
							<input matInput placeholder="Dirección" [(ngModel)]="nuevoCliente.direccion">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row">
						<mat-form-field class="cliente-nuevo-third">
							<label>Código Postal</label>
							<input matInput placeholder="Código Postal" [(ngModel)]="nuevoCliente.codigoPostal">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-third">
							<label>Población</label>
							<input matInput placeholder="Población" [(ngModel)]="nuevoCliente.poblacion">
						</mat-form-field>
						<mat-form-field>
							<label>Provincia</label>
							<mat-select [(ngModel)]="nuevoCliente.provincia">
								<mat-option *ngFor="let provincia of config.provincias" [value]="provincia.id">
									{{provincia.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row">
						<mat-form-field class="cliente-nuevo-full">
							<label>Observaciones</label>
							<textarea matInput placeholder="Observaciones" [(ngModel)]="nuevoCliente.observaciones" rows="5"></textarea>
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row">
						<mat-checkbox [(ngModel)]="nuevoCliente.factIgual">
							Mismos datos para la facturación
						</mat-checkbox>
					</div>
					<div class="cliente-nuevo-row" *ngIf="!nuevoCliente.factIgual">
						<mat-form-field class="cliente-nuevo-half">
							<label>Nombre y apellidos (Facturación)</label>
							<input matInput placeholder="Nombre y apellidos (Facturación)" [(ngModel)]="nuevoCliente.factNombreApellidos">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-half">
							<label>DNI / CIF (Facturación)</label>
							<input matInput placeholder="DNI / CIF (Facturación)" [(ngModel)]="nuevoCliente.factDniCif">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row" *ngIf="!nuevoCliente.factIgual">
						<mat-form-field class="cliente-nuevo-half">
							<label>Telefono (Facturación)</label>
							<input matInput placeholder="Telefono (Facturación)" [(ngModel)]="nuevoCliente.factTelefono">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-half">
							<label>Email (Facturación)</label>
							<input matInput placeholder="Email (Facturación)" [(ngModel)]="nuevoCliente.factEmail">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row" *ngIf="!nuevoCliente.factIgual">
						<mat-form-field class="cliente-nuevo-full">
							<label>Dirección (Facturación)</label>
							<input matInput placeholder="Dirección (Facturación)" [(ngModel)]="nuevoCliente.factDireccion">
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-row" *ngIf="!nuevoCliente.factIgual">
						<mat-form-field class="cliente-nuevo-third">
							<label>Código Postal (Facturación)</label>
							<input matInput placeholder="Código Postal (Facturación)" [(ngModel)]="nuevoCliente.factCodigoPostal">
						</mat-form-field>
						<mat-form-field class="cliente-nuevo-third">
							<label>Población (Facturación)</label>
							<input matInput placeholder="Población (Facturación)" [(ngModel)]="nuevoCliente.factPoblacion">
						</mat-form-field>
						<mat-form-field>
							<label>Provincia (Facturación)</label>
							<mat-select [(ngModel)]="nuevoCliente.factProvincia">
								<mat-option *ngFor="let provincia of config.provincias" [value]="provincia.id">
									{{provincia.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="cliente-nuevo-save">
						<button mat-raised-button color="primary">Guardar y seleccionar</button>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>