<h1>{{monthName}} de {{year}}</h1>

<table mat-table
       [dataSource]="informeDataSource"
       [class]="{'loading': !loaded}"
       class="mat-elevation-z2 informe">

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell
            *matHeaderCellDef>
            Fecha
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fecha}} </td>
        <td mat-footer-cell
            *matFooterCellDef> <strong>TOTAL</strong> </td>
    </ng-container>

    <!-- Tickets -->
    <ng-container matColumnDef="tickets">
        <th class="center"
            mat-header-cell
            *matHeaderCellDef>
            Tickets
        </th>
        <td class="center"
            mat-cell
            *matCellDef="let element"> {{element.tickets}} </td>
        <td class="center"
            mat-footer-cell
            *matFooterCellDef> <strong>{{minTicket}} - {{maxTicket}}</strong> </td>
    </ng-container>

    <!-- Efectivo -->
    <ng-container matColumnDef="efectivo">
        <th class="right"
            mat-header-cell
            *matHeaderCellDef>
            Efectivo
        </th>
        <td class="right"
            mat-cell
            *matCellDef="let element">
            @if (element.minTicket === null && element.maxTicket === null) {
            <span>------</span>
            }
            @if (element.minTicket !== null && element.maxTicket !== null) {
            <span>{{element.efectivo | fixedNumber}} €</span>
            }
        </td>
        <td class="right"
            mat-footer-cell
            *matFooterCellDef> <strong>{{totalEfectivo | fixedNumber}} €</strong> </td>
    </ng-container>

    <!-- Otros tipos de pago -->
    @for (otro of otrosList; track otro) {
    <ng-container [matColumnDef]="otro">
        <th class="right"
            mat-header-cell
            *matHeaderCellDef>
            {{otrosNames[otro]}}
        </th>
        <td class="right"
            mat-cell
            *matCellDef="let element"> {{element.getOtros(otro)}} </td>
        <td class="right"
            mat-footer-cell
            *matFooterCellDef> <strong>{{ getTotalOtros(otro) | fixedNumber }} €</strong> </td>
    </ng-container>
    }

    <!-- Total -->
    <ng-container matColumnDef="totalDia">
        <th class="right"
            mat-header-cell
            *matHeaderCellDef>
            Total
        </th>
        <td class="right"
            mat-cell
            *matCellDef="let element">
            @if (element.minTicket === null && element.maxTicket === null) {
            <span>------</span>
            }
            @if (element.minTicket !== null && element.maxTicket !== null) {
            <span>{{element.totalDia | fixedNumber}} €</span>
            }
        </td>
        <td class="right"
            mat-footer-cell
            *matFooterCellDef> <strong>{{totalTotal | fixedNumber}} €</strong> </td>
    </ng-container>

    <!-- Suma -->
    <ng-container matColumnDef="suma">
        <th class="right"
            mat-header-cell
            *matHeaderCellDef>
            Suma
        </th>
        <td class="right"
            mat-cell
            *matCellDef="let element"> {{element.suma | fixedNumber}} € </td>
        <td class="right"
            mat-footer-cell
            *matFooterCellDef> <strong>{{totalSuma | fixedNumber}} €</strong> </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="informeDisplayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: informeDisplayedColumns;"></tr>
    <tr mat-footer-row
        *matFooterRowDef="informeDisplayedColumns"></tr>
</table>