@if (vs.ventaActual.mostrarEmpleados) {
<otpv-employee-login (successEvent)="loginSuccess($event)" />
}

<div class="ventas-header"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	<div class="col-localizador">Localizador</div>
	<div class="col-descripcion">Descripción</div>
	<div class="col-marca">Marca</div>
	<div class="col-cantidad">Cantidad</div>
	<div class="col-pvp">PVP</div>
	<div class="col-importe">Importe</div>
	<div class="col-descuentos">Desc.</div>
	<div class="col-stock">Stock</div>
</div>

<div class="lineas-ventas"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	@for (linea of vs.ventaActual.lineas; track linea.id; let i = $index) {
	<div class="linea-venta"
		 [ngClass]="{'linea-devolucion': linea.cantidad < 0}">
		<div class="col-localizador">
			@if (linea.idArticulo === null) {
			<input [id]="'loc-new-' + ind"
				   class="linea-localizador"
				   (keydown)="checkLocalizador($event, i)"
				   autocomplete="off"
				   [(ngModel)]="linea.localizador"
				   [disabled]="searching">
			}
			@if (linea.idArticulo !== null) {
			{{linea.localizador}}
			}
			@if (linea.idArticulo !== null && linea.fromVenta === null) {
			<mat-icon class="delete-linea"
					  [matTooltip]="(linea.fromReserva !== null && linea.cantidad < 0) ? 'Recuperar línea': '¿Borrar línea?'"
					  (click)="borraLinea(i)">{{(linea.fromReserva !== null && linea.cantidad < 0) ? 'refresh': 'delete'}}</mat-icon>
			}
			@if (linea.idArticulo === null && linea.fromVenta === null) {
			<mat-icon class="accesos-directos"
					  matTooltip="Abrir accesos directos"
					  (click)="abreAccesosDirectos()">launch</mat-icon>
			}
			@if (linea.fromVenta !== null) {
			<mat-icon class="accesos-directos"
					  (click)="mostrarDevolucion()"
					  matTooltip="Abrir devolución">shopping_cart_checkout</mat-icon>
			}
		</div>
		<div class="col-descripcion">
			@if (!linea.descripcion) {
			&nbsp;
			}
			@else {
			<span (click)="goToArticulo(linea, i)">
				{{linea.descripcion}}
				@if (linea.observaciones) {
				<mat-icon (click)="showObservaciones($event, linea.observaciones)"
						  matTooltip="Mostrar observaciones del artículo">info_outline</mat-icon>
				}
			</span>
			}
		</div>
		<div class="col-marca">
			@if (!linea.marca) {
			&nbsp;
			}
			@else {
			<span>
				{{linea.marca}}
			</span>
			}
		</div>
		<div class="col-cantidad"
			 [ngClass]="{'animate': linea.animarCantidad}">
			@if (linea.idArticulo === null) {
			&nbsp;
			}
			@else {
			@if (!editarCantidad && linea.fromVenta === null) {
			<span class="editar-linea-cantidad"
				  (click)="editarLineaCantidad(i)">
				{{linea.cantidad}}
			</span>
			}
			@if (editarCantidad && linea.fromVenta === null) {
			<span>
				<input type="number"
					   class="linea-cantidad"
					   min="0"
					   step="1"
					   [(ngModel)]="linea.cantidad"
					   [id]="'linea-cantidad-' + ind + '_' + i"
					   (keyup)="checkCantidad($event, i, false)"
					   (blur)="checkCantidad($event, i, true)">
			</span>
			}
			@if (linea.fromVenta !== null) {
			<span>{{linea.cantidad}}</span>
			}
			}
		</div>
		<div class="col-pvp">
			@if (linea.pvp === null) {
			&nbsp;
			}
			@else {
			<span>{{linea.pvp | fixedNumber}} €</span>
			<mat-icon matTooltip="Marcar como regalo"
					  [ngClass]="{'selected': linea.regalo}"
					  (click)="setRegalo(i)">loyalty</mat-icon>
			}
		</div>
		<div class="col-importe">
			@if (linea.importe === null && linea.fromVenta === null) {
			&nbsp;
			}
			@if (linea.importe !== null && linea.fromVenta === null) {
			@if (!editarImporte) {
			<span [ngClass]="{'editar-linea-importe': vs.ventaActual.modificarImportes, 'editar-linea-importe-off': !vs.ventaActual.modificarImportes}"
				  (click)="editarLineaImporte(i)">
				{{linea.total | fixedNumber}} €
				@if (linea.importeManual) {
				<mat-icon (click)="quitaImporteManual($event, i)"
						  matTooltip="Quita el importe introducido manualmente">close</mat-icon>
				}
			</span>
			}
			@else {
			<span>
				<input type="number"
					   class="linea-importe"
					   min="0"
					   step="0.1"
					   [(ngModel)]="linea.importe"
					   [id]="'linea-importe-' + ind + '_' + i"
					   (keyup)="checkImporte($event, i, false)"
					   (blur)="checkImporte($event, i, true)">
				€
			</span>
			}
			}
			@if (linea.fromVenta !== null) {
			<span>{{linea.total | fixedNumber}} €</span>
			}
		</div>
		<div class="col-descuentos">
			@if (!editarDescuento && linea.descuento === null && linea.fromVenta === null) {
			&nbsp;
			}
			@if ((linea.descuento !== null || editarDescuento) && linea.fromVenta === null) {
			@if (!editarDescuento) {
			<span class="editar-linea-descuento"
				  (click)="editarLineaDescuento(i)">
				{{linea.descuento | fixedNumber}}
				@if (!linea.descuentoManual) {
				%
				}
				@else {
				€
				}
				@if (!linea.descuentoManual && vs.ventaActual.modificarImportes) {
				<span (click)="abreDescuento($event, linea)"
					  matTooltip="introducir un importe como descuento">
					<mat-icon>euro</mat-icon>
				</span>
				}
				@if (linea.descuentoManual) {
				<span (click)="quitaDescuentoManual($event, i)"
					  matTooltip="Quita el importe introducido como descuento">
					<mat-icon>close</mat-icon>
				</span>
				}
			</span>
			}
			@else {
			<span>
				<input type="number"
					   class="linea-descuento"
					   min="0"
					   step="1"
					   [(ngModel)]="linea.descuento"
					   [id]="'linea-descuento-' + ind + '_' + i"
					   (keyup)="checkDescuento($event, false)"
					   (blur)="checkDescuento($event, true)">
				%
			</span>
			}
			}
			@if (linea.fromVenta !== null) {
			<span>{{linea.descuento}} %</span>
			}
		</div>
		<div class="col-stock">
			@if (linea.stock === null) {
			&nbsp;
			}
			@else {
			<span>{{linea.idArticulo !== 0 ? linea.stock : '-'}}</span>
			}
		</div>
	</div>
	}
</div>

@if (vs.ventaActual.cliente) {
<div class="cliente-estadisticas">
	<div class="col-ultimas-ventas">
		<div class="estadisticas-titulo">Últimas ventas</div>
		@if (showClienteEstadisticas && vs.ventaActual.cliente.ultimasVentas.length) {
		<div class="estadisticas-datos">
			<div class="estadisticas-item">
				<div class="estadisticas-item-fecha">Fecha</div>
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-unidades">Unid.</div>
				<div class="estadisticas-item-importe">PVP</div>
				<div class="estadisticas-item-importe">Imp.</div>
			</div>
			@for (item of vs.ventaActual.cliente.ultimasVentas; track item.localizador) {
			<div class="estadisticas-item">
				<div class="estadisticas-item-fecha">{{item.fecha}}</div>
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-unidades">{{item.unidades}}</div>
				<div class="estadisticas-item-importe">{{item.pvp| fixedNumber}} €</div>
				<div class="estadisticas-item-importe">{{item.importe| fixedNumber}} €</div>
			</div>
			}
		</div>
		}
		@if (showClienteEstadisticas && !vs.ventaActual.cliente.ultimasVentas.length) {
		<div class="estadisticas-sin-datos">
			El cliente no ha realizado ninguna compra todavía.
		</div>
		}
	</div>
	<div class="col-top-ventas">
		<div class="estadisticas-titulo">
			Top ventas
			<mat-icon (click)="closeClienteEstadisticas()"
					  [ngClass]="{'closed': !showClienteEstadisticas}">expand_more</mat-icon>
		</div>
		@if (showClienteEstadisticas && vs.ventaActual.cliente.topVentas.length) {
		<div class="estadisticas-datos">
			<div class="estadisticas-item">
				<div class="estadisticas-item-localizador">Loc.</div>
				<div class="estadisticas-item-nombre">Nombre</div>
				<div class="estadisticas-item-importe">Imp.</div>
				<div class="estadisticas-item-importe">Ud.</div>
			</div>
			@for (item of vs.ventaActual.cliente.topVentas; track item.localizador) {
			<div class="estadisticas-item">
				<div class="estadisticas-item-localizador">{{item.localizador}}</div>
				<div class="estadisticas-item-nombre">{{item.nombre}}</div>
				<div class="estadisticas-item-importe">{{item.importe | fixedNumber}} €</div>
				<div class="estadisticas-item-importe">{{item.unidades}}</div>
			</div>
			}
		</div>
		}
		@if (showClienteEstadisticas && !vs.ventaActual.cliente.topVentas.length) {
		<div class="estadisticas-sin-datos">
			El cliente no ha realizado ninguna compra todavía.
		</div>
		}
	</div>
</div>
}

<div class="importe"
	 [ngClass]="{'hidden': vs.ventaActual.mostrarEmpleados}">
	<div class="total-importe"
		 (click)="openCaja()">
		{{vs.ventaActual.importe | fixedNumber}} €
	</div>
	<div class="venta-anterior"
		 [ngClass]="{'show': showUltimaVenta}">
		<span>Última venta: {{ultimaVentaImporte | fixedNumber}} €</span>
		<span>Cambio: {{ultimaVentaCambio | fixedNumber}} €</span>
	</div>
	<div class="controles-venta">
		<button mat-stroked-button
				[disabled]="vs.ventaActual.lineas.length === 1"
				(click)="cancelarVenta()">Cancelar</button>
		<button class="end-btn"
				mat-raised-button
				color="primary"
				[disabled]="vs.ventaActual.lineas.length === 1"
				(click)="terminarVenta()">Terminar</button>
	</div>
</div>