.ventas-header {
  &.hidden {
    display: none;
  }

  div {
    display: inline-block;
    line-height: 32px;
    text-align: center;
    background-color: var(--color-light-grey);
  }
}

.lineas-ventas {
  &.hidden {
    display: none;
  }

  .linea-venta {
    border-top: 1px solid var(--color-dark-grey);

    &.linea-devolucion {
      &>div {
        background-color: var(--table-row-selected);
      }
    }

    &>div {
      display: inline-block;
      line-height: 32px;
      text-align: center;
      background-color: var(--color-white);
      height: 32px;

      &.animate {
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-name: animate-cantidad;
      }

      .linea-localizador {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0 5px;
        font-size: inherit;

        &:disabled {
          background-color: var(--color-light-grey);
          cursor: default;
        }
      }

      .delete-linea {
        position: absolute;
        left: 6px;
        top: 4px;
        cursor: pointer;
      }

      .accesos-directos {
        position: absolute;
        right: 6px;
        top: 4px;
        cursor: pointer;
      }

      .linea-cantidad {
        width: 100%;
        height: 30px;
        border: 0;
        outline: 0;
        text-align: center;
        font-size: inherit;
        background-color: transparent;
      }

      .editar-linea-cantidad {
        display: block;
        position: relative;

        &:hover {
          cursor: pointer;
          background-color: var(--main-color);
          color: var(--main-color-contrast);
        }
      }

      .editar-linea-importe {
        display: block;
        position: relative;

        &:hover {
          cursor: pointer;
          background-color: var(--main-color);
          color: var(--main-color-contrast);

          mat-icon {
            color: var(--main-color-contrast);
          }
        }

        mat-icon {
          cursor: pointer;
          position: absolute;
          right: 3px;
          top: 3px;
        }
      }

      .editar-linea-importe-off {
        display: block;
        position: relative;
      }

      .linea-importe {
        display: inline-block;
        width: 90%;
        height: 30px;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0 5px;
        font-size: inherit;
        text-align: right;
        box-sizing: border-box;
      }

      .editar-linea-descuento {
        display: block;
        position: relative;
        text-align: left;
        padding-left: 8px;

        &.con-descuento {
          background-color: var(--color-red);
          color: var(--color-white);
        }

        &:hover {
          cursor: pointer;
          background-color: var(--main-color);
          color: var(--main-color-contrast);

          mat-icon {
            color: var(--main-color-contrast);
          }
        }

        &>span {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .linea-descuento {
        display: inline-block;
        width: 60%;
        height: 30px;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0 5px;
        font-size: inherit;
        text-align: right;
        box-sizing: border-box;
      }
    }
  }
}

@keyframes animate-cantidad {
  from {
    background-color: var(--bg-color);
  }

  to {
    background-color: var(--main-color-light);
  }
}

.cliente-estadisticas {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-grey);
  border-radius: 6px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  width: 75%;
  box-sizing: border-box;
  font-size: 0.7em;

  .col-ultimas-ventas {
    flex: 5;
  }

  .col-top-ventas {
    flex: 4;
  }

  .estadisticas-titulo {
    font-weight: bold;
    font-size: 1.3em;
    padding: 4px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    mat-icon {
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.closed {
        transform: rotate(180deg);
      }
    }
  }

  .estadisticas-datos {
    max-height: 150px;
    overflow-y: auto;

    .estadisticas-item {
      display: flex;
      padding: 8px;
      border-bottom: 2px solid var(--table-border);

      .estadisticas-item-fecha {
        flex: 1;
      }

      .estadisticas-item-localizador {
        flex: 1;
      }

      .estadisticas-item-nombre {
        flex: 6;
      }

      .estadisticas-item-unidades {
        flex: 1;
        text-align: center;
      }

      .estadisticas-item-importe {
        flex: 1;
        text-align: center;
      }
    }
  }

  .estadisticas-sin-datos {
    padding: 8px;
  }
}

.importe {
  box-sizing: border-box;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 20%;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-grey);
  border-radius: 6px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  &.hidden {
    display: none;
  }

  .total-importe {
    text-align: right;
    padding: 8px;
    font-size: 2.5em;
    margin: 8px;
    background-color: var(--color-very-light-grey);
    cursor: pointer;

    &:hover {
      background-color: var(--color-light-grey);
    }
  }

  .venta-anterior {
    display: none;
    margin: 8px;
    padding: 8px;
    justify-content: space-between;
    background-color: var(--color-very-light-grey);

    &.show {
      display: flex;
    }
  }

  .controles-venta {
    display: flex;
    align-items: center;
    padding: 0 8px 8px 8px;

    .handle-icon {
      opacity: 0;
      cursor: grab;
    }

    &:hover .handle-icon {
      opacity: 1;
    }

    .cancel-btn {
      margin-left: auto;
    }

    .end-btn {
      margin-left: 16px;
    }
  }
}