<otpv-header selectedOption="clientes"></otpv-header>

<mat-card class="clientes">
    <aside>
        <mat-form-field class="search">
            <input matInput
                   placeholder="Nombre, apellidos..."
                   [(ngModel)]="search"
                   #searchBox>
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
        <mat-action-list>
            <button mat-list-item
                    *ngFor="let cliente of cs.clientes | clientListFilter:search"
                    (click)="selectCliente(cliente)">
                <div mat-line>{{cliente.nombreApellidos}}</div>
                <div mat-line
                     class="sub-line">{{cliente.telefono}} {{cliente.direccion}}</div>
            </button>
        </mat-action-list>
        <div class="new-client">
            <button mat-button
                    (click)="newCliente()">
                <mat-icon>add_circle_outline</mat-icon>
                Añadir nuevo cliente
            </button>
        </div>
    </aside>
    <main>
        <div [ngClass]="{'show': start}"
             class="start-message">Elige un cliente de la lista.</div>
        <div [ngClass]="{'show': !start}"
             class="main-body">
            <mat-tab-group>
                <mat-tab label="DATOS">
                    <div class="form-field margin-right">
                        <div class="form-field">
                            <label>Nombre y apellidos</label>
                            <mat-form-field>
                                <input matInput
                                       placeholder="Nombre y apellidos"
                                       [(ngModel)]="selectedClient.nombreApellidos">
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            <label>DNI / CIF</label>
                            <mat-form-field>
                                <input matInput
                                       placeholder="DNI / CIF"
                                       [(ngModel)]="selectedClient.dniCif">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="ESTADÍSTICAS"> Content 2 </mat-tab>
            </mat-tab-group>
        </div>
    </main>
</mat-card>