.clientes {
  margin: 16px;
  display: flex;
  flex-direction: row;
  padding: 0;

  aside {
    padding: 16px;
    border-right: 1px solid var(--separator-color);
    flex: 1;

    .search {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }

    .selected-client {
      background-color: #eee;
    }

    .new-client {
      border-top: 1px solid var(--separator-color);
      margin-top: 16px;

      button {
        width: 100%;
        display: block;
        margin-top: 8px;
        text-align: left;

        .sub-line {
          color: #888;
          margin-top: 4px;
        }
      }
    }
  }

  main {
    padding: 16px;
    flex: 8;

    .start-message {
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;

      &.show {
        display: flex;
      }
    }

    .main-body {
      display: none;

      &.show {
        display: block;
      }

      .same-data {
        height: 40px;

        &.selected {
          border-bottom: 1px solid #ccc;
          margin-bottom: 16px;
        }
      }

      .no-facturas {
        text-align: center;
        font-size: 1.2em;
        margin: 32px 0;
      }

      .new-factura {
        text-align: center;
      }

      .actions {
        display: flex;

        .delete {
          flex: 3;
        }

        .others {
          flex: 1;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}

.facturas-title {
  font-size: 1.1em;
  margin-bottom: 16px;
}

.facturas-body {
  display: flex;

  .facturas-left {
    height: 500px;
    flex: 2;
    overflow-y: auto;
  }

  .facturas-right {
    height: 500px;
    overflow-y: auto;
    margin-left: 16px;
    flex: 3;
    box-sizing: border-box;

    .facturas-detail {
      display: none;

      &.show {
        display: block;
      }

      .facturas-detail-lineas {
        height: 250px;
        overflow-y: auto;

        .original-price {
          text-decoration: line-through;
          font-style: italic;
        }
      }
    }
  }
}

.facturas-actions {
  display: flex;
  margin-top: 16px;

  .facturas-delete {
    flex: 1;
  }

  .facturas-others {
    button {
      margin-left: 16px;
    }
  }
}