<otpv-header selectedOption="clientes"></otpv-header>

<mat-card class="clientes">
    <mat-card-content>
        <div class="flex-content">
            <aside>
                <mat-form-field class="search"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre, apellidos..."
                           [(ngModel)]="search"
                           #searchBox>
                    <span matTextPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                </mat-form-field>
                <mat-action-list>
                    <button mat-list-item
                            *ngFor="let cliente of cs.clientes | clientListFilter:search"
                            (click)="selectCliente(cliente)"
                            [ngClass]="{'selected-client': selectedClient.id===cliente.id}">
                        <div matListItemTitle>{{cliente.nombreApellidos}}</div>
                        <div matListItemLine
                             class="sub-line">{{cliente.telefono}} {{cliente.direccion}}</div>
                    </button>
                </mat-action-list>
                <div class="new-client">
                    <button mat-raised-button
                            color="primary"
                            (click)="newCliente()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Añadir cliente
                    </button>
                </div>
            </aside>
            <main>
                <div [ngClass]="{'show': start}"
                     class="start-message">Elige un cliente de la lista.</div>
                <div [ngClass]="{'show': !start}"
                     class="main-body">
                    <form [formGroup]="form"
                          (ngSubmit)="onSubmit()">
                        <mat-tab-group dynamicHeight
                                       #clienteTabs>
                            <mat-tab label="DATOS">
                                <div>
                                    <div class="form-field half-width">
                                        <label>Nombre y apellidos (*)</label>
                                        <mat-form-field class="max-width form-title">
                                            <input matInput
                                                   placeholder="Nombre y apellidos"
                                                   formControlName="nombreApellidos"
                                                   #nameBox>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>DNI / CIF</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="DNI / CIF"
                                                   formControlName="dniCif">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field half-width">
                                        <label>Teléfono</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Teléfono"
                                                   formControlName="telefono">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>Email</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Email"
                                                   formControlName="email"
                                                   #emailBox>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Dirección</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Dirección"
                                                   formControlName="direccion">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field third-width">
                                        <label>Código postal</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Código postal"
                                                   formControlName="codigoPostal">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Población</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Población"
                                                   formControlName="poblacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Provincia</label>
                                        <mat-form-field class="max-width">
                                            <mat-select formControlName="provincia">
                                                <mat-option *ngFor="let provincia of config.provincias"
                                                            [value]="provincia.id">
                                                    {{provincia.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Observaciones</label>
                                        <mat-form-field class="max-width">
                                            <textarea matInput
                                                      placeholder="Observaciones"
                                                      formControlName="observaciones"
                                                      rows="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="DATOS FACTURACIÓN">
                                <div class="same-data"
                                     [ngClass]="{'selected': !selectedClient.factIgual}">
                                    <mat-checkbox formControlName="factIgual">
                                        Mismos datos para la facturación.
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="!form.value.factIgual">
                                    <div class="form-field half-width">
                                        <label>Nombre y apellidos</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Nombre y apellidos"
                                                   formControlName="factNombreApellidos">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>DNI / CIF</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="DNI / CIF"
                                                   formControlName="factDniCif">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="!form.value.factIgual">
                                    <div class="form-field half-width">
                                        <label>Teléfono</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Teléfono"
                                                   formControlName="factTelefono">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>Email</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Email"
                                                   formControlName="factEmail">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="!form.value.factIgual">
                                    <div class="form-field max-width">
                                        <label>Dirección</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Dirección"
                                                   formControlName="factDireccion">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="!form.value.factIgual">
                                    <div class="form-field third-width">
                                        <label>Código postal</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Código postal"
                                                   formControlName="factCodigoPostal">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Población</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Población"
                                                   formControlName="factPoblacion">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field third-width">
                                        <label>Provincia</label>
                                        <mat-form-field class="max-width">
                                            <mat-select formControlName="factProvincia">
                                                <mat-option *ngFor="let provincia of config.provincias"
                                                            [value]="provincia.id">
                                                    {{provincia.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="FACTURAS"
                                     *ngIf="form.value.id">
                            </mat-tab>
                            <mat-tab label="ESTADÍSTICAS"
                                     *ngIf="form.value.id">
                                <div class="stats-box">
                                    <label>Últimas ventas</label>
                                    <div class="stats-table">
                                        <div class="stats-table-header">
                                            <div class="stats-table-col">Fecha</div>
                                            <div class="stats-table-col">Localizador</div>
                                            <div class="stats-table-col stats-table-col-3">Nombre</div>
                                            <div class="stats-table-col">Unidades</div>
                                            <div class="stats-table-col">PVP</div>
                                            <div class="stats-table-col">Importe</div>
                                        </div>
                                        <div class="stats-table-data">
                                            <div class="stats-table-row"
                                                 *ngFor="let venta of selectedClient.ultimasVentas">
                                                <div class="stats-table-col stats-table-col-center">{{venta.fecha}}</div>
                                                <div class="stats-table-col stats-table-col-center">{{venta.localizador}}</div>
                                                <div class="stats-table-col stats-table-col-3">{{venta.nombre}}</div>
                                                <div class="stats-table-col stats-table-col-center">{{venta.unidades}}</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.pvp | fixedNumber}} €</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.importe | fixedNumber}} €</div>
                                            </div>
                                            <div class="stats-table-row"
                                                 *ngIf="!selectedClient.ultimasVentas.length">
                                                <div class="stats-table-col stats-table-col-center">El cliente todavía no tiene ninguna venta.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stats-box">
                                    <label>Top ventas</label>
                                    <div class="stats-table">
                                        <div class="stats-table-header">
                                            <div class="stats-table-col">Localizador</div>
                                            <div class="stats-table-col stats-table-col-5">Nombre</div>
                                            <div class="stats-table-col">Importe</div>
                                        </div>
                                        <div class="stats-table-data">
                                            <div class="stats-table-row"
                                                 *ngFor="let venta of selectedClient.topVentas">
                                                <div class="stats-table-col stats-table-col-center">{{venta.localizador}}</div>
                                                <div class="stats-table-col stats-table-col-5">{{venta.nombre}}</div>
                                                <div class="stats-table-col stats-table-col-right">{{venta.importe | fixedNumber}} €</div>
                                            </div>
                                            <div class="stats-table-row"
                                                 *ngIf="!selectedClient.topVentas.length">
                                                <div class="stats-table-col stats-table-col-center">El cliente todavía no tiene ninguna venta.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stats-box">
                                    <label>Consumo mensual</label>
                                    <div class="stats-data"></div>
                                    <div class="stats-controls">
                                        <div class="form-field">
                                            <label>Mes</label>
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="stats.month"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option [value]="-1">Todos</mat-option>
                                                    <mat-option *ngFor="let month of monthList"
                                                                [value]="month.id">
                                                        {{month.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-field">
                                            <label>Año</label>
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="stats.year"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option [value]="-1">Todos</mat-option>
                                                    <mat-option *ngFor="let year of yearList"
                                                                [value]="year">
                                                        {{year}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                        <div class="actions">
                            <div class="delete">
                                <button mat-raised-button
                                        color="warn"
                                        *ngIf="form.value.id"
                                        type="button"
                                        (click)="deleteCliente()">Eliminar</button>
                            </div>
                            <div class="others">
                                <button mat-raised-button
                                        color="primary"
                                        *ngIf="form.value.id"
                                        type="button"
                                        (click)="imprimirLOPD()">Imprimir LOPD</button>
                                <button mat-raised-button
                                        color="primary"
                                        [disabled]="!form.dirty"
                                        type="button"
                                        (click)="resetForm()">Cancelar</button>
                                <button mat-raised-button
                                        type="submit"
                                        color="primary"
                                        [disabled]="!form.valid">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </mat-card-content>
</mat-card>