<otpv-header selectedOption="gestion"></otpv-header>

<mat-card class="marcas">
    <mat-card-content>
        <div class="flex-content">
            <aside>
                <mat-form-field class="search"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre"
                           [(ngModel)]="search"
                           #searchBox>
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                </mat-form-field>
                <mat-action-list>
                    <button mat-list-item
                            *ngFor="let marca of ms.marcas | brandListFilter:search"
                            (click)="selectMarca(marca)"
                            [ngClass]="{'selected-client': selectedMarca.id===marca.id}">
                        {{marca.nombre}}
                    </button>
                </mat-action-list>
                <div class="new-brand"
                     *ngIf="canNewBrands">
                    <button mat-raised-button
                            color="primary"
                            (click)="newMarca()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Añadir marca
                    </button>
                </div>
            </aside>
            <main>
                <div [ngClass]="{'show': start}"
                     class="start-message">Elige una marca de la lista.</div>
                <div [ngClass]="{'show': !start}"
                     class="main-body">
                    <mat-tab-group dynamicHeight
                                   #marcaTabs>
                        <mat-tab label="DATOS">
                            <form [formGroup]="form"
                                  (ngSubmit)="onSubmit()">
                                <div class="group-row">
                                    <div class="form-field half-width">
                                        <div class="form-field max-width">
                                            <label>Nombre (*)</label>
                                            <mat-form-field class="max-width form-title">
                                                <input matInput
                                                       placeholder="Nombre"
                                                       formControlName="nombre">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-field max-width">
                                            <label>Teléfono</label>
                                            <mat-form-field class="max-width">
                                                <input matInput
                                                       placeholder="Teléfono"
                                                       formControlName="telefono">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-field max-width">
                                            <label>Email</label>
                                            <mat-form-field class="max-width">
                                                <input matInput
                                                       placeholder="Email"
                                                       formControlName="email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-field half-width">
                                        <div class="logo-row">
                                            <input type="file"
                                                   name="logo-file"
                                                   id="logo-file"
                                                   accept="image/png, image/gif, image/jpeg"
                                                   (change)="onLogoChange($event)">
                                            <div class="logo">
                                                <img [src]="logo"
                                                     [alt]="selectedMarca.nombre">
                                            </div>
                                            <button mat-raised-button
                                                    color="primary"
                                                    type="button"
                                                    (click)="addLogo()"
                                                    [disabled]="!canSaveChanges">Cambiar logo</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Dirección</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Dirección"
                                                   formControlName="direccion">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Web</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Web"
                                                   formControlName="web">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Observaciones</label>
                                        <mat-form-field class="max-width">
                                            <textarea matInput
                                                      placeholder="Observaciones"
                                                      formControlName="observaciones"
                                                      rows="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="actions">
                                    <div class="delete">
                                        <button mat-raised-button
                                                *ngIf="form.value.id && canDeleteBrands"
                                                color="warn"
                                                type="button"
                                                (click)="deleteMarca()">Eliminar</button>
                                    </div>
                                    <div class="others">
                                        <button mat-raised-button
                                                color="primary"
                                                [disabled]="!form.dirty"
                                                type="button"
                                                (click)="resetForm()">Cancelar</button>
                                        <button mat-raised-button
                                                type="submit"
                                                color="primary"
                                                [disabled]="!form.valid || !canSaveChanges">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab label="ESTADÍSTICAS"
                                 *ngIf="canSeeStatistics">
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </main>
        </div>
    </mat-card-content>
</mat-card>