<otpv-header selectedOption="gestion"></otpv-header>

<mat-card class="marcas">
    <aside>
        <mat-form-field class="search mat-form-field-no-bottom">
            <input matInput
                   placeholder="Nombre"
                   [(ngModel)]="search"
                   #searchBox>
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
        <mat-action-list>
            <button mat-list-item
                    *ngFor="let marca of ms.marcas | brandListFilter:search"
                    (click)="selectMarca(marca)"
                    [ngClass]="{'selected-client': selectedMarca.id===marca.id}">
                {{marca.nombre}}
            </button>
        </mat-action-list>
        <div class="new-brand"
             *ngIf="canNewBrands">
            <button mat-button
                    (click)="newMarca()">
                <mat-icon>add_circle_outline</mat-icon>
                Añadir nueva marca
            </button>
        </div>
    </aside>
    <main>
        <div [ngClass]="{'show': start}"
             class="start-message">Elige una marca de la lista.</div>
        <div [ngClass]="{'show': !start}"
             class="main-body">
            <form [formGroup]="form"
                  (ngSubmit)="onSubmit()">
                <div>
                    <div class="form-field max-width">
                        <label>Nombre</label>
                        <mat-form-field class="max-width">
                            <input matInput
                                   placeholder="Nombre"
                                   formControlName="nombre">
                        </mat-form-field>
                    </div>
                </div>
                <div class="logo-row">
                    <input type="file"
                           name="logo-file"
                           id="logo-file"
                           accept="image/png, image/gif, image/jpeg"
                           (change)="onLogoChange($event)">
                    <div class="logo">
                        <img [src]="logo"
                             [alt]="selectedMarca.nombre">
                    </div>
                    <button mat-raised-button
                            color="primary"
                            type="button"
                            (click)="addLogo()">Cambiar logo</button>
                </div>
                <div>
                    <div class="form-field max-width">
                        <label>Dirección</label>
                        <mat-form-field class="max-width">
                            <input matInput
                                   placeholder="Dirección"
                                   formControlName="direccion">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div class="form-field half-width">
                        <label>Teléfono</label>
                        <mat-form-field class="max-width">
                            <input matInput
                                   placeholder="Teléfono"
                                   formControlName="telefono">
                        </mat-form-field>
                    </div>
                    <div class="form-field half-width">
                        <label>Email</label>
                        <mat-form-field class="max-width">
                            <input matInput
                                   placeholder="Email"
                                   formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div class="form-field max-width">
                        <label>Web</label>
                        <mat-form-field class="max-width">
                            <input matInput
                                   placeholder="Web"
                                   formControlName="web">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div class="form-field max-width">
                        <label>Observaciones</label>
                        <mat-form-field class="max-width">
                            <textarea matInput
                                      placeholder="Observaciones"
                                      formControlName="observaciones"
                                      rows="5"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="actions">
                    <div class="delete">
                        <button mat-raised-button
                                color="warn"
                                [disabled]="!form.value.id"
                                type="button"
                                (click)="deleteMarca()">Borrar</button>
                    </div>
                    <div class="others">
                        <button mat-raised-button
                                color="primary"
                                [disabled]="!form.dirty"
                                type="button"
                                (click)="resetForm()">Cancelar</button>
                        <button mat-raised-button
                                type="submit"
                                color="primary"
                                [disabled]="!form.valid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</mat-card>