:host {
	background-color: #eee;
}

.main {
	margin: 16px;

	p {
		margin: 16px 0;
	}

	.mat-radio-button ~ .mat-radio-button {
		margin-left: 16px;
	}

	.option-margin {
		margin-left: 16px;
	}

	.margin-list {
		margin: 16px;
		padding: 0;
		list-style-type: none;

		li {
			margin-bottom: 8px;
		}
	}

	.end-actions {
		padding: 16px;
		display: flex;
		justify-content: flex-end;
	}
}
