:host {
	background-color: #eee;
}

.title {
	margin: 16px;
}

.main {
	margin: 16px;

	p {
		margin: 16px 0;
	}

	.row {
		.two {
			width: calc(50% - 32px);
			margin-right: 32px;
		}

		.three {
			width: calc(33% - 32px);
			margin-right: 32px;
		}

		.four {
			width: calc(25% - 32px);
			margin-right: 32px;
			position: relative;

			img {
				width: 24px;
				position: absolute;
				right: 10px;
				top: 6px;
			}
		}

		.full {
			width: calc(100% - 32px);
		}
	}

	.mat-radio-button ~ .mat-radio-button {
		margin-left: 16px;
	}

	.option-margin {
		margin-left: 16px;
	}

	.margin-list {
		margin: 16px;
		padding: 0;
		list-style-type: none;

		li {
			margin-bottom: 8px;
		}
	}

	.url-api-field {
		margin-left: 32px;
		width: calc(50% - 32px);
	}

	.end-actions {
		padding: 16px;
		display: flex;
		justify-content: flex-end;

		img {
			width: 24px;
		}
	}
}
