<mat-toolbar color="primary">
	<span>Osumi TPV: Instalación</span>
</mat-toolbar>

<mat-card class="main">
	<mat-card-content>
		<p>Antes de empezar tenemos que configurar ciertos valores que se usarán en toda la aplicación:</p>
		
		<mat-card class="business-data">
			<mat-card-title>Datos del negocio</mat-card-title>
			<mat-card-content>
				<div class="row">
					<mat-form-field class="half">
						<input matInput placeholder="Nombre" [(ngModel)]="nombre">
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="half">
						<input matInput placeholder="CIF" [(ngModel)]="cif">
					</mat-form-field>
					<mat-form-field class="half">
						<input matInput placeholder="Teléfono" [(ngModel)]="telefono">
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="full">
						<input matInput placeholder="Dirección" [(ngModel)]="direccion">
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="half">
						<input matInput placeholder="Email" [(ngModel)]="email">
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="half">
						<input matInput type="password" placeholder="Contraseña del administrador" [(ngModel)]="pass">
					</mat-form-field>
					<mat-form-field class="half">
						<input matInput type="password" placeholder="Confirmar contraseña" [(ngModel)]="confPass">
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<p>¿Quieres usar IVA o Recargo de equivalencia?</p>

		<mat-radio-group class="option-margin" aria-label="IVA / RE" [(ngModel)]="selectedOption">
			<mat-radio-button *ngFor="let option of ivareOptions" [value]="option.id">{{ option.name }}</mat-radio-button>
		</mat-radio-group>

		<p>Elige los tipos de IVA<span *ngIf="selectedOption==='re'"> + Recargo de Equivalencia</span> que quieres usar en la aplicación:</p>

		<ul class="margin-list">
			<li *ngFor="let item of ivaOptionsList; let i=index">
				<mat-checkbox (change)="checkIva($event, i)" [(ngModel)]="item.selected">
					{{ (selectedOption==='iva') ? item.option : (item.option + ' + ' + reOptionsList[i]) }} %
				</mat-checkbox>
			</li>
		</ul>

		<p>
			<button mat-raised-button class="option-margin" color="primary" (click)="selectAllIvas()">Marcar todos</button>
			<button mat-raised-button class="option-margin" color="primary" (click)="selectNoneIvas()">Desmarcar todos</button>
		</p>

		<p>La aplicación muestra sugerencias de márgenes de beneficios. A continuación, elige los diferentes márgenes con los que quieres trabajar:</p>

		<ul class="margin-list">
			<li *ngFor="let option of marginList">
				<mat-checkbox [(ngModel)]="option.checked">{{ option.value }} %</mat-checkbox>
			</li>
		</ul>

		<p>
			<button mat-raised-button class="option-margin" color="primary" (click)="selectAllMargins()">Marcar todos</button>
			<button mat-raised-button class="option-margin" color="primary" (click)="selectNoneMargins()">Desmarcar todos</button>
		</p>

		<p>¿La aplicación se enlazará con una tienda online?</p>

		<div>
			<mat-radio-group class="option-margin" aria-label="Venta online" [(ngModel)]="hasOnline">
				<mat-radio-button value="0">No</mat-radio-button>
				<mat-radio-button value="1">Si</mat-radio-button>
			</mat-radio-group>
			<mat-form-field class="url-api-field" *ngIf="hasOnline==='1'">
				<input matInput placeholder="URL base de la API de la tienda" [(ngModel)]="urlApi">
			</mat-form-field>
		</div>

		<p>¿Los artículos de la aplicación tienen fecha de caducidad?</p>

		<mat-radio-group class="option-margin" aria-label="Fecha caducidad" [(ngModel)]="hasExpiryDate">
			<mat-radio-button value="0">No</mat-radio-button>
			<mat-radio-button value="1">Si</mat-radio-button>
		</mat-radio-group>

		<p>¿La aplicación será usada por varios empleados?</p>

		<mat-radio-group class="option-margin" aria-label="Empleados" [(ngModel)]="hasEmpleados">
			<mat-radio-button value="0">No</mat-radio-button>
			<mat-radio-button value="1">Si</mat-radio-button>
		</mat-radio-group>
	</mat-card-content>
	<mat-card-actions class="end-actions">
		<button mat-raised-button color="primary" (click)="saveConfiguration()" [disabled]="saving">
			<img src="/assets/loading.svg" *ngIf="saving">
			Guardar configuración
		</button>
	</mat-card-actions>
</mat-card>
