@use "assets/styles/modals.scss";
@use "assets/styles/ventas.scss";
@use "assets/styles/forms.scss";

:root {
  --bg-color: #eee;
  --main-color: #3f51b5;
  --main-color-contrast: #fff;
  --modal-bg-color: rgba(0, 0, 0, 0.6);
  --modal-alt-bg-color: rgba(255, 255, 255, 0.6);
  --close-icon: #000;
  --close-icon-hover: #f00;
  --table-border: #888;
  --table-data-border: rgba(0, 0, 0, 0.12);
  --separator-color: #ccc;
  --form-modified: #00f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  -webkit-appearance: none;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--modal-alt-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-tab-body-content {
  padding: 16px;
}

.toolbar-title {
  flex: 1;
}

mat-form-field.no-padding>.mat-form-field-wrapper {
  padding-bottom: 0;
}