.articulo-numbers-row {
    display: flex;

    .articulo-numbers {
        display: inline-flex;
        margin-right: 48px;

        .articulo-col {
            display: flex;
            flex-direction: column;

            &.articulo-col-reverse {
                justify-content: flex-end;
            }
        }
    }
}

.fec-cad-hidden {
    display: none;
}