<div>
    <div class="form-field margin-right">
        <label>Marca (*)</label>
        <mat-form-field>
            <mat-select [(ngModel)]="articulo().idMarca">
                @for (marca of ms.marcas(); track marca.id) {
                <mat-option [value]="marca.id">
                    {{ marca.nombre }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-icon-button
                aria-label="Añadir nueva marca"
                title="Añadir nueva marca"
                type="button"
                (click)="newMarca()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
    <div class="form-field margin-right">
        <label>IVA (*)</label>
        <mat-form-field>
            <mat-select [(ngModel)]="articulo().iva"
                        (ngModelChange)="updateIva($event)">
                @for (iva of ivaList; track iva) {
                <mat-option [value]="iva">
                    {{ iva }} %
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    @if (tipoIva === 're') {
    <div class="form-field margin-right">
        <label>RE (*)</label>
        <mat-form-field>
            <mat-select [(ngModel)]="articulo().re"
                        (ngModelChange)="updateRe($event)">
                @for (re of reList; track re) {
                <mat-option [value]="re">
                    {{ re }} %
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    }
    @if (mostrarWeb) {
    <div class="form-field">
        <label>Venta online</label>
        <mat-slide-toggle color="primary"
                          [(ngModel)]="articulo().ventaOnline">
            {{ articulo().ventaOnline ? 'Activado' : 'Desactivado' }}
        </mat-slide-toggle>
    </div>
    }
</div>

<div>
    <div class="form-field margin-right">
        <label>Proveedor</label>
        <mat-form-field>
            <mat-select [(ngModel)]="articulo().idProveedor">
                @for (prov of ps.proveedores(); track prov.id) {
                <mat-option [value]="prov.id">
                    {{ prov.nombre }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-icon-button
                title="Añadir nuevo proveedor"
                type="button"
                (click)="openProveedor()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
    <!--div class="form-field">
												<label>Categoría</label>
												<mat-form-field>
													<mat-select [(ngModel)]="articulo().idCategoria">
                                                        @for (cat of categoriesPlain; track cat.id) {
														<mat-option [value]="cat.id">
															<span style="display: block;"
																  [style]="{'margin-left': (15 * cat.profundidad) + 'px'}">{{cat.nombre}}</span>
														</mat-option>
                                                        }
													</mat-select>
												</mat-form-field>
											</div-->
    <div class="form-field margin-right">
        <label>Referencia</label>
        <mat-form-field>
            <input matInput
                   placeholder="Referencia"
                   [(ngModel)]="articulo().referencia">
        </mat-form-field>
    </div>
    <div class="form-field"
         [class]="{'fec-cad-hidden': !mostrarCaducidad}">
        <label>Fecha de caducidad</label>
        <mat-form-field [class]="{'fec-cad-hidden': fecCadEdit}"
                        (click)="editFecCad()">
            <input matInput
                   placeholder="Fecha de caducidad"
                   [(ngModel)]="fecCad"
                   [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field [class]="{'fec-cad-hidden': !fecCadEdit}">
            <input matInput
                   placeholder="Fecha de caducidad"
                   [(ngModel)]="articulo().fechaCaducidad"
                   (keyup.enter)="checkFecCad()"
                   (blur)="checkFecCad()"
                   #fecCadValue>
        </mat-form-field>
    </div>
</div>

<div class="articulo-numbers-row">

    <div class="articulo-numbers">
        <div class="articulo-col">
            <div class="form-field-left">
                <label>Precio albarán</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           placeholder="Precio albarán"
                           class="align-right"
                           (blur)="setTwoNumberDecimal($event)"
                           (focus)="$event.target.select()"
                           (keyup)="updatePalb()"
                           [(ngModel)]="articulo().palb">
                    <span matTextSuffix>€</span>
                </mat-form-field>
            </div>
            <div class="form-field-left">
                <label>PUC</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           placeholder="Precio Unitario de Compra"
                           class="align-right"
                           (blur)="setTwoNumberDecimal($event)"
                           (focus)="$event.target.select()"
                           (keyup)="updatePuc()"
                           [(ngModel)]="articulo().puc">
                    <span matTextSuffix>€</span>
                </mat-form-field>
            </div>
            <div class="form-field-left margen">
                <label>Margen</label>
                <span (click)="abrirMargenes()">
                    {{ articulo().margen | fixedNumber }} %
                </span>
            </div>
            <div class="form-field-left">
                <label>PVP</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           placeholder="Precio de Venta al Público"
                           class="align-right"
                           (blur)="setTwoNumberDecimal($event)"
                           (focus)="$event.target.select()"
                           (keyup)="updateMargen()"
                           [(ngModel)]="articulo().pvp">
                    <span matTextSuffix>€</span>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="articulo-numbers">
        <div class="articulo-col">
            <div class="form-field-left fixed-height">
                <label>Descuento</label>
                <mat-slide-toggle color="primary"
                                  [(ngModel)]="articulo().descuento"
                                  (ngModelChange)="changeDescuento()">
                    {{ articulo().descuento ? 'Activado' : 'Desactivado' }}
                </mat-slide-toggle>
            </div>
            <div class="form-field-left"
                 [class]="{'hide': !articulo().descuento}">
                <label>Descuento</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           min="0"
                           max="100"
                           step="1"
                           placeholder="DTO"
                           class="align-right"
                           (blur)="setTwoNumberDecimal($event)"
                           (focus)="$event.target.select()"
                           (keyup)="updatePorcentajeDescuento()"
                           [(ngModel)]="articulo().porcentajeDescuento">
                    <span matTextSuffix>%</span>
                </mat-form-field>
            </div>
            <div class="form-field-left margen"
                 [class]="{'hide': !articulo().descuento}">
                <label>Margen (dto)</label>
                <span (click)="abrirMargenesDescuento()">
                    {{ (articulo().margenDescuento ?? 0) | fixedNumber }} %
                </span>
            </div>
            <div class="form-field-left"
                 [class]="{'hide': !articulo().descuento}">
                <label>PVP (dto)</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           placeholder="PVP"
                           class="align-right"
                           (blur)="setTwoNumberDecimal($event)"
                           (focus)="$event.target.select()"
                           (keyup)="updatePVPDescuento()"
                           [(ngModel)]="articulo().pvpDescuento">
                    <span matTextSuffix>€</span>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="articulo-numbers">
        <div class="articulo-col">
            <div class="form-field-left">
                <label>Stock</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           step="1"
                           placeholder="Stock"
                           [(ngModel)]="articulo().stock"
                           (focus)="$event.target.select()"
                           class="align-right">
                </mat-form-field>
            </div>
            <div class="form-field-left">
                <label>Stock mínimo</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           step="1"
                           placeholder="Stock mínimo"
                           [(ngModel)]="articulo().stockMin"
                           (focus)="$event.target.select()"
                           class="align-right">
                </mat-form-field>
            </div>
            <div class="form-field-left">
                <label>Stock máximo</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           step="1"
                           placeholder="Stock máximo"
                           [(ngModel)]="articulo().stockMax"
                           (focus)="$event.target.select()"
                           class="align-right">
                </mat-form-field>
            </div>
            <div class="form-field-left">
                <label>Lote óptimo</label>
                <mat-form-field class="campo-numero">
                    <input matInput
                           type="number"
                           step="1"
                           placeholder="Lote óptimo"
                           [(ngModel)]="articulo().loteOptimo"
                           (focus)="$event.target.select()"
                           class="align-right">
                </mat-form-field>
            </div>
        </div>
    </div>

</div>