<p>Estos son los accesos directos a artículos que has definido:</p>
<table mat-table
       [dataSource]="accesosDirectosDataSource"
       matSort
       class="mat-elevation-z2 ">

    <!-- Acceso directo -->
    <ng-container matColumnDef="accesoDirecto">
        <th class="center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Ordenar por acceso directo">
            Acceso directo
        </th>
        <td class="center"
            mat-cell
            *matCellDef="let element"> {{element.accesoDirecto}} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Ordenar por nombre">
            Nombre
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Borrar -->
    <ng-container matColumnDef="id">
        <th class="center"
            mat-header-cell
            *matHeaderCellDef
            sortActionDescription="Borrar">
            Borrar
        </th>
        <td class="center"
            mat-cell
            *matCellDef="let element">
            <button mat-icon-button
                    (click)="borrarAccesoDirecto($event, element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="accesosDirectosDisplayedColumns"></tr>
    <tr mat-row
        class="clickable"
        (click)="selectAccesoDirecto(row)"
        *matRowDef="let row; columns: accesosDirectosDisplayedColumns;"></tr>
</table>
<div [ngClass]="{'show': idArticulo() !== null}"
     class="asignar">
    <p>Asignar acceso directo al artículo:</p>
    <div>
        <label>Acceso directo</label>
        <mat-form-field subscriptSizing="dynamic">
            <input matInput
                   type="number"
                   step="1"
                   placeholder="Acceso directo"
                   [(ngModel)]="accesoDirecto"
                   #acccesoDirectoBox>
        </mat-form-field>
        <span>
            <button mat-flat-button
                    color="primary"
                    (click)="asignarAccesoDirecto()"
                    [disabled]="accesoDirecto() === null">
                Asignar
            </button>
        </span>
    </div>
</div>