.mat-form-field-no-bottom {
  .mat-form-field-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.form-field {
  display: inline-block;
  padding-right: 16px;
  box-sizing: border-box;

  .nombre-label {
    width: 40%;
  }

  &>label {
    display: block;
    line-height: 24px;
    font-weight: bold;
  }

  .ng-dirty {
    color: var(--form-modified);
  }
}

.form-field-left {
  display: inline-block;
  margin-right: 48px;

  label {
    display: inline-block;
    line-height: 24px;
    font-weight: bold;
    margin-right: 16px;
    min-width: auto;
    width: 80px;
    text-align: right;
  }

  span {
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  &.margen {
    line-height: 75px;

    span {
      width: 120px;
      text-align: right;
      outline: 1px solid #e0e0e0;
      height: 55px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 5px;
      padding-right: 8px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        outline: 2px solid #000;
      }
    }
  }
}

.form-field-left-short {
  display: inline-block;
  margin-right: 48px;
  margin-bottom: 16px;

  &>label {
    display: inline-block;
    line-height: 24px;
    font-weight: bold;
    margin-right: 16px;
  }
}

.margin-left {
  margin-left: 16px;
}

.margin-bottom {
  margin-bottom: 24px;
}

.mat-input-element.align-right {
  text-align: right;
}

.campo-numero {
  width: 120px;
}

.third-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.max-width {
  width: 100%;
}

.stats-box {
  margin-top: 16px;

  label {
    font-weight: bold;
    line-height: 24px;
  }

  .stats-table {
    border: 1px solid var(--table-data-border);
    border-radius: 6px;

    .stats-table-header {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid var(--table-data-border);
      text-align: center;
      background-color: var(--bg-color);
    }

    .stats-table-data {
      display: flex;
      flex-direction: column;
      max-height: 150px;
      overflow-y: auto;
    }

    .stats-table-row {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid var(--table-data-border);
    }

    .stats-table-row:last-child {
      border-bottom: 0;
    }

    .stats-table-col {
      flex: 1;
      padding: 8px;
      border-right: 1px solid var(--table-data-border);
    }

    .stats-table-col:last-child {
      border-right: 0;
    }

    .stats-table-col-3 {
      flex: 3;
    }

    .stats-table-col-5 {
      flex: 5;
    }

    .stats-table-col-center {
      text-align: center;
    }

    .stats-table-col-right {
      text-align: right;
    }
  }

  .stats-data {
    border: 1px solid var(--table-data-border);
    height: 150px;
    border-radius: 6px;
    margin-bottom: 16px;
  }

  .stats-controls {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .form-field-left {
    &>label {
      min-width: 100px;
      width: auto;
    }

    .nombre-label {
      width: 800px;
    }
  }

  .margin-right {
    margin-right: 60px;
  }
}