table {
    width: 100%;
    margin: 16px 0;

    .mat-mdc-header-cell {
        background-color: var(--table-header-bg) !important;
        font-size: 1.1em;

        &.center>.mat-sort-header-container {
            justify-content: center;
        }

        &.center {
            text-align: center;
        }

        &.right>.mat-sort-header-container {
            justify-content: flex-end;
        }

        &.right {
            text-align: right;
        }
    }

    .mat-mdc-cell {
        min-width: 122px;

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }

        &>.icon {
            vertical-align: middle;
        }

        &>div.pay-type {
            display: flex;
            align-items: center;
            height: 40px;
            justify-content: flex-end;

            &.margin {
                margin-right: 32px;
            }

            mat-icon {
                margin-left: 8px;
            }
        }
    }

    .mat-mdc-footer-cell {
        border-top: 1px solid #0000001f;

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }

    tr.clickable {
        transition: all .2s ease-in-out;

        &:hover {
            background-color: var(--table-header-bg) !important;
            cursor: pointer;
        }

        &.selected-row {
            background-color: var(--table-row-selected);
        }
    }
}