table {
    width: 100%;
    margin: 16px 0;

    .mat-mdc-header-cell {
        background-color: var(--table-header-bg) !important;
        font-size: 1.1em;

        &.center>.mat-sort-header-container {
            justify-content: center;
        }
    }

    .mat-mdc-cell {
        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }

        &>div.pay-type {
            display: flex;
            align-items: center;
            height: 48px;
            justify-content: flex-end;

            mat-icon {
                margin-right: 8px;
            }
        }
    }

    tr.clickable {
        transition: all .2s ease-in-out;

        &:hover {
            background-color: var(--table-header-bg);
            cursor: pointer;
        }

        &.selected-row {
            background-color: var(--table-row-selected);
        }
    }
}