<otpv-header selectedOption="ventas"
			 #header />

<otpv-ventas-tabs [showClose]="true"
				  (closeTabEvent)="cerrarVenta($event)"
				  (newTabEvent)="newVenta()"
				  (changeTabEvent)="startFocus()"
				  (selectClientEvent)="selectClient($event)"
				  (selectReservaEvent)="selectReserva($event)"
				  #tabs />
@for (venta of vs.list; track venta.id; let i = $index) {
<otpv-una-venta [ind]="i"
				[ngClass]="{'hidden':i !== vs.selected}"
				(deleteVentaLineaEvent)="deleteVentaLinea($event)"
				(endVentaEvent)="endVenta()"
				(openCajaEvent)="openCaja()"
				#ventas />
}