<otpv-header selectedOption="ventas"
			 #header />

<otpv-ventas-tabs [showClose]="true"
				  [ventas]="ventas()"
				  [selected]="selected()"
				  [cliente]="cliente"
				  (closeTabEvent)="cerrarVenta($event)"
				  (newTabEvent)="newVenta()"
				  (changeTabEvent)="changeTab($event)"
				  (selectClientEvent)="selectClient($event)"
				  (selectReservaEvent)="selectReserva($event)"
				  #tabs />
@for (venta of ventas(); track venta.id; let i = $index) {
<otpv-una-venta [ind]="i"
				[class]="{'hidden':i !== selected()}"
				(deleteVentaLineaEvent)="deleteVentaLinea($event)"
				(endVentaEvent)="endVenta()"
				(openCajaEvent)="openCaja()"
				#ventas />
}