<otpv-header selectedOption="compras" />

<mat-card class="compras">
    <mat-card-content>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab label="PEDIDOS">
                <otpv-compras-pedidos-list #compras />
            </mat-tab>
            <mat-tab label="MARCAS">
                <otpv-marcas #marcas />
            </mat-tab>
            <mat-tab label="PROVEEDORES">
                <otpv-proveedores #proveedores />
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>