<div class="buscar-marca">
    <mat-form-field class="buscador">
        <input matInput
               placeholder="Introduce el nombre a buscar"
               [(ngModel)]="search"
               autocomplete="off"
               #buscarMarcaBoxName>
    </mat-form-field>
    <div class="grid-items">
        @for (marca of filteredMarcas(); track marca.id) {
        <div class="item"
             (click)="selectMarca(marca)">
            @if (marca.foto !== null) {
            <img class="photo"
                 [src]="marca.foto"
                 [alt]="`Foto de ${marca.nombre}`">
            }
            {{ marca.nombre }}
        </div>
        }
    </div>
</div>