<otpv-header selectedOption="gestion" />

<mat-card class="empleados">
    <mat-card-content>
        <div class="flex-content">
            <aside>
                <mat-form-field class="search full-width"
                                subscriptSizing="dynamic">
                    <input matInput
                           placeholder="Nombre"
                           [(ngModel)]="search"
                           #searchBox>
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                </mat-form-field>
                <mat-action-list>
                    @for (empleado of es.empleados() | employeeListFilter:search; track empleado.id) {
                    <button mat-list-item
                            (click)="selectEmpleado(empleado)"
                            [class]="{'selected-client': selectedEmpleado.id === empleado.id}"
                            [style]="{'background-color': empleado.color}">
                        {{empleado.nombre}}
                    </button>
                    }
                </mat-action-list>
                @if (canNewEmployees) {
                <div class="new-employee">
                    <button mat-flat-button
                            color="primary"
                            (click)="newEmpleado()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Añadir empleado
                    </button>
                </div>
                }
            </aside>
            <main>
                <div [class]="{'show': start}"
                     class="start-message">Elige un empleado de la lista.</div>
                <div [class]="{'show': !start}"
                     class="main-body">
                    <form [formGroup]="form"
                          (ngSubmit)="onSubmit()">
                        <mat-tab-group dynamicHeight
                                       [selectedIndex]="selectedTab"
                                       (selectedIndexChange)="selectedTab = $event"
                                       #empleadoTabs>
                            <mat-tab label="DATOS">
                                <div>
                                    <div class="form-field max-width">
                                        <label>Nombre (*)</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Nombre"
                                                   formControlName="nombre">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="has-password">
                                    <mat-checkbox formControlName="hasPassword">
                                        Empleado con contraseña
                                    </mat-checkbox>
                                </div>
                                <div class="password-row"
                                     [class]="{'show': form.value.hasPassword}">
                                    <div class="form-field half-width">
                                        <label>Contraseña</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Contraseña"
                                                   formControlName="password"
                                                   type="password">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-field half-width">
                                        <label>Confirmar contraseeña</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Confirmar contraseeña"
                                                   formControlName="confirmPassword"
                                                   type="password">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field max-width">
                                        <label>Color</label>
                                        <mat-form-field class="max-width">
                                            <input matInput
                                                   placeholder="Color"
                                                   type="color"
                                                   formControlName="color">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                            @if (canChangeEmployeeRoles) {
                            <mat-tab label="PERMISOS">
                                <div class="rol-list">
                                    @for (group of list | keyvalue: originalRolGroupOrder; track group.key) {
                                    <div class="rol-group">
                                        <label>{{group.value.name}}</label>
                                        <div class="rol-list-items">
                                            @for (rol of group.value.roles | keyvalue: originalRolOrder; track rol) {
                                            <mat-checkbox [title]="rol.value.description"
                                                          [(ngModel)]="selectedRolList[rol.value.id]"
                                                          [ngModelOptions]="{standalone: true}">
                                                {{rol.value.name}}
                                            </mat-checkbox>
                                            }
                                        </div>
                                    </div>
                                    }
                                </div>
                            </mat-tab>
                            }
                            @if (canSeeStatistics) {
                            <!--mat-tab label="ESTADÍSTICAS">
                            </mat-tab-->
                            }
                        </mat-tab-group>
                        <div class="actions"
                             [class]="{'show': selectedTab !== 2}">
                            <div class="delete">
                                @if (form.value.id && canDeleteEmployees) {
                                <button mat-flat-button
                                        color="warn"
                                        type="button"
                                        (click)="deleteEmpleado()">Eliminar</button>
                                }
                            </div>
                            <div class="others">
                                <button mat-flat-button
                                        color="primary"
                                        [disabled]="!form.dirty"
                                        type="button"
                                        (click)="resetForm()">Cancelar</button>
                                <button mat-flat-button
                                        type="submit"
                                        color="primary"
                                        [disabled]="!form.valid || !canSaveChanges">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </mat-card-content>
</mat-card>